{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layoutprofile.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}


{% block sidbar %}
	<ul class="sidebar-menu">
    <li class="header">Menu principal</li>
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> <span> Informations personnelle</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-edit"></i> <span> Déposer une annonce</span>
      </a>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Annonces</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-circle-o"></i> Mes Frets</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Frets en cours</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-th"></i>
        <span>Trajets</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-circle-o"></i> Trajets en cours</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-book"></i>
        <span>Annonces sauvegardées</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-circle-o"></i> Frets sauvegardées</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Trajets sauvegardées</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Vihécules sauvegardées</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-share"></i> <span> Déconnexion</span>
      </a>
    </li>
  </ul>
{% endblock %}
		
		
{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  <div class="main-transporteur">
	  {% block Hellofret_body %}
	  {% endblock %}
  </div>

{% endblock %}