{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layoutfront.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block Hellofret_body %}
  {% endblock %}

{% endblock %}