{% extends "HellofretBackEndBundle::viewFret.html.twig" %}

{% block fret_view %}
		
		<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading">Type Déménagement :</div>
			  <div class="panel-body">{{ fret.typeDemenagement }}</div>
			</div>
		</div>
        <div class="col-md-6">
			<div class="panel panel-default">
              <div class="panel-heading">Details Déménagement :</div>
			  <div class="panel-body">{{ fret.detailsDemenagement }}</div>
			</div>
		</div>
						
{% endblock %}