{% extends "HellofretBackEndBundle::viewFret.html.twig" %}

{% block fret_view %}
		
		<div class="">
			<div class="panel panel-default">
			  <div class="panel-heading">Vehicule :</div>
			  <div class="panel-body">
			  
				  <table class="table table-hover table-even">
					<tbody><tr>
					  <th>Quantite</th>
					  <th>Modele</th>
					  <th>Etat</th>
					</tr>
					{% for voiture in fret.voitures %}
						<tr>
						  <td>{{voiture.quantite}}</td>
						  <td>{{voiture.modele}}</td>
						  <td>{{voiture.etat}}</td>
						  
						</tr>
					{% endfor %}
				  </tbody>
				</table>
			  
			  </div>
			</div>
		</div>
						
{% endblock %} 