{% extends "HellofretBackEndBundle::viewFret.html.twig" %}

{% block fret_view %}
		
		<div class="col-md-3">
			<div class="panel panel-default">
			  <div class="panel-heading">Genre :</div>
			  <div class="panel-body">{{ fret.genre }}</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="panel panel-default">
			  <div class="panel-heading">Quantite :</div>
			  <div class="panel-body">{{ fret.quantite }}</div>
			</div>
		</div>
						
{% endblock %}