{% extends "HellofretBackEndBundle::viewFret.html.twig" %}

{% block fret_view %}
		
		<div class="col-md-8">
			<div class="panel panel-default">
			  <div class="panel-heading">Nature Marchandise :</div>
			  <div class="panel-body">{{ fret.natureMarchandise }}</div>
			</div>
		</div>
        <div class="col-md-4">
			<div class="panel panel-default">
              <div class="panel-heading">Poids :</div>
			  {% if fret.poidsCertain is same as(false) %}
                    <div class="panel-body">{{ fret.poids }}</div>
              {% else %}
              		<div class="panel-body">Incertain</div>
              {% endif %}
              
			</div>
		</div>
        
		
						
{% endblock %}