{% extends "HellofretBackEndBundle::viewFret.html.twig" %}

{% block fret_view %}
		
		<div class="">
			<div class="panel panel-default">
			  <div class="panel-heading">Conteneur :</div>
			  <div class="panel-body">
			  
				  <table class="table table-hover">
					<tbody><tr>
					  <th>Quantite</th>
					  <th>Volume</th>
					  <th>poids</th>
					</tr>
					{% for conteneur in fret.conteneurs %}
						<tr>
						  <td>{{conteneur.quantite}}</td>
						  <td>{{conteneur.volume}}</td>
						  <td>{{conteneur.type}}</td>
						</tr>
					{% endfor %}
				  </tbody>
				</table>
			  
			  </div>
			</div>
		</div>		
						
{% endblock %}