{% extends "HellofretBackEndBundle::viewFret.html.twig" %}

{% block fret_view %}
		
		<div class="">
			<div class="panel panel-default">
			  <div class="panel-heading">Nature Marchandise :</div>
			  <div class="panel-body">{{ fret.natureMarchandise }}</div>
			</div>
		</div>
						
{% endblock %}