{% extends "HellofretBackEndBundle::viewFret.html.twig" %}

{% block fret_view %}
		
		<div class="">
			<div class="panel panel-default">
			  <div class="panel-heading">Palettes :</div>
			  <div class="panel-body">
			  
				  <table class="table table-hover table-even">
					<tbody><tr>
					  <th>Quantite</th>
					  <th>Volume</th>
					  <th>Poids</th>
					</tr>
					{% for palette in fret.palettes %}
						<tr>
						  <td>{{palette.quantite}}</td>
						  <td>{{palette.quantite}}</td>
						  <td>
						  	  {% if palette.poidsCertain is same as(false) %}
									{{ palette.poids }}
							  {% else %}
									Incertain
							  {% endif %}
						  </td>
						  
						</tr>
					{% endfor %}
				  </tbody>
				</table>
			  
			  </div>
			</div>
		</div>	
						
{% endblock %}