{% extends "HellofretBackEndBundle::layoutadmin.html.twig" %}

{% block title %}
  Mon compte - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}
<div class="page-admin">

   <section class="content">
   		<div class="row">
        	<div class="col-md-12">
            	Bienvenu dans votre espace administration !
            </div>
        </div>
   </section>
</div>

{% endblock %}