{% extends "HellofretBackEndBundle::layoutadmin.html.twig" %}

{% block title %}
  Aperçu transporteur - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}
<div class="page-profile">
  <!-- <section class="content-header">
          <h1>
            Informations
            <small>Général</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ path("hellofret_front_chargeur_index") }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Mon Compte</li>
          </ol>
   </section> -->
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice') %}
     <div class="col-md-12">
       <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>  <i class="icon fa fa-check"></i>
           
             {{ message }} 
            
          </h4> 
        </div>
      </div>
    {% endfor %}
   <section class="content">
      <div class="row">
    
      <div class="col-md-3">
        <div class="box box-primary">
          <div class="box-body box-profile">
            
            
             {% if  profil.logo.url is defined %}
              <img class="profile-user-img img-responsive img-circle" src="{{ asset(profil.logo.webPath) }}" alt="{{ profil.logo.alt }}">
            {% else %}
              <img class="profile-user-img img-responsive img-circle" src="{{ asset('images/photo-user.png') }}" alt="">
            {% endif %}
            
            <h3 class="profile-username text-center">{{ user.username|upper }}</h3>
          </div>
        </div>
      </div>  
      <div class="col-md-9">
        <div class="box box-primary">
          <div class="box-body box-profile"> 
              <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-user"></i> Informations</h3>
              </div>
              <div class="space-20"></div>
                   {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                      {# Les erreurs générales du formulaire. #}
                      {{ form_errors(form) }}
                                <div class="form-group"> 
                                  {{ form_label(form.raisonSociale, "Raison sociale", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                  <div class="col-sm-10"> 
                                     {{ form_widget(form.raisonSociale, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                     {{ form_errors(form.raisonSociale) }}
                                  </div>
                                </div>
                                <div class="form-group"> 
                                  {{ form_label(form.nomResponsable, "Nom responsable", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                  <div class="col-sm-10"> 
                                     {{ form_widget(form.nomResponsable, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                     {{ form_errors(form.nomResponsable) }}
                                  </div>
                                </div>
                                <div class="form-group"> 
                                  {{ form_label(form.nomCommercial, "Nom Commercial", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                  <div class="col-sm-10"> 
                                     {{ form_widget(form.nomCommercial, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                     {{ form_errors(form.nomCommercial) }}
                                  </div>
                                </div>
                                <div class="form-group"> 
                                  {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                  <div class="col-sm-10"> 
                                     {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                     {{ form_errors(form.adresse) }}
                                  </div>
                                </div>
                                <div class="form-group"> 
                                  {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                  <div class="col-sm-10"> 
                                     {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                     {{ form_errors(form.ville) }}
                                  </div>
                                </div>
                                <div class="form-group"> 
                                  {{ form_label(form.telephone, "Téléphone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                  <div class="col-sm-10"> 
                                     {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                     {{ form_errors(form.telephone) }}
                                  </div>
                                </div>
                                 <div class="form-group"> 
                                  {{ form_label(form.telephone2, "Téléphone 2", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                  <div class="col-sm-10"> 
                                     {{ form_widget(form.telephone2, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                     {{ form_errors(form.telephone2) }}
                                  </div>
                                </div>
                                <div class="form-group"> 
                                  {{ form_label(form.siteWeb, "Site Web", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                  <div class="col-sm-10"> 
                                     {{ form_widget(form.siteWeb, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                     {{ form_errors(form.siteWeb) }}
                                  </div>
                                </div> 
                                 
                              
                              {{ form_end(form) }}
                  </div>
                </div> 
            </div><!-- /.col -->
    
    </div>
   </section>
</div>

{% endblock %}