*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: 'Century Gothic',arial;
}
li{
	list-style: none;
}
body{
  position: relative;
}
.clear{

  float: none;
  clear: both;
  width: 100%;
}
input[type=password],
input[type=email],
input[type=text]  {
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    padding: 8px 2%;
    font-size: 12px;
    color:#222;
}
.boxed-block{
	max-width: 1173px;
	width: 100%;
	margin:0 auto;
}
.clear:before,
.clear:after 
{
	content: "";
	width: 100%;
	clear: both; 
	float: none;
	display: block;
}
.header a.logo {
	float: left;
}
.header ul {
	float: right;
}
.header{
	z-index: 2;
	position: relative;
  background: #000;
  background: url('../../images/content-header.jpg');
}
.home-page .header{ 
  background: none;
}
.header > div{
	padding: 20px 0;
}
.header ul li {
	display: inline-block;
	margin-left: 20px;
  position: relative;
}
.header ul li ul { 
  position: absolute;
  left: 0;
  top: 8px;
  width: 158px;
  background: #fff;
  padding: 5px;
  box-shadow: 0 3px 4px #000;
  display: none;
}
.header ul li:hover ul {  
  display: block;
}
 
.last-trajet .liens a:hover{
background: rgb(226, 188, 1) ;
color: rgb(0, 0, 0);
}
.header ul li ul li{
  display: block;
  margin-left: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}
.header ul li ul li:last-child{ 
  border-bottom:0!important;

}
.header ul li ul li:hover{
  background: #e2bc01;
  border-bottom: 1px solid #bf9d9d;
}

.header ul  {
    margin-top: 10px;

}
.header ul li a{
	color: #fff;
	text-decoration: underline;
}
.header.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    box-shadow: 0 2px 3px #B1B1B1;
    z-index: 9;
}
.header.fixed .toggle-menu ,
.header.fixed a.logo img {
   filter: invert(100%);
}
.header.fixed ul li a {
    color: #000; 
}
.header.fixed ul li.register a {
    color: #fff;
}
.header.fixed > div {
    padding: 10px 0;
}
.header ul li ul li a{
 color: #000;
 display: block;
 text-decoration: none;
}
.slide {
	background: url('../../images/img-slide.jpg');
	background-size: cover!important;
	height: 820px;
	position: relative;
	margin-top: -106px;
	z-index: 1;
	padding-top: 103px;
	clear: none;
}
.btn_{
	background: #212121;
	text-align: center;
	padding: 10px 30px;
	border-radius: 2px;
	color: #fff; 
	text-decoration: none!important;
	border:1px solid #666666;
	display: inline-block;
}
.header .login a{ 
	background: #e2bc01;
}
.slide h1 {
    text-align: right;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.slide h1 span { 
    color: #e2bc01; 
}
.slide .block-search {
    width: 100%;
    max-width: 466px;
    background: #dadada;
    float: right;
    border-radius: 3px;
    padding: 25px 32px;
    margin-top: 20px;
}
.slide .block-search h2{
    font-size: 26px;
    color: #000;
    text-align: center;
}
.slide .block-search span {
    display: block;
    background: rgb(226, 188, 1) none repeat scroll 0% 0%;
    height: 1px;
    width: 210px;
    margin: 10px auto;
}
.slide .block-search p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.slide .block-search ul{
    margin-left: 40px;
}
.slide .block-search li.radio{
  margin:5px 0;
}
.slide .block-search li select{
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
}
.slide .block-search li.mode{
margin-top: 30px;
}
.slide .block-search li.categorie{
margin-bottom: 30px;
}
.slide .block-search li.inputext input {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    max-width: 383px;
}
.slide .block-search form {
    padding-right: 32px;
    text-align: center;
}
.slide .block-search form .btn-search button{
    padding: 10px 80px;
    margin-top: 20px;
    background: #000000;
    border:0;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}
.login-wrapper .col-xs-8 .checkbox{
  text-align: left;
  margin-left: 5px;
}
.login-wrapper form {
    margin-bottom: 25px;
}
.glyphicon-lock::before {
    content: "🔒";
}
.login-wrapper .col-xs-4{
 padding: 0;
}
.slide .block-search form *{
    font-size: 12px;
}
input.depart{
	background: #fff url('../../images/depart.png') no-repeat 98% 6px;
}
input.arrivee{
	background: #fff url('../../images/arrivee.png') no-repeat 98% 6px;
}
.hf-globale div.depose-annonce > div {
	text-align: center;
}
.hf-globale div.depose-annonce > div  a{
	border:0;
	margin-top:30px;
	font-weight: bold;
	font-size: 17px;
}
.hf-globale div.depose-annonce > div  p{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
}
.hf-globale div.depose-annonce > div {
	padding-bottom: 40px;
}
.last-trajet{
	background:#e9e9e9;
	padding: 40px 0;
}
.last-trajet h2{
	 font-size: 27px;
	 color: #212121;
	 text-align: center;
	 text-transform: uppercase;
	 font-weight: bold;
  margin-bottom: 5px;
}
.last-trajet > div > p{
      text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.last-trajet .item {
    background: #222222;
    max-width: 369px;
    padding: 5px;
    width: 97%;
}
.last-trajet .logo-tranporteur {
    text-align: center; 
    padding: 7px;
    height: 73px;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: auto 81% !important;
    background-color: #fff !important;
}
.last-trajet h3 {
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   margin: 5px 0;
   font-weight: bold;
}
.last-trajet .item-1,
.last-trajet .item-2 {
    float: left;
   margin: 9px 0;
} 
.last-trajet .item  { 
    color: #fff;
    font-size: 13px;
    position: relative;
}
.last-trajet   label{ 
    color: #575656;
    font-weight: bold;
}
.last-trajet .mode .item-1 ,
.last-trajet .trajet .item-1{
   width: 58%; 
}
.last-trajet .mode .item-2,
.last-trajet .trajet .item-2  {
   width: 42%; 
}
.last-trajet .mode .item-1, 
.last-trajet .mode .item-2 {
    width: 100%;
} 
.last-trajet .expired-date {
    text-align: center;
    padding: 20px 0 5px;
    font-size: 11px;
    color: #A59999;
}
.last-trajet  .trajet label{ 
   padding-left: 15px;
   position: relative;
}
.last-trajet  .trajet .item-2 label{ 
   padding-left: 20px; 
}
.last-trajet  .trajet .depart label:before{ 
  width: 11px;
  content: "";
  display: inline-block;
  height: 20px;
  background:url('../../images/depart.png');
  left: 1px;
position: absolute;
top: -5px;
}
.last-trajet  .trajet .arrivee label:before{ 
  width: 11px;
  content: "";
  display: inline-block;
  height: 20px;
  background:url('../../images/arrivee.png');
  left: 1px;
position: absolute;
top: -5px;
}
.last-trajet  .trajet .item-2 label:before{ 
  width: 14px;
  content: "";
  display: inline-block;
  height: 14px;
  background:url('../../images/icon-date.png');
left: 0;
position: absolute;
top: -7px;
}
.aide-btn.active .aide-btn-head,
.aide-btn-head:hover{
  background-color: #ff9000!important; 

}
.aide-btn.active{
  border:1px solid #ff9000!important; 
}

.last-trajet .logo-tranporteur img{
  width: inherit;
  display: inline-block;
}

.last-trajet .liens a {
    display: inline-block;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    height: 80px;
    line-height: 36px;
    background: #fff;
    font-weight: bold;
    margin: 0;
    width: 100px;
}
.last-trajet .hover-item{
   position: absolute;
   left: 5px;
   right: 5px;
  background: RGB(34, 34, 34);
height: 241px;
  opacity: 0;
  transition: 0.4s;
  bottom: 0px;

  
}
.last-trajet .hover-item:hover{
  opacity: 1;
  cursor: pointer;
  transition: 0.4s;
  
}
.table{
  display: table;
  width: 100%;height: 100%;
  margin: 0;
}
.table > div{
  display: table-row;
}
.table > div > div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.owl-carousel .owl-controls .owl-nav .owl-prev{
  position: absolute;
  top: 124px;
  left: -30px;
  background: url("../../images/prev.png") no-repeat;
  text-indent: -9999999px;
  height: 23px;
  width: 15px;

}
.owl-carousel .owl-controls .owl-nav .owl-next{
  position: absolute;
  top: 124px;
  right: -19px;
  background: url("../../images/next.png") no-repeat;
  text-indent: -9999999px;
  height: 23px;
  width: 15px;
}
.confiance h3{
  font: Century Gothic;
  font-size: 27px;
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-top: 65px;
  margin-bottom: 45px;
}
.owl-carousel .owl-item img {
    width: inherit;
}
.owl-carousel1 .owl-controls .owl-nav .owl-next,
.owl-carousel1 .owl-controls .owl-nav .owl-prev{
   top: 60px;
}
.confiance {
  width: 100%
  max-width: 1019px;
  margin: auto;
  margin-bottom: 75px;
}
.owl-carousel1 > div a img{
   filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
.owl-carousel1 > div a img:hover{
   filter: grayscale(0%);
    -webkit-filter: grayscale(0%);  /* For Webkit browsers */
    filter: none;  /* For IE 6 - 9 */
   
}

.owl-carousel1 > div a {
  display: inline-block;
}

.owl-carousel1 > div {
  text-align: center;
}

.footer{
  background: #212121; 
}
.footer > div > div >img{
  margin-top: 18px;
}
.footer ul li {
  display: inline-block;
  float: left;
}
.footer ul li a{
  color: #aaaaaa;
  font-size: 13px;
  text-transform: uppercase;
  transition: 1s;
}
.footer ul{
  display: inline-block;
  float: right;
  margin-top: 33px;color: #aaaaaa;
}
.footer ul li a:hover{
 text-decoration: underline;
 transition: 1s;
}
.footer > div > div{
  border-bottom: 1px #474747 solid;
  padding-bottom: 6px;
}
.footer ul li span {
    padding-left: 3px;
    width: 30px;
    display: inline-block;
    text-align: center;
}
.footer > div > span{
  padding-left: 3px;
  color: #aaaaaa;
  font-size: 14px;
}
.echologie{
  width: 100%;
  text-align: center; 
}
.aide-btn{
  position: fixed;bottom: 0px; right: 20px; background: #fff; z-index: 10;
  border-radius: 5px 5px 0 0;width: 210px;transition:0.5s;
}
.aide-btn.active{
  padding: 1px;
  border-bottom: 0!important;
}
.aide-btn.active{
  transition:0.5s;
  width: 425px;border: 1px #e2bc01 solid; 
  padding-bottom: 10px;
}

.aide-btn input{
  display: block;
  border: 1px #898989 solid;
  width: 100%;
margin-bottom: 21px;
padding: 0 2%;
line-height: 34px;
height: 34px;
}
.aide-btn label{
  margin-bottom: 4px;
  display: block;
  font-size: 14px;
}
.aide-btn  textarea{
  border: 1px #898989 solid;
  height: 160px; 
  display: block;
  width: 100%;
  padding: 2%;

}
.aide-btn-head{
  cursor: pointer; font-weight: bold;
  width: auto; padding-left: 11px;border-radius: 5px 5px 0 0;
  line-height: 38px;
  background:  #e2bc01 url("../../images/aide.png") 96% center no-repeat;

}

.aide-btn.active .aide-btn-head {
    background:  #e2bc01 url("../../images/aide.png") 96% center no-repeat;
}
.aide-btn-content {
    padding: 10px;
    width: auto;
    display: none;
}
.aide-btn.active .aide-btn-content {
 
}
.aide-btn  button{
  background:#ff9000;
  float: right;
  margin-top: 23px; 
  width: 122px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 0;
border: 1px solid #ce7a0d;
}
.header .toggle-menu{
  width: 35px;
  height: 32px; 
  background: url('../../images/toggle-menu.png');
  float: right;
  margin-right: 20px;
  margin-top: 19px;
  display: none;
}
.header.fixed .toggle-menu{
    margin-right: 12px;
margin-top: 11px;
}
.header.fixed a.logo {
    float: left;
    width: 122px;
}
.header a.logo img{
   width: 100%;
   height: auto;
}
.owl-carousel .owl-item{
  text-align: center;
} 

.owl-carousel .owl-item .item { 
    display: inline-block;
    text-align: left;
}
.confiance .owl-item .item{
  text-align: center;
}

.pac-logo::after{
  display: none!important;
}
.btn_{ 
transition: all .2s;
}
.btn_:hover{
transform: scale(1.1);
transition: all .2s;
}
.login-wrapper{
  background: url('../../images/img-slide.jpg') 0 0 / 100% auto;
  background-size: cover;
  padding: 90px 0;
}
.login-wrapper .login-box {
    background: rgba(255, 255, 255, 0.25);
    padding: 15px 30px 30px;
    max-width: 500px; 
    width: 100%;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
.login-logo a, .register-logo a {
    color: #000;
}
 
.erreur-form{
	padding:10px;
	color:#F00;
	font-size:13px;
	text-align:center;
	font-weight:bold;
}
.login-box .valide-btn  {
   text-align: right;
   margin: 0;
}
.hf-block .hf-block-head{
  width: 90%;
  background: #152853;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  margin-bottom: -39px;
  z-index: 1;
  border-radius: 3px;
  position: relative;
}
.hf-block .hf-block-head *{
  margin: 0;
}
.hf-block .hf-block-head h2{
 font-size: 21px;
 text-transform: uppercase;
 font-weight: bold;
}
.hf-block .hf-block-head h4{
 font-size: 15px; 
 font-weight: bold;
}
.hf-block .hf-block-content{
background: #ebebeb;
border: 1px solid #c5c5c5;  
padding:12px; 

 padding-top: 60px;
} 
.page-inscription .hf-block .hf-block-content {
    padding: 60px 0px 0px;
    width: 100%;
    min-height: 968px;
    position: relative;
}
.page-inscription .hf-block .hf-block-content p{
 padding: 0 12px;
} 
.hf-block .hf-block-content img{
 width: 100%; 
 margin-bottom: 10px;
}
.page-inscription .hf-block-content .block-btn {
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 20px; 
}
.hf-block.chargeur .hf-block-content .block-btn {
position: absolute;
    width: 100%;
    bottom: 0;
}

.hf-block-content .block-btn{ 
text-align: right; 
}

.page-inscription   div.hf-block{
  float: left!important;
  width: 100%;
  max-width: 49%; 
}
div.hf-block{ 
  margin-bottom: 30px;
}
.page-inscription   div.hf-block.chargeur{
  float: right!important;  
}
.page-inscription   div.hf-block.chargeur .hf-block-head{
background: #9a7447;
}
div.hf-block .block-btn .btn_ {
    background: #152853;
    padding: 6px 50px;
    font-weight: bold;
    border-radius: 4px;
    border: 0;
}
.page-inscription   div.hf-block.chargeur .block-btn .btn_{
background: #9a7447;
}
.title-page h1 {
    text-transform: uppercase;
    font-size: 45px;
    padding: 15px 0;
}
body.header-fixed{
  padding-top: 102px;
}
.page-inscription-form  .hf-block-content{
  background: none;
}
.page-inscription-form .form-chargeur .hf-block-content {
    background: url('../../images/bg-inscription-chargeur.jpg') no-repeat left bottom;
    padding: 100px 30px 60px;
}
.page-inscription-form .form-chargeur .hf-block-head {
    background: #bc9a6d;
}
.page-inscription-form .form-chargeur  .hf-block-content > div {
    background: #e6dcd1; 
    border: 1px solid #c2b8ad;
}
.page-inscription-form .form-transporteur .hf-block-content {
    background: url('../../images/bg-inscription-transporteur.jpg') no-repeat left bottom;
    padding: 100px 30px 60px;
}
.right{
  float: right;
}
.left{
  float: right;
}
.page-inscription-form form > div{
  margin-bottom: 20px;
}
.page-inscription-form .hf-block-content > div{
  background: #c4c9d4;
  padding-top: 30px;
  padding-bottom: 10px;
  border: 1px solid #9ea5b4;
  box-shadow: -2px 2px 4px RGBA(0, 0, 0, 0.43);
}
.header ul li.mon-compte > a {
    display: block;
    background: #1a8cff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    min-width: 123px;
}
.header ul li.mon-compte ul {
    right: 0;
    top: 27px;
    left: auto;
    width: 100%;
} 

.annonce-filter .btn-search button{

  background: #1a8cff;

  font-weight: bold;

  font-size:20px; 

  height: 36px;

  line-height: 15px;

  margin-top: 49px;

  border: 0;

}
.annonce-filter .d-depart[type=text], 
.annonce-filter .d-arrivee[type=text]{
      width: 193px;
}
 

.annonce-filter {

  border: 1px #e5e5e5 solid;

  border-radius: 2px;

  overflow: hidden;

  padding: 20px 20px 5px;

}

.annonce-filter form,

.annonce-filter div{

  float: left;

}



.annonce-filter select{

  background: #000;

  width: 219px;

  color: #fff;

  font-weight: bold;

  text-transform: capitalize;

  height: 35px;

  padding-left: 9px;

  display: block;

  margin-bottom: 15px;

  border: 0;

}

.annonce-filter select option,

.annonce-filter select{

   padding-left: 9px;



}



.annonce-filter .inputext{

  width: 358px;

  margin-left: 18px;

}



.annonce-filter form{

  display: inline-block;

}

.d-depart,

.d-arrivee{

  background: url("../../images/icon-date.png") no-repeat 167px center;

  border: 1px #e5e5e5 solid;

  height: 36px;

  width: 193px;

  padding-left: 13px;

  display: block;

  margin-bottom: 13px;

  margin-left: 33px;

  margin-right: 17px;

}

.annonce-filter ul li{

  margin-bottom: 14px;



}

.annonce-content{

  margin-top: 19px;

}

.annonce-content li {

    padding: 13px 13px 2px 13px;

}

.annonce-left{

  width: 148px;

  float: left;

  overflow: hidden;

  text-align: center;



}

.annonce-left span{

  color: #f00;

  font-size: 10px;

}

.annonce-left > div {
    max-width: 148px;
    min-height: 146px;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    background-color: #fff !important;
}

.annonce-left img{ 

  width: 100%; 

}

.annonce-right{

 width: 393px;

float: right;

padding-left: 10px;

}
.annonce-fret .annonce-right,
.annonce-fret .annonce-left {
    width: 100%; 
}
.annonce-content{

  text-decoration: none;

}

.annonce-content li{

  float: left;

  width: 570px;

  border: 1px #c9d5e1 solid;

  border-radius: 2px;

  margin-bottom: 33px; 
  position: relative;
  overflow: hidden;

}
.deposer-une-annonce-voiture .img-voiture {
    height: 200px;
    box-shadow: 1px 1px 2px #aaa;
    margin-right: 2px;
    width: 33%;
}
.deposer-une-annonce-voiture .widget-user .widget-user-header {
    height: 72px;
}

.annonce-fret .annonce-content li{ 

  background: #e7f3ff;
  overflow: hidden;
  position: relative;

}

.annonce-trajet .annonce-content li{  
  border: 1px #dbc0c0 solid; 
  position: relative;
  background: #fbeeee;
  overflow: hidden; 
}
.annonce-trajet .annonce-content .btn-retour{  
  margin-bottom: 33px;
}

.annonce-content li:nth-child(2n+0){

  margin-left: 33px;

}
.annonce-right > .block-btns {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, 0.86);
    text-align: center;
    transition: 1s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
ul.annonce-content li:hover  .block-btns {
    position: absolute; 
    top: 0; 
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.annonce-right label {

    width: 100%;

    display: block;

    float: left;

    color: #6e6e6e;

}

.annonce-right label span {

    color: #000;

}

.annonce-right > div {

    clear: both;

    float: none;

    line-height: 33px;

} 
.annonce-right  .block-btns a {

    display: inline-block;
 
    background: #c3c3c3;

    text-align: center;

    color: #000;

    padding: 4px 0;

    border-radius: 4px;

    border: 1px solid #9e9f9f;

    font-size: 12px;

    font-weight: bold;

    line-height: 19px;
    margin-top: 11%;

}

.annonce-right  .block-btns a.proposer-devis { 

    background: #4cb944; 

    color: #fff;

    border: 1px solid #42a33b; 

}

.annonce-right  .block-btns a:hover{ 

    background: #1a8cff; 

    color: #fff;

    border: 1px solid #1770c9; 

}

.annonce-right .trajet label {

    width: 75%;

    float: left;

}

.annonce-right .trajet label.date-trajet {

    width: 25%; 

    position: relative;

}

.annonce-right .trajet label.date-trajet:before {

  width: 14px; 
  content: ""; 
  display: inline-block;
  background: url("../../images/icon-date.png") no-repeat  center;
	height: 14px;
  position: relative;
  left: -5px;
  top: 2px;
}
.wrapper-viewfret {
    max-width: 1000px;
    margin: 0 auto;
}
.widget-user-username.titre-annonce span {
    font-size: 15px;
    float: right;
}
.widget-user .widget-user-username { ;
    font-size: 29px; 
    font-weight: 600; 
} 
#map_canvas {
    margin-top: 30px;
}
.wrapper-viewfret .box { 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.29);
}
.wrapper-viewfret .block-connect {
    padding: 30px 0;
    text-align: center;
}
.wrapper-viewfret .block-connect a {
    margin-right: 10px;
}
.fos_user_resetting_reset label {
  margin-top: 20px;
}
.fos_user_resetting_reset .btn {
    margin-top: 20px;
}
.block-text p { 
    font-size: 17px;
    color: #fff; 
}
.block-text {  
    float: left;
}
.slide .block-search h2.h2 {
    font-size: 26px;
    color: #000;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
}


@media (max-width: 1178px) { 

.boxed-block {
  width: 96%; 
  margin: 0 auto;
} 
.owl-carousel .owl-controls .owl-nav .owl-next { 
    right: 27px; 
}
.owl-carousel .owl-controls .owl-nav .owl-prev { 
    left: 27px; 
}
.hf-globale div.confiance > div {
    width: 96%; 
}
.annonce-content {
    text-decoration: none;
    max-width: 820px;
    margin: 0 auto;
    margin-top: 20px;
}
.annonce-right .block-btns a { 
    margin-top: 8%;
}
.annonce-trajet .annonce-content li,
.annonce-vehicules .annonce-content li,
.annonce-fret .annonce-content li { 
    width: 100%;
}
.annonce-content li:nth-child(2n) {
    margin-left: 0;
}
.annonce-filter { 
    max-width: 823px;
    margin: 0 auto;
}
.annonce-filter form, .annonce-filter div {
    float: none;
    width: 100%;
}
.annonce-filter select option, .annonce-filter select {
    padding-left: 9px;
    width: 100%;
}
.annonce-filter .inputext {
    width: 100%;
    margin-left: 0;
}
.annonce-filter .d-depart,
.annonce-filter .d-arrivee {
    width: 100%;
    margin-left: 0;
    background-position: 96%;
}
.annonce-filter .btn-search button { 
    margin-top: 0; 
}
.annonce-filter .btn-search { 
    padding-bottom: 5px;
}
.annonce-right {
    max-width: 640px;
    float: left; 
    width: 100%;
}
.annonce-filter .d-depart[type="text"], .annonce-filter .d-arrivee[type="text"] {
    width: 100%;
    background-position: 98%;
}


}
@media (max-width: 800px) {  
.header .toggle-menu{
  display: inline-block;
}
.header ul { 
  display: none;
position: absolute;
right: 37px;
width: 230px;
top: 55px;
background: #fff;
padding: 5px;
box-shadow: 0 0 5px #000;
}
.header ul li {
    display: block;
    margin-left: 0;
    margin: 5px 0;
}
.header ul li:last-child {
   margin-bottom: 0;
}
.header ul li a{
  width: 100%;
  display: block;
  padding: 10px 0;
   color: #000; 
    text-align: center;
} 
.header ul li.register a{
 color: #fff;
} 

.page-inscription div.hf-block{
  width: 100%;
  max-width: 100%;
}
.hf-block .hf-block-head { 
    padding: 15px 10px;
}
.header ul li ul {
    position: static;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 13px;
    display: block;
    box-shadow: none;
}
.header.fixed > div > ul > li:first-child > a {
    color: #A49393;
}
.header ul ul li a { 
    padding: 2px 0; 
}
.header ul .login { 
    clear: both;
}
.header ul li ul li { 
    margin: 0;
}
.page-inscription-form .right,.page-inscription-form .left{
  float: none;clear: both;width: 100%;
}
.page-inscription-form .hf-block .hf-block-content { 
    padding: 230px 30px 30px;
    background-position: center 50px;
    background-size: 320px;
}
.page-inscription-form .form-chargeur .hf-block-content { 
    background-size: 220px;
}
.deposer-une-annonce-voiture .img-voiture { 
    width: 48%;
    margin: 0;
}
.annonce-right {
    max-width: 419px; 
}
.annonce-content { 
    max-width: 600px; 
}
.hf-block.chargeur .hf-block-content .block-btn {
position: static; 
}
.page-inscription .hf-block .hf-block-content { 
    min-height: auto; 
}


}@media (max-width: 639px) {  
 .slide h1 br {
   display: none;
}

.login-wrapper .login-box { 
    width: 96%; 
    margin: 0 auto;
}
.right,.left{
  float: none;clear: both;width: 100%;
}
 
.wrapper-viewfret .block-connect a {
    margin-right: 10px;
    clear: both;
    display: block;
    max-width: 160px;
    margin: 0 auto;
    margin-bottom: 12px;
}
.deposer-une-annonce-voiture .img-voiture { 
    width: 100%; 
}
.annonce-left span { 
    display: block;
}
.annonce-left {
    width: 100%;
    text-align: center;
}
.annonce-left > div {
    width: 148px;
    height: 146px; 
    display: inline-block;
}
.annonce-right { 
    margin-top: 10px;
    padding-left: 0;
}
.annonce-right > div { 
    line-height: 19px;
}
.annonce-right .trajet label,
.annonce-right .trajet label.date-trajet {
    width: 100%;
    float: none;
}
.annonce-right > div { 
    line-height: 19px; 
    margin: 6px 0;
	float: left;
}
.annonce-right .block-btns a { 
    margin-top: 33%;
}
.annonce-right .trajet label.date-trajet::before { 
    left: 0px; 
}
.annonce-right .block-btns a {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 10px;
    widows: 40px;
    min-width: 55px;
    min-height: 40px;
    height: 47px;
    background: #1A8CFF;
    color: #fff;
    border: 0;
    padding-top: 5px;
}
.annonce-right > .block-btns,
ul.annonce-content li:hover .block-btns{
    position: absolute;
    bottom: 0px;
    top: auto;
    height: 58px;
    width: 68px;
    right: 0px;
    left: auto;
    padding-top: 10px;
    background: transparent;
}
.annonce-filter .btn-search button { 
    display: block;
    max-width: 100%;
    width: 100%;
}


}@media (max-width: 480px) {  
.slide h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}
.slide .block-search h2 {
    font-size: 14px; 
}
.slide .block-search {
    width: 96%;
    max-width: 100%; 
    border-radius: 3px;
    padding: 25px 2%; 
    border: 1px solid #c2c2c2;
}
.slide .block-search ul {
    margin-left: 10px;
}
.slide .block-search form {
    padding-right: 10px; 
}
.slide .block-search li.inputext input {
    width: 95%; 
}
.slide .block-search li.mode {
    margin-top: 10px;
}
.slide .block-search li.categorie {
    margin-bottom: 10px;
}
.slide {
    padding-top: 122px; 
}
.hf-globale div.depose-annonce > div p { 
    font-size: 13px;
}
.hf-globale div.depose-annonce > div a { 
    font-size: 14px;
}
.slide .block-search{
  float: none;
margin: 0px auto;
}
.slide .block-search h2.h2{
  font-size: 17px;
margin-bottom: -10px;
}
.block-text p {
    font-size: 13px; 
}
.block-text {
    float: none;
    padding: 0 10px;
}
.last-trajet h2 {
    font-size: 17px; 
}
.confiance h3 { 
    font-size: 17px; 
}
.footer ul { 
    float: none; 
    width: 200px;
    margin: 10px auto;
    display: block;
    text-align: center;
}
.footer > div > span { 
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.footer ul li span {
   display: none;
}
.footer ul li {
    display: block;
    float: none;
}
.footer > div > div > img {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}
.footer > div > div.echologie { 
    padding-bottom: 70px;
}
.aide-btn { 
    right: 2%; 
    width: 95%; 

}
.aide-btn.active { 
    width: 94%; 
    transition: 0s;
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
    display: none!important;
}
.slide .block-search li.inputext input {
    width: 97%;
}
.header ul {
    right: 0;
    width: 100%;
    top: 64px;
    margin-top: 0;
    box-shadow: 0px 1px 2px #555;
}
.header.fixed ul { 
    top: 66px; 
}
.btn_:hover {
    transform: none; 
}
.hf-block .hf-block-head h4 {
    font-size: 12px; 
}
.hf-block .hf-block-head h2 {
    font-size: 17px; 
}
.title-page h1 { 
    font-size: 25px;
    padding: 7px 0;
}
.header a.logo {
    float: left;
    width: 122px;
}
.header > div {
    padding: 9px 0;
}
.header .toggle-menu { 
    margin-right: 13px;
    margin-top: 6px; 
}
.page-inscription-form .hf-block .hf-block-content {
    padding: 230px 5px 5px; 
}
.page-inscription-form form > div { 
    padding: 0;
}
.page-inscription-form .hf-block .hf-block-content > div {
    padding-top: 20px;
    padding-bottom: 0px; 
}
.aide-btn input { 
    margin-bottom: 0px; 
    height: 30px;
}
.aide-btn textarea { 
    height: 120px; 
}
.header ul li:last-child { 
    clear: both; 
}
.header ul li.mon-compte > a { 
    padding-bottom: 16px;
}







}