{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layoutprofile.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}


{% block sidbar %}
	<ul class="sidebar-menu">
    <li class="header">Menu principal</li>
    <li>
      <a href="{{ path("hellofret_front_chargeur_index") }}">
        <i class="fa fa-user"></i> <span> Informations personnelles</span>
      </a>
    </li>
    <li>
      <a href="{{ path('hellofret_chargeur_fret_add')}}">
        <i class="fa fa-plus-square"></i> <span> Déposer une annonce</span>
      </a>
    </li>
	
	<li class="treeview">
      <a href="#">
        <i class="fa fa-cubes"></i>
        <span>Consulter les annonces</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ path('hellofret_front_frets')}}" target="_blank"><i class="fa fa-circle-o"></i> Frets</a></li>
        <li><a href="{{ path('hellofret_front_trajets')}}" target="_blank"><i class="fa fa-circle-o"></i> Trajets</a></li>
		<li><a href="{{ path('hellofret_front_vehicules')}}" target="_blank"><i class="fa fa-circle-o"></i> Véhicules</a></li>
      </ul>
    </li>
	<li>
      <a href="{{ path("hellofret_chargeur_fret_cours") }}">
        <i class="fa fa-cubes"></i> <span> Mes frets en ligne</span>
      </a>
    </li>
    <!--<li class="treeview">
      <a href="#">
        <i class="fa fa-cubes"></i>
        <span>Fret</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ path("hellofret_chargeur_fret_cours") }}"><i class="fa fa-circle-o"></i> Mes frets en ligne </a></li>
        <li><a href="{{ path("hellofret_chargeur_fret_all") }}"><i class="fa fa-circle-o"></i> Mes Frets</a></li>
		<li><a href="{{ path("hellofret_chargeur_fret_sauvgarder") }}"><i class="fa fa-circle-o"></i> Frets sauvegardées</a></li>
      </ul>
    </li>-->
    <li class="treeview">
      <a href="#">
        <i class="fa fa-exchange"></i>
        <span>Trajets</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
	  	<li><a href="{{ path("hellofret_chargeur_trajet_cible") }}"><i class="fa fa-circle-o"></i> Trajets en cours</a></li>
		<li><a href="{{ path("hellofret_chargeur_trajet_dispobible") }}"><i class="fa fa-circle-o"></i> Trajets disponible</a></li>
		<li><a href="{{ path('hellofret_chargeur_trajet_sauvgarder')}}"><i class="fa fa-circle-o"></i> Trajets sauvegardées</a></li>
      </ul>
    </li>
	<li class="treeview">
      <a href="#">
        <i class="fa fa-car"></i>
        <span>Véhicules</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
	  	<li><a href="{{ path("hellofret_chargeur_voiture_disponible") }}"><i class="fa fa-circle-o"></i>Véhicules disponibles</a></li>
		<li><a href="{{ path("hellofret_chargeur_voiture_sauvgarder") }}"><i class="fa fa-circle-o"></i>Véhicules sauvegardées</a></li>
      </ul>
    </li>
    
    <li>
      <a href="{{ path("fos_user_security_logout") }}">
        <i class="fa fa-power-off"></i> <span> Déconnexion</span>
      </a>
    </li>
  </ul>
{% endblock %}
		
		
{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  <div class="main-chargeur clear">
	  {% block Hellofret_body %}
	  {% endblock %}
  </div>

{% endblock %}