{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "HellofretBackEndBundle::layoutchargeur.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}


{% block sidbar %}
	{{ parent() }}
{% endblock %}
		
		
{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  <div class="main-transporteur">
	  
	  		<div class="deposer-une-annonce">
				<h1 class="content-header">Deposer Une Annonce</h1>
				<!-- Main content -->
        		<section class="content">
					<div class="block-add-annonce add-annonce-{{ slug }} clear">
						<div class="hf-block col-md-6 col-sm-8 right">
						  <div class="hf-block-head">
							<h2>Déposez gratuitement votre annonce</h2> 
						  </div>
						  <div class="hf-block-content clear"> 
							 <div>
							  	{% block fret_add_body %}
									Contenu des Formulaires
								{% endblock %}
							 </div>
						  </div>
						</div>
					</div>
				
				 
					
				</section><!-- /.content -->
			</div>
	  
  </div>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
    <script type="text/javascript">
      var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
	  
      var depart = document.getElementsByClassName('depart');
      var arrivee = document.getElementsByClassName('arrivee');
	  
	  depart = depart[0] ;
	  arrivee = arrivee[0] ;
	  
      autocomplete1 = new google.maps.places.Autocomplete(depart, options);
      autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);
		

    </script>
	
{% endblock %}