{% extends "::layoutprofile.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}


{% block sidbar %}
	<ul class="sidebar-menu">
    <li class="header">Menu principal</li>
    <li>
      <a href="{{ path("hellofret_front_transporteur_index") }}">
        <i class="fa fa-user"></i> <span> Informations personnelles</span>
      </a>
    </li>
	<li class="treeview">
      <a href="#">
        <i class="fa fa-plus-square"></i>
        <span>Déposer une annonce</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ path("hellofret_transporteur_trajet_add") }}"><i class="fa fa-circle-o"></i>Déposer un trajet</a></li>
		<li><a href="{{ path('hellofret_transporteur_voiturelocation_add')}}" target="_blank"><i class="fa fa-circle-o"></i>Déposer une Véhicule</a></li>
      </ul>
    </li>
	<li class="treeview">
      <a href="#">
        <i class="fa fa-cubes"></i>
        <span>Consulter les annonces</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ path('hellofret_front_frets')}}" target="_blank"><i class="fa fa-circle-o"></i> Frets</a></li>
        <li><a href="{{ path('hellofret_front_trajets')}}" target="_blank"><i class="fa fa-circle-o"></i> Trajets</a></li>
		<li><a href="{{ path('hellofret_front_vehicules')}}" target="_blank"><i class="fa fa-circle-o"></i> Véhicules</a></li>
      </ul>
    </li>
	<li class="treeview">
      <a href="#">
        <i class="fa fa-cubes"></i>
        <span>Frets</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ path("hellofret_front_diponible") }}"><i class="fa fa-circle-o"></i>Fret en cours</a></li>
		<li><a href="{{ path("hellofret_front_diponible") }}"><i class="fa fa-circle-o"></i>Fret disponible</a></li>
		<li><a href="{{ path("hellofret_transporteur_fret_sauvgarder") }}"><i class="fa fa-circle-o"></i>Frets sauvegardés</a></li>
      </ul>
    </li>
	
	<li class="treeview">
      <a href="#">
        <i class="fa fa-exchange"></i>
        <span>Trajets</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
		<li><a href="{{ path("hellofret_transporteur_trajet_encours") }}"><i class="fa fa-circle-o"></i>Mes trajets en ligne</a></li>
		<li><a href="{{ path("hellofret_transporteur_trajet_sauvgarder") }}"><i class="fa fa-circle-o"></i>Trajets sauvegardés</a></li>
      </ul>
    </li>
	
	<li class="treeview">
      <a href="#">
        <i class="fa fa-car"></i>
        <span>Véhicules</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ path("hellofret_transporteur_mesvoiture") }}"><i class="fa fa-circle-o"></i>Mes véhicules en ligne</a></li>
		<li><a href="{{ path("hellofret_transporteur_voiture_sauvgarder") }}"><i class="fa fa-circle-o"></i>Véhicules sauvegardés</a></li>
      </ul>
    </li>
	
	<li>
      <a href="{{ path("fos_user_security_logout") }}">
        <i class="fa fa-power-off"></i> <span> Déconnexion</span>
      </a>
    </li>
    
  </ul>
{% endblock %}
		
		
{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  <div class="main-transporteur clear">
	  {% block Hellofret_body %}
	  {% endblock %}
  </div>

{% endblock %}