{% extends "::layoutadmin.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}


{% block sidbar %}
	<ul class="sidebar-menu">
    <li class="header">Menu principal</li>
    <!--<li>
      <a href="#">
        <i class="fa fa-dashboard"></i> <span> Informations personnelle</span>
      </a>
    </li>-->
	
	<li class="treeview">
      <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Annonces proposées</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ path("hellofret_admin_frets_attend") }}"><i class="fa fa-circle-o"></i> Frets proposées</a></li>
        <li><a href="{{ path("hellofret_admin_trajets_attend") }}"><i class="fa fa-circle-o"></i> Trajets proposées</a></li>
		<li><a href="{{ path("hellofret_admin_vehicules_attend") }}"><i class="fa fa-circle-o"></i> Véhicules proposées</a></li>
      </ul>
    </li>
	
    <li class="treeview">
      <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Annonces en ligne</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ path("hellofret_admin_frets_disponible") }}"><i class="fa fa-circle-o"></i> Frets en cours</a></li>
        <li><a href="{{ path("hellofret_admin_trajets_disponible") }}"><i class="fa fa-circle-o"></i> Trajets en cours</a></li>
		<li><a href="{{ path("hellofret_admin_vehicules_disponible") }}"><i class="fa fa-circle-o"></i> Véhicules en cours</a></li>
      </ul>
    </li>
	
	<li>
      <a href="{{ path("hellofret_admin_transporteur_all") }}">
        <i class="fa fa-files-o"></i> <span> Les transporteurs</span>
      </a>
    </li>
	
	<li>
      <a href="{{ path("hellofret_admin_chargeurs_all") }}">
        <i class="fa fa-files-o"></i> <span> Les chargeurs</span>
      </a>
    </li>
    
    <li>
      <a href="{{ path("fos_user_security_logout") }}">
        <i class="fa fa-share"></i> <span> Déconnexion</span>
      </a>
    </li>
  </ul>
{% endblock %}
		
		
{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  <div class="main-chargeur clear">
	  {% block Hellofret_body %}
	  {% endblock %}
  </div>

{% endblock %}