{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "HellofretBackEndBundle::layoutchargeur.html.twig" %}


{% block style %}

  {{ parent() }}
  {% stylesheets 'css/datepicker/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  
{% endblock %}


		
{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  <div class="main-transporteur clear">
	  
	  		<div class="deposer-une-annonce modifier-une-annonce">
				<h1 class="content-header">Modifier mon Annonce</h1>
				<!-- Main content -->
        		<section class="content">
					{% block fret_add_body %}
						Contenu des Formulaires
					{% endblock %}
				</section><!-- /.content -->
			</div>
	  
  </div>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
       <p>Vous voullez vraiment faire cett action ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Non</button>
        <a href="" data-form="">
          <button type="button" class="btn btn-danger">Oui</button>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  
  
  {% javascripts 
		'js/datepicker/bootstrap-datetimepicker.min.js'
		'js/datepicker/bootstrap-datepicker.js'
		'js/datepicker/bootstrap-datetimepicker.fr.js'
		'js/datepicker/daterangepicker.js'
		 filter='cssrewrite' %}
	<script src="{{ asset_url }}"></script> 
	{% endjavascripts %}
  
  
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
    <script type="text/javascript">
      var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
      var depart = document.getElementById('fret_villeDepart');
      var arrivee = document.getElementById('fret_villeArrivee');
	  var ruedepart = document.getElementById('fret_alimentation_rueDepart');
      var ruearrivee = document.getElementById('fret_alimentation_rueArrivee');

      autocomplete1 = new google.maps.places.Autocomplete(depart, options);
      autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);
	  autocomplete3 = new google.maps.places.Autocomplete(ruedepart, options);
      autocomplete4 = new google.maps.places.Autocomplete(ruearrivee, options);

    ;(function($){
      $.fn.datepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
        months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
        monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Déc"],
        today: "Aujourd'hui",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
      };
    }(jQuery));
  
      $('.d-depart, .d-arrivee').datepicker({
      language:"fr",
      closeText: 'Fermer',
      autoclose:"true",
      pickerPosition:"bottom-left",
      todayBtn:"true",
      startDate: new Date()
    });
	
	$( ".d-arrivee" ).change(function() {
	   if( $(".d-depart").val() > $(".d-arrivee").val()){
	   		alert("merci de renseigner une date arrivée supérieur au date de départ.");
			$(".d-arrivee").val("") ;
			return false;
	   }
	});
	
	
	$('.d-depart-flexible, .d-arrivee-flexible').daterangepicker({
		 "format": 'DD/MM/YYYY',
		 "timePicker":false,
		 "autoApply": true,
		 "opens": "left",
		 "locale":"fr",
		 "language":"fr"
	 });
	 $('.d-depart-flexible').on('apply.daterangepicker', function(ev, picker) {
		  $('.d-depart').val( picker.endDate.format('DD/MM/YYYY') );
	 });
	 $('.d-arrivee-flexible').on('apply.daterangepicker', function(ev, picker) {
		  $('#fret_dateArrivee').val( picker.endDate.format('DD/MM/YYYY') );
	 });
    
	$('.fret_departIsFlexible').click(function() {
		var $this = $(this);  
		if ($this.is(':checked')) {
			$(".d-depart").hide();
			$(".d-depart-flexible").show();
		} else {
			$(".d-depart").show();
			$(".d-depart-flexible").hide();
		}
	});
	
	$('.fret_arriveIsFlexible').click(function() {
		var $this = $(this);  
		if ($this.is(':checked')) {
			$(".d-arrivee").hide();
			$(".d-arrivee-flexible").show();
		} else {
			$(".d-arrivee").show();
			$(".d-arrivee-flexible").hide();
		}
	});
	
	if( $('.fret_departIsFlexible').is(":checked")  == true ){
		$('.d-depart').hide();
	}else{
		$('.d-depart-flexible').hide();
	}
	
	if( $('.fret_arriveIsFlexible').is(":checked") == true  ){
		$('.d-arrivee').hide();
	}else{
		$('.d-arrivee-flexible').hide();
	}
	
	

    </script>
	
	{% block javascripts_perso %}
	
	{% endblock %}
  
{% endblock %}