{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="calcul-height login-wrapper">
		<div class="table">
		  <div>
			<div>
				<div class="register-box">
					<div class="register-logo">
						<a href="#0">Succès</a>
					</div>
					<div class="register-box-body"> 
						<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
						{% if targetUrl %}
						<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
						{% endif %}
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>
{% endblock fos_user_content %}


