{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
	
	{% if app.request.get('type') != 'transporteur' %}
	
	<div class="page-inscription-form calcul-height clear"> 
	 <div  class="boxed-block wrapper clear">
		<div class="title-page">
			 <h1>INSCRIPTION</h1>
		</div>
		<div class="hf-block form-chargeur">
			<div class="hf-block-head">
				<h2>PARTICULIERS, COMMERCANTS ENTREPRISES</h2>
				<h4>* Inscrivez-vous maintenant en REMPLISSANT le formulaire suivant !!!</h4>
			</div>
			<div class="hf-block-content clear"> 
				 <div class="col-md-6 col-sm-8 right">
					<form action="{{ path("fos_user_registration_register", {'type': 'chargeur' }) }}" method="post">
						<div class="col-md-12" style="color:rgb(101, 16, 16)">
							{{ form_errors(form) }}
						</div>
						<div class="col-md-12">
							{{ form_widget(form.profile.nomResponsable,{'attr': {'placeholder': 'Nom et prénom*'}}) }}
						</div>
						<div class="col-md-12">
							{{ form_widget(form.profile.nomCommercial,{'attr': {'placeholder': 'Nom commercial*'}}) }}
						</div>
						<div class="col-md-12">
							{{ form_widget(form.email,{'attr': {'placeholder': 'Email*'}}) }}
						</div>
						<div class="col-md-12">
							{{ form_widget(form.username,{'attr': {'placeholder': "Nom d'utilisateur*"}}) }}
						</div>
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.profile.telephone,{'attr': {'placeholder': 'Télephone 1*'}}) }}
						</div>
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.profile.telephone2,{'attr': {'placeholder': 'Télephone 2'}}) }}
						</div>
						
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.plainPassword.first,{'attr': {'placeholder': 'Mot de passe*'}}) }}
						</div>
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.plainPassword.second,{'attr': {'placeholder': 'Retapez mot de passe*'}}) }}
						</div>
						{{ form_widget(form.profile.typeUser,{'attr': {'value': 'chargeur' }}) }}
						{{ form_rest(form) }}
						<div class="block-btn col-sm-6 right">
							<input class="btn_" type="submit" value="Valider" />
						</div>
					</form>
				 </div>
			</div>
		</div>
	 </div>
	</div>
	
	{% else %}
	
	<div class="page-inscription-form calcul-height clear"> 
	 <div  class="boxed-block wrapper clear">
		<div class="title-page">
			 <h1>INSCRIPTION</h1>
		</div>
		<div class="hf-block form-transporteur">
			<div class="hf-block-head">
				<h2>TRANSPORTEURS</h2>
				<h4>* Inscrivez-vous maintenant en REMPLISSANT le formulaire suivant !!!</h4>
			</div>
			<div class="hf-block-content clear"> 
				 <div class="col-md-6 col-sm-8 right">
					<form action="{{ path("fos_user_registration_register", {'type': 'transporteur' }) }}" method="post">
						<div class="col-md-12">
							{{ form_widget(form.profile.nomResponsable,{'attr': {'placeholder': 'Nom et prénom*'}}) }}
							<div class="text-danger">
								{{ form_errors(form.profile.nomResponsable) }}
							</div>
						</div>
						<div class="col-md-12">
							{{ form_widget(form.profile.nomCommercial,{'attr': {'placeholder': 'Nom commercial*'}}) }}
							<div class="text-danger">
								{{ form_errors(form.profile.nomResponsable) }}
							</div>
						</div>
						<div class="col-md-12">
							{{ form_widget(form.email,{'attr': {'placeholder': 'Email*'}}) }}
							<div class="text-danger">
								{{ form_errors(form.email) }}
							</div>
						</div>
						<div class="col-md-12">
							{{ form_widget(form.username,{'attr': {'placeholder': "Nom d'utilisateur*"}}) }}
							<div class="text-danger">
								{{ form_errors(form.username) }}
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.profile.telephone,{'attr': {'placeholder': 'Télephone 1*'}}) }}
							<div class="text-danger">
								{{ form_errors(form.profile.telephone) }}
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.profile.telephone2,{'attr': {'placeholder': 'Télephone 2'}}) }}
							<div class="text-danger">
								{{ form_errors(form.profile.nomResponsable) }}
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.plainPassword.first,{'attr': {'placeholder': 'Mot de passe*'}}) }}
							<div class="text-danger">
								{{ form_errors(form.plainPassword.first) }}
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							{{ form_widget(form.plainPassword.second,{'attr': {'placeholder': 'Retapez mot de passe*'}}) }}
							<div class="text-danger">
								{{ form_errors(form.plainPassword.second) }}
							</div>
						</div>
						{{ form_widget(form.profile.typeUser,{'attr': {'value': 'transporteur' }}) }}
						{{ form_rest(form) }}
						<div class="block-btn col-sm-6 right">
							<input class="btn_" type="submit" value="Valider" />
						</div>
					</form>
				 </div>
			</div>
		</div>
	 </div>
	</div>
	
	{% endif %}
	
{% endblock fos_user_content %}
