{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="form-group">
		{{ form_widget(form) }}
	</div>
    <div class="row valide-btn">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-block btn-flat" />
    </div>
{{ form_end(form) }}
