{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

   <title>{% block title %}hellofret.com{% endblock %}</title>
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  {% block style %}

	{% stylesheets 
	
	'css/aa-bootstrap.min.css'
	'css/ab-bootstrap3-wysihtml5.min.css'
	'css/ac-AdminLTE.min.css'
	'css/all-skins.min.css'
	'css/blue.css'
	'css/datepicker3.css'
	'css/daterangepicker-bs3.css'
	'css/jquery-jvectormap-1.2.2.css'
	'css/morris.css'
	'css/style-profile.css'
	 filter='cssrewrite' %}
	  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %} 
	
	
  {% endblock %}
</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

	<div id="header">
    	{% block header %}
			<header class="main-header">
				{# Logo #}
				<a href="{{ path("hellofret_front_index") }}" class="logo">
				  {# mini logo for sidebar mini 50x50 pixels #}
				  <span class="logo-mini"><b>A</b>LT</span>
				  {# logo for regular state and mobile devices #}
				  <span class="logo-lg"><b>Hello</b>Fret</span>
				</a>
				{# Header Navbar: style can be found in header.less #}
				<nav class="navbar navbar-static-top" role="navigation">
				  {# Sidebar toggle button#}
				  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				  </a>
				  <div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
					  
					  {# User Account: style can be found in dropdown.less #}
					  <li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <img src="{{ asset('/images/photo-user.png') }}" class="user-image" alt="User Image">
						  <span class="hidden-xs">{{ app.user.username|upper }}</span>
						</a>
						<ul class="dropdown-menu">
						  {# User image #}
						  <li class="user-header">
							<img src="{{ asset('/images/photo-user.png') }}" width="90" height="90" class="img-circle" alt="User Image">
							<p>
							  {{ app.user.username|upper }}
							  <small>Super Admin</small>
							</p>
						  </li>
						  {# Menu Body #}
						  <!--<li class="user-body">
							<div class="col-xs-4 text-center">
							  <a href="#">Followers</a>
							</div>
							<div class="col-xs-4 text-center">
							  <a href="#">Sales</a>
							</div>
							<div class="col-xs-4 text-center">
							  <a href="#">Friends</a>
							</div>
						  </li>-->
						  {# Menu Footer#}
						  <li class="user-footer">
							<div class="pull-left">
							  
								<a href="{{ path("hellofret_admin_index") }}" class="btn btn-default btn-flat">Profile</a>
							</div>
							<div class="pull-right">
							  <a href="{{ path("fos_user_security_logout") }}" class="btn btn-default btn-flat">Déconnexion</a>
							</div>
						  </li>
						</ul>
					  </li>
					  
					</ul>
				  </div>
				</nav>
			  </header>
        {% endblock %}
    </div>
	
	<div id="sidbar">
    	  
		<aside class="main-sidebar">
			<section class="sidebar">
				{# Sidebar user panel #}
				<div class="user-panel">
				<div class="pull-left image">
				  <img src="{{ asset('/images/photo-user.png') }}" class="img-circle" alt="User Image">
				</div>
				<div class="pull-left info">
				  <p>{{ app.user.username|upper }}</p>
				  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
				</div>
				{% block sidbar %}
				{% endblock %}
			</section>
		</aside>
    </div>
    
    <div id="content" class="content-wrapper">
    	{% block body %}
			Juste Content
        {% endblock %}
    </div>
	
    <div id="footer">
    	<p>Hellofret.com © {{ 'now'|date('Y') }}</p>
    </div>

</div>{# Fin wrapper #}


{% block javascripts %}
	{# Footer Script #}
	
	
	{% javascripts 
		'js/app.min.js'
		'js/bootstrap.min.js'
		'js/bootstrap3-wysihtml5.all.min.js'
		'js/dashboard.js'
		'js/demo.js'
		'js/fastclick.min.js'
		'js/jquery.knob.js'
		'js/jquery.slimscroll.min.js'
		'js/jquery.sparkline.min.js'
		'js/jquery-jvectormap-1.2.2.min.js'
		'js/jquery-jvectormap-world-mill-en.js'
		'js/morris.min.js'
		'js/script.js'
		 filter='cssrewrite' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
{% endblock %}



</body>
</html>