{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1" />

  <title>{% block title %}hellofret.com{% endblock %}</title>


  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  {% block style %}

	{% stylesheets 
	
	'css/aa-bootstrap.min.css'
	'css/front/owl.carousel.css'
	'css/ac-AdminLTE.min.css'
	'css/front/animate.css'
	'css/front/style.css'
	 filter='cssrewrite' %}
	  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %} 
	
	
  {% endblock %}
</head>

<body class="home-page">

<div class="hf-globale">

	{% block header %}
		<div class="header clear" id="header-site">
			<div class="boxed-block clear">
				<a class="logo" href="#">
					<img src="{{ asset('images/logo.png') }}">
				</a>
				<a class="toggle-menu" href="{{ path("hellofret_front_index") }}"></a>
				<ul>
					<li>
						<a href="#0">Consulter les annonces</a>
						<ul>
							<li>
								<a href="{{ path("hellofret_front_frets") }}">Fret</a> 
							</li>
							<li> 
								<a href="{{ path("hellofret_front_trajets") }}">Trajets</a> 
							</li>
							<li> 
								<a href="{{ path("hellofret_front_vehicules") }}">Véhicules</a>
							</li>
						</ul>
					</li>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li class="mon-compte">
						<a href="#0">
							<i class="fa fa-fw fa-user"></i> {{ app.user.username|upper }}
						</a>
						<ul>
							<li>
								{% if is_granted("ROLE_ADMIN") %}
									<a href="{{ path("hellofret_admin_index") }}">Administration</a>
								{% elseif is_granted("ROLE_TRANSPORTEUR") %}
									<a href="{{ path("hellofret_front_transporteur_index") }}">Mon compte</a>
								{% elseif is_granted("ROLE_CHARGEUR")  %}
									<a href="{{ path("hellofret_front_chargeur_index") }}">Mon compte</a>
								{% endif %}
							</li>
							<li>
								<a href="{{ path("fos_user_security_logout") }}" class="deconnexion">Déconnexion</a>
							</li>
						</ul>
					</li>
					{% else %}
						<li class="login">  
							<a href="{{ path("fos_user_security_login") }}" class="btn_">CONNEXION</a>
						</li>
						<li class="register">
							<a href="{{ path("hellofret_front_inscription") }}" class="btn_">INSCRIPTION</a> 
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
    {% endblock %}
	
	
	<div id="content">
    	{% block body %}
			Juste Content
        {% endblock %}
    </div>
	
	{% block footer %}
		<div class="footer clear">
			<div class="boxed-block">
					<div>
						<img src="{{ asset('images/logo-footer.png') }}">
						<ul>
							<li><a href="#">Comment ça marche</a></li>
							<li><span>|</span><a href="#">mentions légales</a></li>
							<li><span>|</span><a href="#">Qui sommes nous</a></li>
						</ul>
					</div>
					<span>© 2016 HelloOfret </span>
					<div class="echologie">
						<img src="{{ asset('images/image-footer.png') }}" />
					</div>
			</div>
		</div>
	{% endblock %}

</div>

{% block help %}

	<div class="aide-btn">
		 <div class="aide-btn-head">Besoin D’aide</div>
		 <div class="aide-btn-content overlay-wrapper">
		 	<div class="overlay" style="display:none">
				  <i class="fa fa-refresh fa-spin"></i>
			</div> 
			<form id="message-form">
				<label>Nom et prénom</label>
				<input type="text" name="nom" id="nom"/>
				<label>E-mail</label>
				<input type="text" name="email" id="email"/>
				<label>Sujet</label>
				<input type="text" name="sujet" id="sujet"/>
				<label>Message</label>
				<textarea name="message" id="message" row="50" col="50"></textarea>
				<button>Envoyer</button>
			</form>
			<div class="alert alert-success alert-dismissable" id="message-succes" style="display:none">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4>	<i class="icon fa fa-check"></i> Merci</h4>
				Votre message est bien envoyé !
			</div>
		 </div>
		</div> 
		
{% endblock %}		



{% block javascripts %}
	{# Footer Script #}
	
	
	{% javascripts 
		'js/front/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<script type="text/javascript" src="js/script.js"> </script>
	<script type="text/javascript">
		var options = {
		   types: ['(cities)']
		   ///componentRestrictions: {country: 'ma'}
		};
		var depart = document.getElementById('depart');
		var arrivee = document.getElementById('arrivee');
	
		autocomplete1 = new google.maps.places.Autocomplete(depart, options);
		autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);
	
	</script>
	
	
	
	<script>
  
	
  	function sendMessage(nom, email, sujet, message){
		$.ajax({
			url: "{{ path('hellofret_front_send_message') }}",
			type: 'POST',
			data: {'nom': nom, 'email': email, 'sujet': sujet, 'message': message },
			})
			.done(function( msg ) {
				$('#message-form').fadeOut();
				$('#message-succes').fadeIn();
				$('.overlay').fadeOut();
			});
	  }
	 
	 
	 
	$('.aide-btn-content #message-form button').click(function (e) {
		e.preventDefault();
		if( $('.aide-btn-content #nom').val() != "" && $('.aide-btn-content #email').val() != "" && $('.aide-btn-content #sujet').val() != "" && $('.aide-btn-content #message').val() != "" ){
			$('.overlay').fadeIn();
			var nom = $('.aide-btn-content #nom').val();
			var email = $('.aide-btn-content #email').val();
			var sujet = $('.aide-btn-content #sujet').val();
			var message = $('.aide-btn-content #message').val();
			sendMessage(nom, email, sujet, message) ;
		}
	})
	$('.interdiction_action').click(function (e) {
		$('#interdiction_action').show("slow");
	})
     
  </script>
	
{% endblock %}



</body>
</html>