{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

   <title>{% block title %}hellofret.com{% endblock %}</title>
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  {% block style %}

	{% stylesheets 
	
	'css/aa-bootstrap.min.css'
	'css/ab-bootstrap3-wysihtml5.min.css'
	'css/ac-AdminLTE.min.css'
	'css/all-skins.min.css'
	'css/blue.css'
	'css/datepicker3.css'
	'css/daterangepicker-bs3.css'
	'css/jquery-jvectormap-1.2.2.css'
	'css/morris.css'
	'css/style-profile.css'
	'css/datepicker/bootstrap-datetimepicker.css'
	 filter='cssrewrite' %}
	  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %} 
	
	
  {% endblock %}
</head>

{% if is_granted("ROLE_CHARGEUR") %}
     {% set role = "chargeur" %}
{% elseif  is_granted("ROLE_TRANSPORTEUR") %}
	{% set role = "transporteur" %}
{% else %}
	{% set role = "admin" %}
{% endif %}

<body class="hold-transition skin-blue sidebar-mini {{ role }}">

<div class="wrapper">

	<div id="header">
    	{% block header %}
			<header class="main-header">
				{# Logo #}
				<a href="{{ path("hellofret_front_index") }}" class="logo">
				  {# mini logo for sidebar mini 50x50 pixels #}
				  <span class="logo-mini"><b>H</b>F</span>
				  {# logo for regular state and mobile devices #}
				  <span class="logo-lg"><b>Hello</b>Fret</span>
				</a>
				{# Header Navbar: style can be found in header.less #}
				<nav class="navbar navbar-static-top" role="navigation">
				  {# Sidebar toggle button#}
				  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				  </a>
				  <div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
					  {# Messages: style can be found in dropdown.less#}
                      {% set count_message = get_count_notification("new_message") %}
					  <li class="dropdown messages-menu" id="ithem-menu1">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <i class="fa fa-envelope-o"></i>
						  <span class="label label-success">{{ count_message }}</span>
						</a>
						<ul class="dropdown-menu">
                          
						  <li class="header">Vous avez {{ count_message }} messages non lus</li>
						  <li>
							{# inner menu: contains the actual data #}
							{% set notifications = get_notification("new_message") %}
                            {% if notifications is empty %}
                            	<ul class="menu">
                                	<p>Vous avez pas de nouveau message.</p>
                                </ul>
                            {% else %}
                            	<ul class="menu">
                                  {% for notification in notifications %}
                                  {% if notification.etat is same as(false) %}
                                  		{% set notifetat = "novu" %}
                                  {% else %}
                                  		{% set notifetat = "vu" %}
                                  {% endif %}
                                  
                                  <li id="{{ notification.id }}" class="etat-{{ notifetat }}">
                                    <a href="{{ path('hellofret_notification_redirect', {'id': notification.id}) }}">
                                      <div class="pull-left">
                                        <img src="{{ asset(notification.prioritaire.profile.logo.webPath) }}" class="img-circle" alt="User Image">
                                      </div>
                                      <h4>
                                        {{ notification.prioritaire.username  }}
                                      </h4>
                                      <p>{{ notification.titre }}</p>
                                    </a>
                                  </li>
                                  {% endfor %}
                                </ul>
                            
                            	
                            {% endif %}
                            
                            
						  </li>
						  <!--<li class="footer"><a href="#">Voir tous les messages</a></li>-->
						</ul>
					  </li>
                      
                      {% set count_notification = get_count_notification("new_notification") %}
                      <li class="dropdown messages-menu" id="ithem-menu2">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <i class="fa fa-bell-o"></i>
						  <span class="label label-warning">{{ count_notification }}</span>
						</a>
						<ul class="dropdown-menu">
                          
						  <li class="header">Vous avez {{ count_notification }} notification non lus</li>
						  <li>
							{# inner menu: contains the actual data #}
							{% set notifications = get_notification("new_notification") %}
                            {% if notifications is empty %}
                            	<ul class="menu">
                                	<p>Vous avez pas de nouveau notification.</p>
                                </ul>
                            {% else %}
                            	<ul class="menu">
                                  {% for notification in notifications %}
                                  {% if notification.etat is same as(false) %}
                                  		{% set notifetat = "novu" %}
                                  {% else %}
                                  		{% set notifetat = "vu" %}
                                  {% endif %}
                                  
                                  <li id="{{ notification.id }}" class="etat-{{ notifetat }}">
								  	<a href="{{ path('hellofret_notification_redirect', {'id': notification.id}) }}">
                                      <div class="pull-left">
									  	{% if notification.prioritaire.id == 1 %}
											<img src="{{ asset("images/logo.png") }}" class="img-circle" alt="User Image">
										{% else %}
											<img src="{{ asset(notification.prioritaire.profile.logo.webPath) }}" class="img-circle" alt="User Image">
										{% endif %}
                                        
                                      </div>
                                      <h4>
                                        {{ notification.prioritaire.username  }}
                                      </h4>
                                      <p>{{ notification.titre }}</p>
                                    </a>
                                  </li>
                                  {% endfor %}
                                </ul>
                            
                            	
                            {% endif %}
                            
                            
						  </li>
						  <!--<li class="footer"><a href="#">Voir tous les messages</a></li>-->
						</ul>
					  </li>
                      
                      {% set count_notification_devis = get_count_notification("notification_devis") %}
                      <li class="dropdown messages-menu" id="ithem-menu3">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <i class="fa fa-flag-o"></i>
						  <span class="label label-danger">{{ count_notification_devis }}</span>
						</a>
						<ul class="dropdown-menu">
                          
						  <li class="header">Vous avez {{ count_notification_devis }} notification de devis non lus</li>
						  <li>
							{# inner menu: contains the actual data #}
							{% set notifications = get_notification("notification_devis") %}
                            {% if notifications is empty %}
                            	<ul class="menu">
                                	<p>Vous avez pas de nouveau notification.</p>
                                </ul>
                            {% else %}
                            	<ul class="menu">
                                  {% for notification in notifications %}
                                  {% if notification.etat is same as(false) %}
                                  		{% set notifetat = "novu" %}
                                  {% else %}
                                  		{% set notifetat = "vu" %}
                                  {% endif %}
                                  
                                  <li id="{{ notification.id }}" class="etat-{{ notifetat }}">
                                    <a href="{{ path('hellofret_notification_redirect', {'id': notification.id}) }}">
                                      <div class="pull-left">
                                        <img src="{{ asset(notification.prioritaire.profile.logo.webPath) }}" class="img-circle" alt="User Image">
                                      </div>
                                      <h4>
                                        {{ notification.prioritaire.username  }}
                                      </h4>
                                      <p>{{ notification.titre }}</p>
                                    </a>
                                  </li>
                                  {% endfor %}
                                </ul>
                            
                            	
                            {% endif %}
                            
                            
						  </li>
						  <!--<li class="footer"><a href="#">Voir tous les messages</a></li>-->
						</ul>
					  </li>
                      
                      
					  {# User Account: style can be found in dropdown.less #}
					  <li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <img src="{{ asset(app.user.profile.logo.webPath) }}" class="user-image" alt="User Image">
						  <span class="hidden-xs">{{ app.user.username|upper }}</span>
						</a>
						<ul class="dropdown-menu">
						  {# User image #}
						  <li class="user-header">
							<img src="{{ asset(app.user.profile.logo.webPath) }}" width="90" height="90" class="img-circle" alt="User Image">
							<p>
							  {{ app.user.username|upper }}
							  <small>Membre depuis {{ app.user.profile.dateInscription|date('d/m/Y') }}</small>
							</p>
						  </li>
						  {# Menu Body #}
						  <!--<li class="user-body">
							<div class="col-xs-4 text-center">
							  <a href="#">Followers</a>
							</div>
							<div class="col-xs-4 text-center">
							  <a href="#">Sales</a>
							</div>
							<div class="col-xs-4 text-center">
							  <a href="#">Friends</a>
							</div>
						  </li>-->
						  {# Menu Footer#}
						  <li class="user-footer">
							<div class="pull-left">
							  
								{% if is_granted("ROLE_TRANSPORTEUR") %}
									<a href="{{ path("hellofret_front_transporteur_index") }}" class="btn btn-default btn-flat">Profil</a>
								{% elseif is_granted("ROLE_CHARGEUR")  %}
									<a href="{{ path("hellofret_front_chargeur_index") }}" class="btn btn-default btn-flat">Profil</a>
								{% endif %}
							</div>
							<div class="pull-right">
							  <a href="{{ path("fos_user_security_logout") }}" class="btn btn-default btn-flat">Déconnexion</a>
							</div>
						  </li>
						</ul>
					  </li>
					  
					</ul>
				  </div>
				</nav>
			  </header>
        {% endblock %}
    </div>
	
	<div id="sidbar">
    	  
		<aside class="main-sidebar">
			<section class="sidebar">
				{# Sidebar user panel #}
				<div class="user-panel">
				<div class="pull-left image">
				  <img src="{{ asset(app.user.profile.logo.webPath) }}" class="img-circle" alt="User Image">
				</div>
				<div class="pull-left info">
				  <p>{{ app.user.username|upper }}</p>
				  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
				</div>
				{% block sidbar %}
				{% endblock %}
			</section>
		</aside>
    </div>
    
    <div id="content" class="content-wrapper">
    	{% block body %}
			Juste Content
        {% endblock %}
    </div>
	
    <div id="footer">
    	<p>Hellofret.com © {{ 'now'|date('Y') }}</p>
    </div>

</div>{# Fin wrapper #}


{% block javascripts %}
	{# Footer Script #}
	
	
	{% javascripts 
		'js/app.min.js'
		'js/bootstrap.min.js'
		'js/bootstrap3-wysihtml5.all.min.js'
		'js/dashboard.js'
		'js/demo.js'
		'js/fastclick.min.js'
		'js/jquery.knob.js'
		'js/jquery.slimscroll.min.js'
		'js/jquery.sparkline.min.js'
		'js/jquery-jvectormap-1.2.2.min.js'
		'js/jquery-jvectormap-world-mill-en.js'
		'js/morris.min.js'
		'js/script.js'
		'js/datepicker/bootstrap-datetimepicker.min.js'
		'js/datepicker/bootstrap-datepicker.js'
		'js/datepicker/bootstrap-datetimepicker.fr.js'
		'js/datepicker/daterangepicker.js'
		 filter='cssrewrite' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
	<script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
	
	<script type="text/javascript">
	
		
		
		$(document).on('click','.navbar-nav .dropdown.messages-menu > a.dropdown-toggle', function(e){
			$(this).find("span").text("0");
		})
		
		function updateNotificationByAnnonce(idannonce, url){
			$.ajax({
				url: "{{ path('hellofret_notification_updatebyannonce') }}",
				type: 'POST',
				data: {'idannonce': idannonce },
				})
				.done(function( msg ) {
					$(location).attr('href',url);
				});
		}
		
		
		$('.nbr-notification').click(function (e) {
			e.preventDefault();
			var idannonce = $(this).attr("id") ;
			var url = $(this).attr("href");
			updateNotificationByAnnonce(idannonce, url) ;
		})
		
		function getNewNotfication(profil){
			$.ajax({
					url: "{{ path('hellofret_notification_get_new') }}",
					type: 'POST',
					data: {'profil': profil },
					dataType: 'json',
					error: function (request, error) {
						console.log(arguments);
					},
					success: function(json){
						setTimeout(function(){
							
					  	$.each(json, function(index, value) { 
				
							showNotification(value.title, value.message, value.url);
							
							if( value.type == 'new_message' ){
								var count = parseInt($('#ithem-menu1 a.dropdown-toggle').find("span").text()) ;
								$('#ithem-menu1 a.dropdown-toggle').find("span").text(count+1) ;
								
								$( "#ithem-menu1 > ul.dropdown-menu > li ul.menu" ).prepend( '<li id="'+value.id+'" class="etat-novu"><a href="'+value.url+'#messages" target="_blank"><div class="pull-left"><img src="{{ asset("") }}'+value.image+'" class="img-circle" alt="User Image"></div><h4>'+value.title+'</h4><p>'+value.message+'</p></a></li>' );
								$( "#ithem-menu1 > ul.dropdown-menu > li ul.menu > p" ).remove();
								
							}else if( value.type == 'annonce_approuver' || value.type == 'edit_annonce' || value.type == 'demande_refuser' || value.type == 'new_demande' ){
								
								var count = parseInt($('#ithem-menu2 a.dropdown-toggle').find("span").text()) ;
								$('#ithem-menu2 a.dropdown-toggle').find("span").text(count+1) ;
								
								$( "#ithem-menu2 > ul.dropdown-menu > li ul.menu" ).prepend( '<li id="'+value.id+'" class="etat-novu"><a href="'+value.url+'#devis" target="_blank"><div class="pull-left"><img src="{{ asset("") }}'+value.image+'" class="img-circle" alt="User Image"></div><h4>'+value.title+'</h4><p>'+value.message+'</p></a></li>' );
								$( "#ithem-menu2 > ul.dropdown-menu > li ul.menu > p" ).remove();
								
							}else{
								
								var count = parseInt($('#ithem-menu3 a.dropdown-toggle').find("span").text()) ;
								$('#ithem-menu3 a.dropdown-toggle').find("span").text(count+1) ;
								
								$( "#ithem-menu3 > ul.dropdown-menu > li ul.menu" ).prepend( '<li id="'+value.id+'" class="etat-novu"><a href="'+value.url+'#devis" target="_blank"><div class="pull-left"><img src="{{ asset("") }}'+value.image+'" class="img-circle" alt="User Image"></div><h4>'+value.title+'</h4><p>'+value.message+'</p></a></li>' );
								$( "#ithem-menu3 > ul.dropdown-menu > li ul.menu > p" ).remove();
							}
							
					 	 });
					  	
					  	
					 	setTimeout(function(){
					  		getNewNotfication({{ app.user.id }});

					  		setTimeout(function(){
						  		
						  		razNotfication();
						  	}, 5000);

					  	}, 5000);

					  	

						}, 5000);
					  
				}
			});
		}
		
		
		function razNotfication(){
			$.ajax({
					url: "{{ path('hellofret_notification_raze') }}",
					type: 'POST',
					error: function (request, error) {
						console.log(arguments);
					}
			});
		}

		
		getNewNotfication({{ app.user.id }});

		function showNotification(title, message, url){
		
			$.notify({
				// options
				icon: 'fa fa-paw',
				title: title,
				message: message,
				url: url,
				target: '_blank'
			},{
				// settings
				element: 'body',
				position: null,
				type: "success",
				allow_dismiss: true,
				newest_on_top: false,
				showProgressbar: false,
				placement: {
					from: "bottom",
					align: "left"
				},
				offset: 20,
				spacing: 10,
				z_index: 1031,
				delay: 8000,
				timer: 1000,
				url_target: '_blank',
				mouse_over: 'pause',
				animate: {
					enter: 'animated fadeInDown',
					exit: 'animated fadeOutUp'
				},
				onShow: null,
				onShown: null,
				onClose: null,
				onClosed: null,
				icon_type: 'class',
				template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
					'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
					'<span data-notify="icon"></span> ' +
					'<span data-notify="title">{1}</span><br> ' +
					'<span data-notify="message">{2}</span>' +
					'<div class="progress" data-notify="progressbar">' +
						'<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
					'</div>' +
					'<a href="{3}" target="{4}" data-notify="url"></a>' +
				'</div>' 
			});
		
		}
	
	</script>
{% endblock %}



</body>
</html>