{% extends "HellofretBackEndBundle::layoutchargeur.html.twig" %}

{% block title %}
  Ajouter une catégorie - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	<h2>Ajouter Une catégorie</h2>
	{{ form_start(form) }}
	{{ form_row(form) }}
	{{ form_errors(form) }}
	
	<input type="submit" value="Ajouter">
	
	{{ form_rest(form) }}
	{{ form_end(form) }}

{% endblock %}