{% extends "HellofretBackEndBundle::layouttransporteur.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block style %}

  {{ parent() }}
  
{% endblock %}

{% block Hellofret_body %}
<div class="deposer-une-annonce">
  <h1 class="content-header">Deposer Une Annonce</h1>
  
  <!-- Main content -->
  <div class="col-md-12">
    <div class="box box-primary"> 
      <!-- /.box-header -->
      <div class="box-body">
        <section class="content">
          <div class="block-add-annonce block-add-vehicule clear">
            <div class="hf-block overlay-wrapper col-md-6 col-sm-8 right">
              <div class="overlay" style="display:none"> <i class="fa fa-refresh fa-spin"></i> </div>
              <div class="hf-block-head">
                <h2>Déposez gratuitement votre annonce</h2>
              </div>
              <section class="content-messages"> {# On affiche tous les messages flash dont le nom est « info » #}
                {% for message in app.session.flashbag.get('notice') %}
                <div class="col-md-12">
                  <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4> <i class="icon fa fa-check"></i> {{ message }} </h4>
                  </div>
                </div>
                {% endfor %} </section>
              <div class="hf-block-content clear">
                <div class="vihicule-add-annonce"> {{ form_start(form) }}
                  <p class="col-md-12"> {{ form_label(form.titre, "Titre de l'annonce", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.titre, {'attr': {'class': 'form-titre', 'placeholder':"Titre de l'annonce"}}) }}
                    {{ form_errors(form.titre) }} </p>
                  <p class="col-md-12"> {{ form_label(form.categorie, "Catégorie", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.categorie, {'attr': {'class': 'form-type'}}) }}
                    {{ form_errors(form.categorie) }} </p>
                  <p class="col-md-12"> {{ form_label(form.marque, "Marque", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.marque, {'attr': {'class': 'form-marque'}}) }}
                    {{ form_errors(form.marque) }} </p>
                  <p class="col-md-12"> {{ form_label(form.modele, "Modèle", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.modele, {'attr': {'class': 'form-modele'}}) }}
                    {{ form_errors(form.modele) }} </p>
                  <p class="col-md-12"> {{ form_label(form.informations, "Informations complémentaires", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.informations, {'attr': {'class': 'form-informations'}}) }}
                    {{ form_errors(form.informations) }} </p>
                  <p class="col-md-12"> {{ form_label(form.prix, "Prix", {'label_attr': {'class': 'form-label'}}) }}
                  
                  <p class="col-xs-10"> {{ form_widget(form.prix, {'attr': {'class': 'form-prix'}}) }} </p>
                  <p class="col-xs-2 prix-mad"> DH / Jour </p>
                  {{ form_errors(form.prix) }}
                  </p>
                  <p class="col-md-12"> {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.ville, {'attr': {'class': 'form-ville'}}) }}
                    {{ form_errors(form.ville) }} </p>
                  <p class="col-md-12"> {{ form_label(form.photos, "Photos", {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.photos, {'attr': {'class': 'form-photos',"required" : "false"}}) }}
                    {{ form_errors(form.photos) }} </p>
                  <p class="block-btn">
                    <input type="submit" class="btn_" value="Publier">
                  </p>
                  {{ form_rest(form) }}
                  {{ form_end(form) }} </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content --> 
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }} 
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
<script type="text/javascript">
      var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
      var ville = document.getElementById('voiture_location_ville'); 

      autocomplete1 = new google.maps.places.Autocomplete(ville, options); 

	  
	
		// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
		var $container = $('div#voiture_location_photos');
		// On ajoute un lien pour ajouter une nouvelle catégorie 
		var $addLink = $('<a href="#" id="add_category" class="btn btn-warning" title="Ajouter une photo">+</a>');
		$container.append($addLink); 
		// On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
		$addLink.click(function(e) {
		  addCategory($container);
		  e.preventDefault(); // évite qu'un # apparaisse dans l'URl
		  return false;
		});
	
		// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
		var index = $container.find(':input').length;
		// On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
		if (index == 0) {
		   addCategory($container);
		} else {
	
		  // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
		  $container.children('div').each(function() {
			addDeleteLink($(this));
		  });
		}
	
	
		// La fonction qui ajoute un formulaire Categorie
		function addCategory($container) {
		  // Dans le contenu de l'attribut « data-prototype », on remplace :
		  // - le texte "__name__label__" qu'il contient par le label du champ
		  // - le texte "__name__" qu'il contient par le numéro du champ
		  var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Image n°' + (index+1))
			  .replace(/__name__/g, index));
		  // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
		  addDeleteLink($prototype);
		  // On ajoute le prototype modifié à la fin de la balise <div>
		  $container.append($prototype);
		  // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
		  index++;
	
		}
		// La fonction qui ajoute un lien de suppression d'une catégorie
		function addDeleteLink($prototype) {
		  // Création du lien
		  $deleteLink = $('<a href="#" class="btn btn-danger" title="Supprimer cette photo">X</a>');
		  // Ajout du lien
		  $prototype.append($deleteLink);
		  // Ajout du listener sur le clic du lien
		  $deleteLink.click(function(e) {
			$prototype.remove();
			e.preventDefault(); // évite qu'un # apparaisse dans l'URL
			return false;
		  });
		}
	  
	
	</script> 
{% endblock %} 