{% extends "HellofretBackEndBundle::layouttransporteur.html.twig" %}

{% block title %}
  Modifier mon annonce - {{ parent() }}
{% endblock %}

{% block style %}

  {{ parent() }}
  
{% endblock %}

{% block Hellofret_body %}
  <div class="deposer-une-annonce">
    <h1 class="content-header">Modifier mon annonce</h1>
    
    
    <!-- Main content -->
    <section class="content"> 
    
    <div class="block-add-annonce clear">
            <div class="hf-block overlay-wrapper col-md-6 col-sm-8 right">
              <div class="overlay" style="display:none">
                  <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="hf-block-head">
                <h2>Modifier mon annonce</h2> 
              </div>
			  <section class="content-messages">
				   {# On affiche tous les messages flash dont le nom est « info » #}
				{% for message in app.session.flashbag.get('notice') %}
				 <div class="col-md-12">
				   <div class="alert alert-success alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					  <h4>  <i class="icon fa fa-check"></i>
					   
						 {{ message }} 
						
					  </h4> 
					</div>
				  </div>
				{% endfor %}
			  </section>
              <div class="hf-block-content clear">  
                 <div class="vihicule-add-annonce">
                    {{ form_start(form) }}
          
                    <p class="col-md-12">
					  {{ form_label(form.titre, "Titre de l'annonce", {'label_attr': {'class': 'form-label'}}) }}
                      {{ form_widget(form.titre, {'attr': {'class': 'form-titre', 'placeholder':"Titre de l'annonce"}}) }}
                      {{ form_errors(form.titre) }}
					</p>
					<p class="col-md-12">
					  {{ form_label(form.categorie, "Catégorie", {'label_attr': {'class': 'form-label'}}) }}
                      {{ form_widget(form.categorie, {'attr': {'class': 'form-type'}}) }}
                      {{ form_errors(form.categorie) }}
                    </p>
					
					<p class="col-md-12">
					  {{ form_label(form.marque, "Marque", {'label_attr': {'class': 'form-label'}}) }}
                      {{ form_widget(form.marque, {'attr': {'class': 'form-marque'}}) }}
                      {{ form_errors(form.marque) }}
                    </p>
                    
                    <div class="space-20"></div>
                    
                    <p class="col-md-12">
					  {{ form_label(form.modele, "Modèle", {'label_attr': {'class': 'form-label'}}) }}
                      {{ form_widget(form.modele, {'attr': {'class': 'form-modele'}}) }}
                      {{ form_errors(form.modele) }}
                    </p>
					<p class="col-md-12">
					  {{ form_label(form.informations, "Informations complémentaires", {'label_attr': {'class': 'form-label'}}) }}
                      {{ form_widget(form.informations, {'attr': {'class': 'form-informations'}}) }}
                      {{ form_errors(form.informations) }}
                    </p>
					<p class="col-md-12">
					  {{ form_label(form.prix, "Prix", {'label_attr': {'class': 'form-label'}}) }}
                      {{ form_widget(form.prix, {'attr': {'class': 'form-prix'}}) }} DH / Jour
                      {{ form_errors(form.prix) }}
                    </p>
					<p class="col-md-12">
					  {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'form-label'}}) }}
                      {{ form_widget(form.ville, {'attr': {'class': 'form-ville'}}) }}
                      {{ form_errors(form.ville) }}
                    </p>
					
					
                    <p class="block-btn">
                      <input type="submit" class="btn_" value="Enregistrer">
                    </p>
					
                    
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                 </div>
              </div>
            </div>
        </div>
    
    </section><!-- /.content -->
  </div>
{% endblock %}




