{% if is_granted("ROLE_ADMIN") %}
	{% set template = "HellofretBackEndBundle::layoutadmin.html.twig" %} 
{% elseif is_granted("ROLE_CHARGEUR")  %}
	{% set template = "HellofretBackEndBundle::layoutchargeur.html.twig" %}
{% elseif is_granted("ROLE_TRANSPORTEUR")   %}
 	{% set template = "HellofretBackEndBundle::layouttransporteur.html.twig" %}
{% else %}
	{% set template = "HellofretFrontBundle::layout.html.twig" %}
{% endif %}

{% extends  template  %}

{% block title %}
  Aperçu  Véhicule - {{ parent() }}
{% endblock %}


{% block Hellofret_body %}
<div class="deposer-une-annonce-voiture class">
  <h1 class="content-header">Aperçu  de Véhicule </h1>
  <!-- Main content -->
  <section class="content">
	  <div class="wrapper-viewfret">
	        <section class="content-messages"> {# On affiche tous les messages flash dont le nom est « info » #}
			      {% for message in app.session.flashbag.get('notice') %} 
			            <div class="alert alert-success alert-dismissable">
			          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			          <h4> <i class="icon fa fa-check"></i> {{ message }} </h4>
			        </div> 
			      {% endfor %} 
			</section>
		    <div class="col-md-12 no-padding view-voiture"> 
		      <!-- Widget: user widget style 1 -->
		      <div class="box box-widget widget-user"> 
		            <!-- Add the bg color to the header using any of the bg-* classes -->
		            <div class="widget-user-header bg-aqua-active viewfret ">
		          <h3 class="widget-user-username titre-annonce">{{ voiture.titre }} </h3>
		          <h5 class="widget-user-desc">...</h5>
		        </div>
		            <div class="box-footer">
		          <div class="row">
		                <div class="col-sm-6 border-right">
		              <div class="description-block">
		                    <h5 class="description-header">Catégorie :</h5>
		                    <span class="description-text">{{ voiture.categorie.titre }}</span> </div>
		              <!-- /.description-block --> 
		            </div>
		                <!-- /.col -->
		                <div class="col-sm-6">
		              <div class="description-block">
		                    <h5 class="description-header">Marque :</h5>
		                    <span class="description-text">{{ voiture.marque }}</span> </div>
		              <!-- /.description-block --> 
		            </div>
		                <!-- /.col --> 
		              </div>
		          <!-- /.row -->
		          <div class="space-20"></div>
		          <div class="space-20"></div>
		          <div class="row infotrajet">
		                <div class="col-md-6">
		              <div class="">
		                    <div class="box box-primary">
		                  <div class="box-header with-border">
		                        <h3 class="box-title">Modèle</h3>
		                        <div class="box-tools pull-right">
		                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    </div>
		                        <!-- /.box-tools --> 
		                      </div>
		                  <!-- /.box-header -->
		                  <div style="display: block;" class="box-body"> {{ voiture.modele }} </div>
		                  <!-- /.box-body --> 
		                </div>
		                    <!-- /.box --> 
		                  </div>
		              <div class="">
		                    <div class="box box-primary">
		                  <div class="box-header with-border">
		                        <h3 class="box-title">Ville</h3>
		                        <div class="box-tools pull-right">
		                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    </div>
		                        <!-- /.box-tools --> 
		                      </div>
		                  <!-- /.box-header -->
		                  <div style="display: block;" class="box-body"> {{ voiture.ville }} </div>
		                  <!-- /.box-body --> 
		                </div>
		                    <!-- /.box --> 
		                  </div>
		              
		            </div>
		                <div class="col-md-6">
		                	<div class="">
		                    <div class="box box-primary">
		                  <div class="box-header with-border">
		                        <h3 class="box-title">Prix</h3>
		                        <div class="box-tools pull-right">
		                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    </div>
		                        <!-- /.box-tools --> 
		                      </div>
		                  <!-- /.box-header -->
		                  <div style="display: block;" class="box-body"> {{ voiture.prix }} DH/ par jour </div>
		                  <!-- /.box-body --> 
		                </div>
		                    <!-- /.box --> 
		                  </div>
		              <div class="">
		                <div class="box box-primary">
		                  <div class="box-header with-border">
		                        <h3 class="box-title">Informations complémentaires</h3>
		                        <div class="box-tools pull-right">
		                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    </div>
		                        <!-- /.box-tools --> 
		                      </div>
		                  <!-- /.box-header -->
		                  <div style="display: block;" class="box-body"> {{ voiture.informations }} </div>
		                  <!-- /.box-body --> 
		                </div>
		                    <!-- /.box --> 
		               </div>
		            </div>
		              </div>
		          {# .row #}
		          <div class="row">
		          	<div class="col-md-12">
		          		<div class="box box-primary">
		                  <div class="box-header with-border">
		                        <h3 class="box-title">Photos</h3>
		                        <div class="box-tools pull-right">
		                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    </div>
		                        <!-- /.box-tools --> 
		                      </div>
		                  <!-- /.box-header -->
		                  <div style="display: block;" class="box-body">
		                   {% if  voiture.photos is defined %}
		                 
				                {% for photo in voiture.photos %}  
				                	<div  class="col-sm-4 img-voiture" style="background:url('{{ asset(photo.webPath) }}') no-repeat scroll center center / 60% auto;">  
					                </div> 
				                {% endfor %} 
					              

						    {% else %} 
						        <div class="alert alert-warning alert-dismissable">
	                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	                                <h4 style="margin:0"><i class="icon fa fa-warning"></i>Pas de photos</h4> 
	                            </div>
						    {% endif %} 
		               		</div>
		                  <!-- /.box-body --> 
		                </div> 
			        </div>
			             

				                
			                     
			              
			              
		          </div>{# .row #}
                  
                  <div class="row">
                  		
                        <div class="col-md-12">
                             <div class="box box-primary">
                                  <div class="box-body box-profile"> 
                                      <div class="box-header with-border">
                                        <h3 class="box-title"><i class="fa fa-user"></i> Informations du transporteur</h3>
                                      </div>
                                      <div class="box-body">
                                           <form class="form-horizontal">                      
                                            <div class="form-group"> 
                                              <div class="col-sm-5">
                                              <label class="col-sm-12 text-right">Raison sociale</label>
                                              </div>
                                              <div class="col-sm-7"> 
                                                 <label class="col-sm-12 text-left">{{ voiture.profil.profile.raisonSociale|videString }}</label>
                                                 
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                              <div class="col-sm-5">
                                              <label class="col-sm-12 text-right">Nom responsable</label>
                                              </div>
                                              <div class="col-sm-7"> 
                                                 <label class="col-sm-12 text-left">{{ voiture.profil.profile.nomResponsable|videString }}</label>
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                              <div class="col-sm-5">
                                              <label class="col-sm-12 text-right">Nom Commercial</label>
                                              </div>
                                              <div class="col-sm-7"> 
                                                 <label class="col-sm-12 text-left">{{ voiture.profil.profile.nomCommercial|videString }}</label>
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                              <div class="col-sm-5">
                                              <label class="col-sm-12 text-right">Adresse</label>
                                              </div>
                                              <div class="col-sm-7"> 
                                                 <label class="col-sm-12 text-left">{{ voiture.profil.profile.adresse|videString }}</label>
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                              <div class="col-sm-5">
                                              <label class="col-sm-12 text-right">Ville</label>
                                              </div>
                                              <div class="col-sm-7"> 
                                                 <label class="col-sm-12 text-left">{{ voiture.profil.profile.ville|videString }}</label>
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                              <div class="col-sm-5">
                                              <label class="col-sm-12 text-right">Téléphone</label>
                                              </div>
                                              <div class="col-sm-7"> 
                                                 <label class="col-sm-12 text-left">{{ voiture.profil.profile.telephone|videString }}</label>
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                              <div class="col-sm-5">
                                              <label class="col-sm-12 text-right">Téléphone 2</label>
                                              </div>
                                              <div class="col-sm-7"> 
                                                 <label class="col-sm-12 text-left">{{ voiture.profil.profile.telephone2|videString }}</label>
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                              <div class="col-sm-5">
                                              <label class="col-sm-12 text-right">Site Web</label>
                                              </div>
                                              <div class="col-sm-7"> 
                                                 <label class="col-sm-12 text-left">{{ voiture.profil.profile.siteWeb|videString }}</label>
                                              </div>
                                            </div> 
                                        </form>
                                      </div>
                                  </div>
                             </div> 
                        </div>
                        
                  </div>
                  
		          <div class="row block-bottom"> {% if not is_granted("ROLE_ADMIN") %}
		                
		                {% if is_granted("ROLE_TRANSPORTEUR") %}
		                
		                {% if app.user.id == voiture.profil.id %}
		                <div class="row">
			              <div class="col-xs-12">  
			              	<a class="btn btn-app edit-annonce" href="{{ path("hellofret_transporteur_voiture_edit", {'id': voiture.id }) }}">
			                    <i class="fa fa-edit"></i>Modifier mon annonce
			                </a>

			              	<a href="{{ path("hellofret_transporteur_voiture_delete", {'id': voiture.id }) }}" class="btn btn-app supp-annonce confirmation" data-message="Vous voulez vraiment supprimer cette annonce ?">
					            <i class="fa fa-remove"></i>Supprimer mon annonce
					        </a> 

			              	<a href="{{ path("hellofret_transporteur_voiture_booster", {'id': voiture.id }) }}" class="btn btn-app proposer-devis  confirmation" data-message="Vous voulez vraiment Booster cette annonce ?">
			                    <i class="fa fa-arrow-up"></i>Booster mon annonce
			                </a>

			              </div>
		            </div>
		                {% endif %}
		                
		                {% elseif is_granted("ROLE_CHARGEUR") %}  
			                <a  href="{{ path("hellofret_voiture_save", {'id': voiture.id }) }}" class="btn btn-app save-annonce  confirmation" data-message="Vous voulez vraiment sauvegarder cette annonce ?">
			                    <i class="fa fa-arrow-up"></i>sauvegarder cette annonce
			                </a>
			            {% endif %}
		                
		                {% endif %}
		                
		                {% if is_granted("ROLE_ADMIN") and voiture.disponible is same as(false) %}
		                <div class="row">
		              <div class="col-md-12"> <a  href="{{ path('hellofret_admin_vehicules_approuver', {'id': voiture.id}) }}"  class="btn btn-app save-annonce confirmation" data-message="Vous voulez vraiment Approuver cette annonce ?"> <i class="fa fa-check"></i>Approuver </a> </div>
		            </div>
		                {% endif %} </div>
		             <br>
            	<button type="button" class="btn btn-warning"  onclick="history.back()"><i class="fa fa-backward"></i> Retour</button>
		        </div>
		         
		          </div>
		    </div>

	   </div> 
  </section>
    <!-- /.content -->
</div>


<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
       <p>Vous voullez vraiment faire cett action ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Non</button>
        <a href="">
        	<button type="button" class="btn btn-danger">Oui</button>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %} 