{% extends "HellofretFrontBundle::layout.html.twig" %}

{% block title %}
  Bourse Véhicules- {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	<div class="calcul-height annonce-vehicules clear">

    <div class="wrapper boxed-block clear">

      <div class="title-page">

        <h1>ANNONCEs Véhicules</h1>

      </div>

      <ul class="annonce-content">
	  
	  	{% if voitures is empty %}
			<p>Désolé, Aucune annonce disponible pour l'instant !</p>
		{% else %}
		
			{% for voiture in voitures %}
			
				<li>

				  <div class="annonce-left">
		
					<div>
						{% if  voiture.photos is defined %} 
							<img src="{{ asset(voiture.photos[0].webPath) }}">
						{% else %} 
							<img src="{{ asset('images/img-voiture.jpg') }}">
						{% endif %}
					</div>
					
					
					{% set end = "now"|date('d/m/Y') %}
				  </div>	
				  <div class="annonce-right">
		
					<div class="ligne-1">
		
					  <label>Catégorie : <span>{{ voiture.categorie.titre }}</span></label>
		
					  <label>Marque : <span>{{ voiture.marque }}</span></label>
		
					</div>
					<div class="ligne-1">
		
					  <label>Ville : <span>{{ voiture.ville|shortString }}</span></label>
		
					  <label>Prix : <span>{{ voiture.prix }} DH/Jour</span></label>
		
					</div>
		
					<div class="block-btns"> 
					{% if is_granted("ROLE_ADMIN") %}
						<a href="{{ path('hellofret_admin_vehicule_view', {'id': voiture.id}) }}"  class="btn btn-app"> <i class="fa fa-search"></i> Aperçu</a> 
					{% elseif is_granted("ROLE_TRANSPORTEUR") %}
						<a href="{{ path('hellofret_transporteur_voiture_view', {'id': voiture.id}) }}"  class="btn btn-app"> <i class="fa fa-search"></i> Aperçu</a> 
					{% elseif is_granted("ROLE_CHARGEUR")  %}
						<a href="{{ path('hellofret_chargeur_voiture_view', {'id': voiture.id}) }}"  class="btn btn-app"> <i class="fa fa-search"></i> Aperçu</a> 
					{% else %}
						<a href="{{ path('hellofret_front_vehicule_view', {'id': voiture.id}) }}"  class="btn btn-app"> <i class="fa fa-search"></i> Aperçu</a> 
					{% endif %}
		
				  </div>
		
				</li>
			
			{% endfor %}
		
		{% endif %}
	  
	  	
	  </ul>

    </div>

  </div>

{% endblock %}