{% extends "HellofretFrontBundle::layout.html.twig" %}

{% block title %}
  Bourse Trajets- {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	<div class="calcul-height annonce-trajet clear">

    <div class="wrapper boxed-block clear">

      <div class="title-page">

        <h1>ANNONCEs Trajets</h1>

      </div>

      <div class="annonce-filter overlay-wrapper">
	<div class="overlay" style="display:none">
		<i class="fa fa-refresh fa-spin"></i>
    </div>
<form action="{{ path('hellofret_front_trajet_search') }}" method="post">
    <div>
    
      <select name="mode" id="fret_mode">
    	{% for mode in modes %}
        	<option value="{{ mode.id }}">{{ mode.titre }}</option>
    	{% endfor %}
      </select>
    
      <select name="categorie" id="fret_categorie">
    
        <option value="0">Type</option>
		<option value="Fret supplémentaire">Fret supplémentaire</option>
		<option value="Retour à vide">Retour à vide</option>
		<option value="Trajet régulier">Trajet régulier</option>
    
      </select>
    
    </div>
    
    <div>
    
      <ul>
    
        <li class="inputext">
    
          <input type="text" name="depart" class="depart" id="depart" placeholder="Départ">
    
        </li>
    
        <li class="inputext">
    
          <input type="text" name="arrivee" class="arrivee" id="arrivee" placeholder="Arrivée">
    
        </li>
    
      </ul>
    
    </div>
    
    <div>
    
      <input type="date" name="d-depart" class="d-depart" placeholder="date de départ"/>
    
      <input type="date" name="d-arrivee" class="d-arrivee" placeholder="date de arrivée" />
    
    </div>
    
    <div class="btn-search">
    
      <button type="submit" class="btn_"> Rechercher </button>
    
    </div>
</form>   
</div>

      <ul class="annonce-content">
	  
	  	{% if trajets is empty %}
  			<div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4 style="margin:0"><i class="icon fa fa-ban"></i> Désolé, Aucune annonce disponible pour l'instant !</h4> 
              </div>
              <div class="clear"></div>  
			  <a href="{{ path('hellofret_front_trajets') }}" class="btn btn-default btn-flat btn-retour"><i class="fa fa-backward"></i> Retour</a>
 	   
            </div><!-- /.col --> 
          </div>
  		{% else %}
		
			{% for trajet in trajets %}
			
				<li>

				  <div class="annonce-left">
		
					<div style="background:url('{{ asset(trajet.profil.profile.logo.webPath) }}') 0 0 / cover "></div>
					{% set end = "now"|date('d/m/Y') %}
					<span>Expire dans : {{ trajet.dateExpiration|diffToNow }}</span> </div>
		
				  <div class="annonce-right">
		
					<div class="ligne-1">
		
					  <label>Type : <span>{{ trajet.type }}</span></label>
		
					  <label>Mode : <span>{{ trajet.mode.titre }}</span></label>
		
					</div>
		
					<div class="trajet">
		
					  <label>Départ : <span>{{ trajet.villeDepart|shortString }}</span></label>
		
					  <label class="date-trajet"><span>
					  	{% if trajet.departIsFlexible == 1 %}
							{{ trajet.dateDepartFlexible[:10] }}
						{% else %}
							{{ trajet.dateDepart|date('d/m/Y') }}
						{% endif %}
					  </span></label>
		
					</div>
		
					<div class="trajet">
		
					  <label>Arrivée : <span>{{ trajet.villeArrive|shortString }}</span></label>
		
					  <label class="date-trajet"><span>
					  		{% if trajet.arriveIsFlexible == 1 %}
								{{ trajet.dateArriveeFlexible[:10] }}
							{% else %}
								{{ trajet.dateArrive|date('d/m/Y') }}
							{% endif %}
					  </span></label>
		
					</div>
		
					<div class="block-btns"> 
					{% if is_granted("ROLE_ADMIN") %}
						<a href="{{ path('hellofret_admin_trajet_view', {'id': trajet.id}) }}" class="btn btn-app">
               <i class="fa fa-search"></i> Aperçu
          </a> 
					{% elseif is_granted("ROLE_TRANSPORTEUR") %}
						<a href="{{ path('hellofret_transporteur_trajet_view', {'id': trajet.id}) }}" class="btn btn-app">
               <i class="fa fa-search"></i> Aperçu
          </a> 
					{% elseif is_granted("ROLE_CHARGEUR")  %}
						<a href="{{ path('hellofret_chargeur_trajet_view', {'id': trajet.id}) }}" class="btn btn-app">
               <i class="fa fa-search"></i> Aperçu
          </a> 
					{% else %}
						<a href="{{ path('hellofret_front_trajet_view', {'id': trajet.id}) }}" class="btn btn-app">
               <i class="fa fa-search"></i> Aperçu
          </a> 
					{% endif %}
		
				  </div>
		
				</li>
			
			{% endfor %}
		
		{% endif %}
	  
	  	
	  </ul>

    </div>

  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  
  {% javascripts 
    'js/datepicker/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  
  
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
    <script type="text/javascript">
      var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
      var depart = document.getElementById('fret_villeDepart');
      var arrivee = document.getElementById('fret_villeArrivee');

      autocomplete1 = new google.maps.places.Autocomplete(depart, options);
      autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);

    ;(function($){
      $.fn.datepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
        months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
        monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Déc"],
        today: "Aujourd'hui",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
      };
    }(jQuery));
  
      $('.d-depart, .d-arrivee').datepicker({
      language:"fr",
      closeText: 'Fermer',
      autoclose:"true",
      pickerPosition:"bottom-left",
      todayBtn:"true",
      startDate: new Date()
    });
    
    

    </script>
  
{% endblock %}