{% extends "layoutfront.html.twig" %}


{% block title %}
  Page Inscription
{% endblock %}


{% block body %}
	<div class="page-inscription calcul-height clear"> 
	 <div class="wrapper boxed-block clear">
		<div class="title-page">
			 <h1>INSCRIPTION</h1>
		</div>
		<div class="hf-block trasporteur">
			<div class="hf-block-head">
				<h2>TRANSPORTEURS</h2>
				<h4>Remplissez vos camions et améliorez votre <br>rentabilité d’exploitation</h4>
			</div>
			<div class="hf-block-content">
				<img src="{{ asset('images/inscription_transporeturs.jpg') }}">
				<p>- En publiant vos retours à vide, lignes régulières et trouvez du fret supplémentaires&nbsp;;</p>
	
				<p>- Recevez instantanément des demandes de transport des entreprises, commerçants, artisans, particuliers et messages via des notifications&nbsp;;</p>
	 
	
				<p>- Ayez un accès régulier et gratuit 24h/24 et 7j/7 aux demandes de transport des chargeurs&nbsp;; </p>
				<p>- Sous-traitez vos offres de transport non rentables et optez pour plus de groupage grâce aux frets que aurez choisi sur la plateforme&nbsp;;</p>
				<p>- Gagnez de nouvelles parts de marché, développez de nouveaux partenariats commerciaux et soumissionnez à des appels d’offre&nbsp;;</p>
				<p>- Bénéficiez d’un espace privé pour la gestion de vos demandes et offres de transport avec possibilité de géo localiser l’offre à l’échelle national et international&nbsp;;</p>
				<p>- Donnez de la visibilité à votre activité et devenez un transporteur moderne&nbsp;;</p>
				<p>- Louez camions, engins de manutention et tout autre équipement de transport sur notre bourse de véhicules&nbsp;;</p>
				<p>- Réduisez votre empreinte carbone sur l’environnement et devenez un éco-transporteur.</p>
	
				<div class="block-btn">
					<a href="{{ path("fos_user_registration_register", {'type': 'transporteur' }) }}" class="btn_">Je teste</a>
				</div>
			</div>
		</div>
	
		<div class="hf-block chargeur">
			<div class="hf-block-head">
				<h2>Particuliers, commercants, entreprises</h2>
				<h4>Simplifiez les procédures habituelles de recherche <br>de transport et gagnez du temps</h4>
			</div>
			<div class="hf-block-content">
				<img src="{{ asset('images/inscription_chargeur.jpg') }}">
				<p>- En partageant vos trajets et réduisez de plus de 50% de vos coûts de transport&nbsp;;</p>
	
				<p>- En recevant des devis de plusieurs transporteurs aux profils vérifiés et comparer&nbsp;;</p>
	
				<p>- En disposant d’un accès immédiat simple et gratuit aux offres des transporteurs 24h/24 et 7j/7&nbsp;;</p>
	
				<p>- En bénéficiant d’espace personnalisé pour la gestion de vos offres de transports avec possibilité
					de filtrer l’offre et la géo localiser à l’échelle national et international&nbsp;;
					 </p>
				<p>- En louant des camions, engins de manutention et tout autre équipement de transport&nbsp;;</p>
				<p>- Réduisez votre empreinte carbone sur l’environnement et devenez éco-chargeur.</p> 
	
				<div class="block-btn">
					<a href="{{ path("fos_user_registration_register", {'type': 'chargeur' }) }}" class="btn_">J'essaye</a>
				</div>
			</div>
		</div>
	 </div>
	</div>
{% endblock %}