{% extends "HellofretBackEndBundle::layoutchargeur.html.twig" %}

{% block title %}
  Frets Sauvegardée {{ parent() }}
{% endblock %}

{% block Hellofret_body %}
	<section class="content-header">
	  <h1>
		Frets
		<small>Sauvegardée</small>
	  </h1>
	  <ol class="breadcrumb">
		<li><a href="{{ path("hellofret_front_chargeur_index") }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
		<li class="active">Frets Sauvegardée</li>
	  </ol>
	</section>

<section class="content-messages">
   {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice') %}
     <div class="col-md-12">
       <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>  <i class="icon fa fa-check"></i>
           
             {{ message }} 
            
          </h4> 
        </div>
      </div>
    {% endfor %}
</section>
	
	<section class="content">
		
<div class="row fret-sauvgarder">
	<div class="col-xs-12">
		 <div class="box">
				<!-- <div class="box-header">
				  <h3 class="box-title">Mes frets</h3>
				</div> -->
				<div class="box-body table-responsive no-padding">
				  <table class="table table-hover table-even">
				  <thead>
					<tr>
					  <th>Titre</th>
					  <th>Départ</th>
					  <th>Arrivée</th>
					  <th>Date création</th>
					  <th>Date Expération</th>
					  <th width="87">Action</th>
					</tr>
					</thead>
					<tbody>
					{% for fret in frets %}
						<tr>
						  <td>{{ fret.titre }}</td>
						  <td>{{ fret.villeDepart }}</td>
						  <td>{{ fret.villeArrivee }}</td>
						  <td>{{ fret.dateCreation|date('d/m/Y') }}</td>
						  <td>
						  	{% if fret.dateExperation != "" %}
						  		{{ fret.dateExperation|date('d/m/Y') }}
							{% else %}
								Non spécifié
							{% endif %}
						  </td>
						  <td>
						  	<a href="{{ path('hellofret_chargeur_fret_view', {'id': fret.id}) }}" class="btn btn-app">
								<i class="fa fa-search"></i> Aperçu
						  	</a>
						  </td>
						</tr>
					{% endfor %}
					</tbody>
				  </table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>
</div>
		
		
		
	</section>
{% endblock %}



