{% extends "HellofretBackEndBundle::layoutchargeur.html.twig" %}

{% block title %}
  Voitures Sauvegarder - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}
	<section class="content-header">
	  <h1>
		Voitures
		<small>Sauvegarder</small>
	  </h1>
	  <ol class="breadcrumb">
		<li><a href="{{ path("hellofret_front_transporteur_index") }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
		<li class="active">Voitures Sauvegarder</li>
	  </ol>
	</section>

<section class="content-messages">
   {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice') %}
     <div class="col-md-12">
       <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>  <i class="icon fa fa-check"></i>
           
             {{ message }} 
            
          </h4> 
        </div>
      </div>
    {% endfor %}
</section>
	
	<section class="content">
		
<div class="row voiature-sauvgarder">
	<div class="col-xs-12">
		 <div class="box">
				<!-- <div class="box-header">
				  <h3 class="box-title">Mes trajets</h3>
				</div> -->
				<div class="box-body table-responsive no-padding">
				  <table class="table table-hover table-even">
				  <thead>
					<tr>
					  <th>Titre</th>
					  <th>Catégorie</th>
					  <th>Marque</th>
					  <th>Ville</th>
					  <th width="79">Action</th>
					</tr>
					</thead>
					<tbody>
					{% for voiture in voitures %}
						<tr>
						  <td>{{ voiture.titre }}</td>
						  <td>{{ voiture.categorie.titre }}</td>
						  <td>{{ voiture.marque }}</td>
						  <td>{{ voiture.ville }}</td>
						  <td>
						  	<a href="{{ path('hellofret_chargeur_voiture_view', {'id': voiture.id}) }}" class="btn btn-app">
								<i class="fa fa-search"></i> Aperçu
						  	</a>
						  </td>
						</tr>
					{% endfor %}
					</tbody>
				  </table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>
</div>
		
		
		
	</section>
{% endblock %}



