{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1" />

  <title>{% block title %}hellofret.com{% endblock %}</title>


  
  {% block style %}

	{% stylesheets 
	
	'css/aa-bootstrap.min.css'
	'css/front/owl.carousel.css'
	'css/ac-AdminLTE.min.css'
	'css/front/animate.css'
	'css/front/style.css'
	 filter='cssrewrite' %}
	  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
	
	
  {% endblock %}
</head>

<body class="home-page">

<div class="hf-globale">

	{% block header %}
		<div class="header clear" id="header-site">
			<div class="boxed-block clear">
				<a class="logo" href="#">
					<img src="{{ asset('images/logo.png') }}">
				</a>
				<a class="toggle-menu" href="{{ path("hellofret_front_index") }}"></a>
				<ul>
					<li>
						<a href="#0">Consulter les annonces</a>
						<ul>
							<li>
								<a href="#">Fret</a> 
							</li>
							<li> 
								<a href="#">Trajets</a> 
							</li>
							<li> 
								<a href="#">Véhicules</a>
							</li>
						</ul>
					</li>
					<li class="login">
						
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<a href="javascript:;" class="btn_" style="cursor: default;">Salut : {{ app.user.username|upper }}</a>
						{% else %}
							<a href="{{ path("fos_user_security_login") }}" class="btn_">CONNEXION</a>
						{% endif %}
					</li>
					<li class="register">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{% if is_granted("ROLE_TRANSPORTEUR") %}
								<a href="{{ path("hellofret_front_transporteur_index") }}" class="btn_">Mon compte</a>
							{% elseif is_granted("ROLE_CHARGEUR")  %}
								<a href="{{ path("hellofret_front_chargeur_index") }}" class="btn_">Mon compte</a>
							{% endif %}
							
							<a href="{{ path("fos_user_security_logout") }}" class="btn_ deconnexion">Déconnexion</a>
						{% else %}
							<a href="{{ path("hellofret_front_inscription") }}" class="btn_">INSCRIPTION</a>
						{% endif %}
						
					</li>
				</ul>
			</div>
		</div>
    {% endblock %}
	
	
	<div id="content">
    	{% block body %}
			Juste Content
        {% endblock %}
    </div>
	
	{% block footer %}
		<div class="footer clear">
			<div class="boxed-block">
					<div>
						<img src="{{ asset('images/logo-footer.png') }}">
						<ul>
							<li><a href="#">Comment ça marche</a></li>
							<li><span>|</span><a href="#">mentions légales</a></li>
							<li><span>|</span><a href="#">Qui sommes nous</a></li>
						</ul>
					</div>
					<span>© 2016 HelloOfret </span>
					<div class="echologie">
						<img src="{{ asset('images/image-footer.png') }}" />
					</div>
			</div>
		</div>
	{% endblock %}

</div>

{% block help %}

	<div class="aide-btn">
		 <div class="aide-btn-head">Besoin D’aide</div>
		 <div class="aide-btn-content">
			<form>
				<label>Nom et prénom</label>
				<input type="text" name="nom" id="nom"/>
				<label>E-mail</label>
				<input type="text" name="email" id="email"/>
				<label>Sujet</label>
				<input type="text" name="sujet" id="sujet"/>
				<label>Message</label>
				<textarea row="50" col="50"></textarea>
				<button>Envoyer</button>
			</form>
		
		 </div>
		</div> 
		
{% endblock %}		



{% block javascripts %}
	{# Footer Script #}
	
	
	{% javascripts 
		'js/front/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<script type="text/javascript" src="js/script.js"> </script>
	<script type="text/javascript">
		var options = {
		   types: ['(cities)']
		   ///componentRestrictions: {country: 'ma'}
		};
		var depart = document.getElementById('depart');
		var arrivee = document.getElementById('arrivee');
	
		autocomplete1 = new google.maps.places.Autocomplete(depart, options);
		autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);
	
	</script>
	
{% endblock %}



</body>
</html>