{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

   <title>{% block title %}hellofret.com{% endblock %}</title>
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  {% block style %}

	{% stylesheets 'css/*' %}
	  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
	
	
  {% endblock %}
</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

	<div id="header">
    	{% block header %}
			<header class="main-header">
				{# Logo #}
				<a href="index2.html" class="logo">
				  {# mini logo for sidebar mini 50x50 pixels #}
				  <span class="logo-mini"><b>A</b>LT</span>
				  {# logo for regular state and mobile devices #}
				  <span class="logo-lg"><b>Hello</b>Fret</span>
				</a>
				{# Header Navbar: style can be found in header.less #}
				<nav class="navbar navbar-static-top" role="navigation">
				  {# Sidebar toggle button#}
				  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				  </a>
				  <div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
					  {# Messages: style can be found in dropdown.less#}
					  <li class="dropdown messages-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <i class="fa fa-envelope-o"></i>
						  <span class="label label-success">4</span>
						</a>
						<ul class="dropdown-menu">
						  <li class="header">You have 4 messages</li>
						  <li>
							{# inner menu: contains the actual data #}
							<ul class="menu">
							  <li>{# start message #}
								<a href="#">
								  <div class="pull-left">
									<img src="{{ asset('images/xxx/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
								  </div>
								  <h4>
									Support Team
									<small><i class="fa fa-clock-o"></i> 5 mins</small>
								  </h4>
								  <p>Why not buy a new awesome theme?</p>
								</a>
							  </li>{# end message #}
							  <li>
								<a href="#">
								  <div class="pull-left">
									<img src="{{ asset('images/xxx/user3-128x128.jpg') }}" class="img-circle" alt="User Image">
								  </div>
								  <h4>
									AdminLTE Design Team
									<small><i class="fa fa-clock-o"></i> 2 hours</small>
								  </h4>
								  <p>Why not buy a new awesome theme?</p>
								</a>
							  </li>
							  <li>
								<a href="#">
								  <div class="pull-left">
									<img src="{{ asset('images/xxx/user4-128x128.jpg') }}" class="img-circle" alt="User Image">
								  </div>
								  <h4>
									Developers
									<small><i class="fa fa-clock-o"></i> Today</small>
								  </h4>
								  <p>Why not buy a new awesome theme?</p>
								</a>
							  </li>
							  <li>
								<a href="#">
								  <div class="pull-left">
									<img src="{{ asset('images/xxx/user3-128x128.jpg') }}" class="img-circle" alt="User Image">
								  </div>
								  <h4>
									Sales Department
									<small><i class="fa fa-clock-o"></i> Yesterday</small>
								  </h4>
								  <p>Why not buy a new awesome theme?</p>
								</a>
							  </li>
							  <li>
								<a href="#">
								  <div class="pull-left">
									<img src="{{ asset('images/xxx/user4-128x128.jpg') }}" class="img-circle" alt="User Image">
								  </div>
								  <h4>
									Reviewers
									<small><i class="fa fa-clock-o"></i> 2 days</small>
								  </h4>
								  <p>Why not buy a new awesome theme?</p>
								</a>
							  </li>
							</ul>
						  </li>
						  <li class="footer"><a href="#">See All Messages</a></li>
						</ul>
					  </li>
					  {# Notifications: style can be found in dropdown.less #}
					  <li class="dropdown notifications-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <i class="fa fa-bell-o"></i>
						  <span class="label label-warning">10</span>
						</a>
						<ul class="dropdown-menu">
						  <li class="header">You have 10 notifications</li>
						  <li>
							{# inner menu: contains the actual data #}
							<ul class="menu">
							  <li>
								<a href="#">
								  <i class="fa fa-users text-aqua"></i> 5 new members joined today
								</a>
							  </li>
							  <li>
								<a href="#">
								  <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
								</a>
							  </li>
							  <li>
								<a href="#">
								  <i class="fa fa-users text-red"></i> 5 new members joined
								</a>
							  </li>
							  <li>
								<a href="#">
								  <i class="fa fa-shopping-cart text-green"></i> 25 sales made
								</a>
							  </li>
							  <li>
								<a href="#">
								  <i class="fa fa-user text-red"></i> You changed your username
								</a>
							  </li>
							</ul>
						  </li>
						  <li class="footer"><a href="#">View all</a></li>
						</ul>
					  </li>
					  {# Tasks: style can be found in dropdown.less #}
					  <li class="dropdown tasks-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <i class="fa fa-flag-o"></i>
						  <span class="label label-danger">9</span>
						</a>
						<ul class="dropdown-menu">
						  <li class="header">You have 9 tasks</li>
						  <li>
							{# inner menu: contains the actual data #}
							<ul class="menu">
							  <li>{# Task item #}
								<a href="#">
								  <h3>
									Design some buttons
									<small class="pull-right">20%</small>
								  </h3>
								  <div class="progress xs">
									<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
									  <span class="sr-only">20% Complete</span>
									</div>
								  </div>
								</a>
							  </li>{# end task item #}
							  <li>{# Task item #}
								<a href="#">
								  <h3>
									Create a nice theme
									<small class="pull-right">40%</small>
								  </h3>
								  <div class="progress xs">
									<div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
									  <span class="sr-only">40% Complete</span>
									</div>
								  </div>
								</a>
							  </li>{# end task item #}
							  <li>{# Task item #}
								<a href="#">
								  <h3>
									Some task I need to do
									<small class="pull-right">60%</small>
								  </h3>
								  <div class="progress xs">
									<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
									  <span class="sr-only">60% Complete</span>
									</div>
								  </div>
								</a>
							  </li>{# end task item #}
							  <li>{# Task item #}
								<a href="#">
								  <h3>
									Make beautiful transitions
									<small class="pull-right">80%</small>
								  </h3>
								  <div class="progress xs">
									<div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
									  <span class="sr-only">80% Complete</span>
									</div>
								  </div>
								</a>
							  </li>{# end task item #}
							</ul>
						  </li>
						  <li class="footer">
							<a href="#">View all tasks</a>
						  </li>
						</ul>
					  </li>
					  {# User Account: style can be found in dropdown.less #}
					  <li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <img src="{{ asset('images/xxx/user2-160x160.jpg') }}" class="user-image" alt="User Image">
						  <span class="hidden-xs">{{ app.user.username|upper }}</span>
						</a>
						<ul class="dropdown-menu">
						  {# User image #}
						  <li class="user-header">
							<img src="{{ asset('images/xxx/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
							<p>
							  {{ app.user.username|upper }}
							  <small>Membre depuis Nov. 2016</small>
							</p>
						  </li>
						  {# Menu Body #}
						  <!--<li class="user-body">
							<div class="col-xs-4 text-center">
							  <a href="#">Followers</a>
							</div>
							<div class="col-xs-4 text-center">
							  <a href="#">Sales</a>
							</div>
							<div class="col-xs-4 text-center">
							  <a href="#">Friends</a>
							</div>
						  </li>-->
						  {# Menu Footer#}
						  <li class="user-footer">
							<div class="pull-left">
							  
								{% if is_granted("ROLE_TRANSPORTEUR") %}
									<a href="{{ path("hellofret_front_transporteur_index") }}" class="btn btn-default btn-flat">Profile</a>
								{% elseif is_granted("ROLE_CHARGEUR")  %}
									<a href="{{ path("hellofret_front_chargeur_index") }}" class="btn btn-default btn-flat">Profile</a>
								{% endif %}
							</div>
							<div class="pull-right">
							  <a href="{{ path("fos_user_security_logout") }}" class="btn btn-default btn-flat">Déconnexion</a>
							</div>
						  </li>
						</ul>
					  </li>
					  
					</ul>
				  </div>
				</nav>
			  </header>
        {% endblock %}
    </div>
	
	<div id="sidbar">
    	  
		<aside class="main-sidebar">
			<section class="sidebar">
				{# Sidebar user panel #}
				<div class="user-panel">
				<div class="pull-left image">
				  <img src="{{ asset('images/xxx/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
				</div>
				<div class="pull-left info">
				  <p>Loukmane</p>
				  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
				</div>
				{% block sidbar %}
				{% endblock %}
			</section>
		</aside>
    </div>
    
    <div id="content" class="content-wrapper">
    	{% block body %}
			Juste Content
        {% endblock %}
    </div>
	
    <div id="footer">
    	<p>Hellofret.com © {{ 'now'|date('Y') }}</p>
    </div>

</div>{# Fin wrapper #}


{% block javascripts %}
	{# Footer Script #}
	
	
	{% javascripts 
		'js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
{% endblock %}



</body>
</html>