{% extends "HellofretFrontBundle::layoutchargeur.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	Page Inscription de chargeur...

{% endblock %}