{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block style %}
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	{{ parent() }}
	
{% endblock %}


{% block fos_user_content %}
	
<div class="calcul-height login-wrapper">
	<div class="table">
	  <div>
	  	<div>
	  		<div class="login-box">
		      <div class="login-box-body"> 
		        <p>{{ 'resetting.password_already_requested'|trans }}</p>
		    </div>
	  	</div>
	  </div>
	  </div>
</div>

{% endblock %}