{% extends 'FOSUserBundle::layout.html.twig' %}


{% block style %}
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	{{ parent() }}
	
{% endblock %}


{% block fos_user_content %}
	
<div class="calcul-height login-wrapper">
	<div class="table">
	  <div>
	  	<div>
	  		<div class="login-box">
		      <div class="login-logo">
		        <a href="#0">Mot de passe oubli&eacute;</a>
		      </div>
		      <div class="login-box-body"> 
		        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
					<div>
						{% if invalid_username is defined %}
							<p class="text-danger">Le nom d'utilisateur est incorect !</p>
						{% endif %}
						<div class="form-group">
							<label for="username">nom d'utilisateur ou votre email</label>
						</div>
						<div class="form-group has-feedback">
							<input type="text" id="username" name="username" required="required" />
							<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
						</div>
					</div>
					<div class="row valide-btn">
						<input type="submit" value="R&eacute;initialiser"  class="btn btn-primary btn-block btn-flat"/>
					</div>
				</form>
		    </div>
	  	</div>
	  </div>
	  </div>
</div>




	
	
{% endblock fos_user_content %}