{% extends "FOSUserBundle::layout.html.twig" %}

{% block style %}
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	{{ parent() }}
	
{% endblock %}


{% block fos_user_content %}
	
<div class="calcul-height login-wrapper">
	<div class="table">
	  <div>
	  	<div>
	  		<div class="login-box">
		      <div class="login-logo">
		        <a href="#0">R&eacute;cuperation;</a>
		      </div>
		      <div class="login-box-body"> 
		        {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
		    </div>
	  	</div>
	  </div>
	  </div>
</div>

{% endblock %}