{% extends "HellofretFrontBundle::layoutHome.html.twig" %}


{% block title %}
  Home Page
{% endblock %}


{% block body %}
<div class="slide clear">
	<div class="boxed-block">
		 
		<h1>le <span>transport</span> en toute simplicite</h1>
		<!-- <div class="block-text">
			<h1>le transport en toute simplicite</h1>
			<p>- Recevez des devis de plusieurs transporteurs aux profils vérifiés,<br>comparez et reduisez vos coûts de transports actuels</p>
			<p>- Transporteurs, Donnez la visibilité à votre activité en publiant <br>trajet régulier et retour à vide</p>
		</div> -->
		<div class="block-search overlay-wrapper">
        	<div class="overlay" style="display:none">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <h2 class="h2">Vous avez une marchandise a transporter ?</h2>
			<h2>Cherchez le trajet qui vous convient et Partagez les coûts de transport avec d’autres chargeurs</h2>
			<span></span>
			<p>Je cherche</p>
			<ul class="typeForm">
				<li class="radio">
					<label>
						<input type="radio" name="searchtype" value="trajet" checked data-form="form-trajet"> Un Trajet
					</label>
				</li>
				<li class="radio">
					<label>
						<input type="radio" name="searchtype" value="vehicule" data-form="form-vehicul"> Un camion ou engins à louer
					</label>
				</li>
			</ul>
			<form action="{{ path('hellofret_front_trajet_search') }}" method="Post" class="form-trajet">
				<ul>
					<li class="mode">
						<select name="mode" id="fret_mode"> 
							{% for mode in modes %}
                                <option value="{{ mode.id }}">{{ mode.titre }}</option>
                            {% endfor %}
						</select>
					</li>
					<li class="categorie">
						<select name="categorie" id="trajet_type">
							<option value="0">Type</option>
							<option value="Fret supplémentaire">Fret supplémentaire</option>
							<option value="Retour à vide">Retour à vide</option>
							<option value="Trajet régulier">Trajet régulier</option>
						</select>
					</li>
					<li class="inputext">
						<input type="text" name="depart" class="depart" id="depart" placeholder="Départ">
					</li>
					<li class="inputext">
						<input type="text" name="arrivee" class="arrivee" id="arrivee" placeholder="Arrivée">
					</li>
					<li class="btn-search">
						 <button type="submit" class="btn_">
						 	Chercher
						 </button>
					</li>
				</ul>
			</form>
			<form action="{{ path('hellofret_front_vehicule_search') }}" method="Post" class="form-vehicul" style="display: none">
				<ul> 
					<li class="categorie">
						<select name="categorie" id="fret_categorie_vehicule">
							{% for categorie in categoriesvehicules %}
                                <option value="{{ categorie.id }}">{{ categorie.titre }}</option>
                            {% endfor %}
						</select>
					</li>
					<li class="inputext"> 
						<input type="text" name="marque" class="marque" id="marque" placeholder="Marque">
					</li>
					<li class="inputext">
						<input type="text" name="modele" class="modele" id="modele" placeholder="Modèle">
					</li> 
					<li class="btn-search">
						 <button type="submit" class="btn_">
						 	Chercher
						 </button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>
<div class="depose-annonce clear">
	<div class="boxed-block">
		<img src="{{ asset('images/icon-trajet.jpg') }}">
		<p>Le trajet trouvé ne vous convient pas? DEPOSER UNE ANNONCE et RECEVEZ DES DEVIS de la communauté <br>de TRANSPORTEURS PROFESSIONNELS </p>
		
		
		{% if is_granted("ROLE_TRANSPORTEUR") %}
    
    <a href="javascript:;" class="btn_ interdiction_action">Demandez un devis - C'est gratuit</a>
    <div class="alert fade in" id="interdiction_action" style="display:none;">
        <button type="button" class="close">×</button>
        <p class="text-red">Désolé, vous pouvez pas ajouter ce type d'annonce car c'est destiné au chargeurs !</p>
    </div>
    
    
{% else %}
    <a href="{{ path('hellofret_chargeur_fret_add') }}" class="btn_">Demandez un devis - C'est gratuit</a>
{% endif %}
		
		
	</div>
</div>
{% if trajets is empty %}

{% else %}

<div class="last-trajet clear">
	<div class="boxed-block">
		 <h2>Les derniers trajets déposés par les transporteurs</h2>
		 <p>Confiez vos marchandises à l'un de ces transporteurs pour profiter de son trajet</p>
		 <div class="owl-carousel">
         	
            {% for trajet in trajets %}
            
		 	<div class="item clear">
		 		
		 		<div class="logo-tranporteur" style="background:url('{{ asset(trajet.profil.profile.logo.webPath) }}')">
			 		{# <img src="{{ asset(trajet.profil.profile.logo.webPath) }}"> #}
					{# <img src="{{ asset('images/img-trajet.jpg') }}"> #}
		 		</div>
		 		<h3>{{ trajet.profil.profile.nomCommercial }}</h3>
		 		
		 		<div class="mode">
		 			<div class="item-1">
		 				<label>Type :</label> {{ trajet.type }}
		 			</div>
		 			<div class="item-2">
		 				<label>Mode :</label> {{ trajet.mode.titre }}
		 			</div>
		 		</div> 
		 		
		 		<div class="trajet">
		 			<div class="item-1 depart">
		 				<label>depart :</label> {{ trajet.villeDepart|shortString }}
		 			</div>
		 			<div class="item-2">
		 				<label></label>
		 				{% if trajet.departIsFlexible == 1 %}
							{{ trajet.dateDepartFlexible[:10] }}
						{% else %}
							{{ trajet.dateDepart|date('d/m/Y') }}
						{% endif %}
		 			</div>
		 		</div> 
		 		
		 		<div class="trajet" >
		 			<div class="item-1 arrivee">
		 				<label>Arrivée :</label> {{ trajet.villeArrive|shortString }}
		 			</div>
		 			<div class="item-2">
		 				<label></label>
						{% if trajet.arriveIsFlexible == 1 %}
							{{ trajet.dateArriveeFlexible[:10] }}
						{% else %}
							{{ trajet.dateArrive|date('d/m/Y') }}
						{% endif %}
		 			</div>
		 		</div> 
		 		
		 		<div class="expired-date clear">
		 			Expire dans {{ trajet.dateExpiration|diffToNow }}
		 		</div>
		 		<div class="hover-item">
			 		<div class="table">
			 			<div>
				 			<div class="liens">
				 				{% if is_granted("ROLE_ADMIN") %}
                                    <a href="{{ path('hellofret_admin_trajet_view', {'id': trajet.id}) }}" class="btn btn-app"> 
                                    	<i class="fa fa-search"></i> Aperçu
                                    </a> 
                                {% elseif is_granted("ROLE_TRANSPORTEUR") %}
                                    <a href="{{ path('hellofret_transporteur_trajet_view', {'id': trajet.id}) }}" class="btn btn-app"> 
                                    	<i class="fa fa-search"></i> Aperçu
                                    </a> 
                                {% elseif is_granted("ROLE_CHARGEUR")  %}
                                    <a href="{{ path('hellofret_chargeur_trajet_view', {'id': trajet.id}) }}" class="btn btn-app"> 
                                    	<i class="fa fa-search"></i> Aperçu
                                    </a> 
                                {% else %}
                                    <a href="{{ path('hellofret_front_trajet_view', {'id': trajet.id}) }}" class="btn btn-app"> 
                                    	<i class="fa fa-search"></i> Aperçu
                                    </a> 
                                {% endif %} 
				 			</div>
						</div>
			 		</div>
				</div>
		 	</div>
		 	
            {% endfor %}
            
		 </div>
		 
	</div>
</div>

{% endif %}

<div class="confiance clear">
	 <h3>ILS NOUS FONT CONFIANCE</h3>
	 <div class="owl-carousel1">
	 		<div class="item clear">
		 		<a href="#"><img style="height:100px;" src="{{ asset('images/logo-transport-1.png') }}" /></a>
		 	</div>
		 	<div class="item clear">
		 		<a href="#"><img style="height:100px;" src="{{ asset('images/logo-transport-2.png') }}" /></a>
		 	</div>
		 	<div class="item clear">
		 		<a href="#"><img style="height:100px;" src="{{ asset('images/logo-transport-3.png') }}" /></a>
		 	</div>
		 	<div class="item clear">
		 		<a href="#"><img style="height:100px;" src="{{ asset('images/logo-transport-4.png') }}" /></a>
		 	</div>
		 	<div class="item clear">
		 		<a href="#"><img style="height:100px;" src="{{ asset('images/logo-transport-5.png') }}" /></a>
		 	</div>
		 	<div class="item clear">
		 		<a href="#"><img style="height:100px;" src="{{ asset('images/logo-transport-6.png') }}" /></a>
		 	</div>
		 	<div class="item clear">
		 		<a href="#"><img style="height:100px;" src="{{ asset('images/logo-transport-7.png') }}" /></a>
		 	</div>
		 	<div class="item clear">
		 		<a href="#"><img style="height:100px;" src="{{ asset('images/logo-transport-8.png') }}" /></a>
		 	</div>
	 </div>
</div>
{% endblock %}
