{% extends "HellofretFrontBundle::layout.html.twig" %}

{% block title %}
  Bourse Frets- {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	<div class="calcul-height annonce-fret clear">

    <div class="wrapper boxed-block clear">

      <div class="title-page">

        <h1>ANNONCEs Frets</h1>

      </div>

      <div class="annonce-filter overlay-wrapper">
	<div class="overlay" style="display:none">
		<i class="fa fa-refresh fa-spin"></i>
    </div>
		<form action="{{ path('hellofret_front_fret_search') }}" method="post">
			<div>
			
			  <select name="mode" id="fret_mode">
				{% for mode in modes %}
					<option value="{{ mode.id }}">{{ mode.titre }}</option>
				{% endfor %}
			  </select>
			
			  <select name="categorie" id="fret_categorie">
			
				{% for categorie in categories %}
					<option value="{{ categorie.id }}">{{ categorie.titre }}</option>
				{% endfor %}
			
			  </select>
			
			</div>
			
			<div>
			
			  <ul>
			
				<li class="inputext">
			
				  <input type="text" name="depart" class="depart" id="depart" placeholder="Départ">
			
				</li>
			
				<li class="inputext">
			
				  <input type="text" name="arrivee" class="arrivee" id="arrivee" placeholder="Arrivée">
			
				</li>
			
			  </ul>
			
			</div>
			
			<div>
			
			  <input type="date" name="d-depart" class="d-depart" placeholder="date de départ"/>
			
			  <input type="date" name="d-arrivee" class="d-arrivee" placeholder="date de arrivée" />
			
			</div>
			
			<div class="btn-search">
			
			  <button type="submit" class="btn_"> Rechercher </button>
			
			</div>
		</form>   
		</div>

      <ul class="annonce-content">
	  
	  	{% if frets is empty %} 
			<div class="row">
            <div class="col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <i class="fa fa-warning"></i>
                  <h3 class="box-title">Alerts</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4 style="margin:0"><i class="icon fa fa-ban"></i> Désolé, Aucune annonce disponible pour l'instant !</h4> 
                  </div> 
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col --> 
          </div>
		{% else %}
		
			{% for fret in frets %}
			
				<li>

				  <!-- <div class="annonce-left">
		
					<div style="background:url('{{ asset(fret.profil.profile.logo.webPath) }}') 0 0 / cover "></div>
					{% set end = "now"|date('d/m/Y') %}
					<span>Expire dans : {{ fret.dateDepart|diffToNow }}</span> 
				   </div> -->
		
				  <div class="annonce-right">
		
					<div class="ligne-1">
		
					  <label>Catégorie : <span>{{ fret.categorie.titre[:39] ~ '' }}</span></label>
		
					  <label>Mode : <span>{{ fret.mode.titre }}</span></label>
		
					</div>
		
					<div class="trajet">
		
					  <label>Départ : <span>{{ fret.villeDepart|shortString }}</span></label>
		
					  <label class="date-trajet"><span>
					  		{% if fret.departIsFlexible == 1 %}
								{{ fret.dateDepartFlexible[:10] }}
							{% else %}
								{{ fret.dateDepart|date('d/m/Y') }}
							{% endif %}
					  </span></label>
		
					</div>
		
					<div class="trajet">
		
					  <label>Arrivée : <span>{{ fret.villeArrivee|shortString }}</span></label>
		
					  <label class="date-trajet"><span>
					  		{% if fret.arriveIsFlexible == 1 %}
								{{ fret.dateArriveeFlexible[:10] }}
							{% else %}
								{{ fret.dateArrivee|date('d/m/Y') }}
							{% endif %}
					  
					  </span></label>
		
					</div>
		
					<div class="block-btns"> 
					{% if is_granted("ROLE_ADMIN") %}
						<a href="{{ path('hellofret_admin_fret_view', {'id': fret.id}) }}" class="btn btn-app">
							 <i class="fa fa-search"></i> Aperçu
						</a> 
					{% elseif is_granted("ROLE_TRANSPORTEUR") %}
						<a href="{{ path('hellofret_transporteur_fret_view', {'id': fret.id}) }}" class="btn btn-app">
							 <i class="fa fa-search"></i> Aperçu
						</a> 
					{% elseif is_granted("ROLE_CHARGEUR")  %}
						<a href="{{ path('hellofret_chargeur_fret_view', {'id': fret.id}) }}" class="btn btn-app">
							 <i class="fa fa-search"></i> Aperçu
						</a> 
					{% else %}
						<a href="{{ path('hellofret_front_fret_view', {'id': fret.id}) }}" class="btn btn-app">
							 <i class="fa fa-search"></i> Aperçu
						</a> 
					{% endif %}
					
					
					<!--<a href="#" class="btn-sauvegarder">Sauvgarder</a> 
					<a href="#" class="proposer-devis">Proposer un devis</a> -->
					</div>
		
				  </div>
				  <div class="annonce-left"> 
					{% set end = "now"|date('d/m/Y') %}
					<span>Expire dans : {{ fret.dateDepart|diffToNow }}</span> 
				   </div>
		
				</li>
			
			{% endfor %}
		
		{% endif %}
	  
	  	
	  </ul>

    </div>

  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  <script>
  
  function getCategorie(mode){
    $.ajax({
        url: "{{ path('hellofret_fret_find') }}",
        type: 'POST',
        data: {'mode': mode},
        dataType: 'json',
        success: function(json){ // quand la réponse de la requete arrive
          $('select#fret_categorie').html('');
          $.each(json, function(index, value) { // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
            $('#fret_categorie').append('<option value="'+ value.id +'">'+ value.titre +'</option>');
          });
          $('.annonce-filter .overlay').fadeOut();
        }
      });
  }
  var mode = $("select#fret_mode option:selected").attr("value");
  getCategorie(mode) ;
  $('#fret_mode').change(function () {
    $('.annonce-filter .overlay').fadeIn();
    var mode = $("select#fret_mode option:selected").attr("value");
    getCategorie(mode) ;
  });
    
     
  </script>
  {% javascripts 
    'js/datepicker/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  
  
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
    <script type="text/javascript">
      var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
      var depart = document.getElementById('fret_villeDepart');
      var arrivee = document.getElementById('fret_villeArrivee');

      autocomplete1 = new google.maps.places.Autocomplete(depart, options);
      autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);

    ;(function($){
      $.fn.datepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
        months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
        monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Déc"],
        today: "Aujourd'hui",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
      };
    }(jQuery));
  
      $('.d-depart, .d-arrivee').datepicker({
      language:"fr",
      closeText: 'Fermer',
      autoclose:"true",
      pickerPosition:"bottom-left",
      todayBtn:"true",
      startDate: new Date()
    });
    
    

    </script>
  
{% endblock %}