{% extends "HellofretBackEndBundle::layoutchargeur.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block style %}

  {{ parent() }}
  {% stylesheets 'css/datepicker/*' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
  
{% endblock %}

{% block Hellofret_body %}
<div class="deposer-une-annonce">
  <h1 class="content-header">Deposer Une Annonce</h1>
  
  <!-- Main content -->
  <div class="col-md-12">
    <div class="box box-primary"> 
      <!-- /.box-header -->
      <div class="box-body">
        <section class="content">
          <div class="block-add-annonce add-annonce-etape-1 clear">
            <div class="hf-block overlay-wrapper col-md-6 col-sm-8 right">
              <div class="overlay" style="display:none"> <i class="fa fa-refresh fa-spin"></i> </div>
              <div class="hf-block-head">
                <h2>Déposez gratuitement votre annonce</h2>
              </div>
              <div class="hf-block-content clear">
                <div class=""> {{ form_start(form) }}
                  <p class="col-md-12"> {{ form_widget(form.titre, {'attr': {'class': 'form-titre', 'placeholder':"Titre de l'annonce"}}) }}
                    {{ form_errors(form.titre) }}
                  
                  <p class="col-md-12"> {{ form_widget(form.mode, {'attr': {'class': 'form-mode'}}) }}
                    {{ form_errors(form.mode) }} </p>
                  <p class="col-md-12"> {{ form_widget(form.categorie, {'attr': {'class': 'form-categorie'}}) }}
                    {{ form_errors(form.categorie) }} </p>
                  <div class="space-20"></div>
                  <p class="col-md-6 col-sm-6"> 
				  {{ form_widget(form.villeDepart, {'attr': {'class': 'depart', 'id':'depart', 'required':'required', 'placeholder':'Ville de départ'}}) }}
                  {{ form_errors(form.villeDepart) }}
				 </p>
                  <p class="col-md-6 col-sm-6"> 
				  	{{ form_widget(form.dateDepart, {'attr': {'class': 'd-depart', 'placeholder':'Date de départ'}}) }}
                    {{ form_errors(form.dateDepart) }} 
					
					{{ form_widget(form.dateDepartFlexible, {'attr': {'class': 'd-depart-flexible', 'placeholder':'Marge de Date de départ'}}) }}
                    {{ form_errors(form.dateDepartFlexible) }}
					
					{{ form_widget(form.departIsFlexible, {'attr': {'class': 'minimal'}}) }}
			  		{{ form_label(form.departIsFlexible, "Date Départ Incertaine", {'label_attr': {'class': 'incertain'}}) }} 
					
				  </p>
                  <p class="col-md-6 col-sm-6"> {{ form_widget(form.villeArrivee, {'attr': {'class': 'arrivee', 'id':'arrivee', 'required':'required', 'placeholder':"Ville d'arrivée"}}) }}
                    {{ form_errors(form.villeArrivee) }} </p>
                  <p class="col-md-6 col-sm-6"> 
				  	{{ form_widget(form.dateArrivee, {'attr': {'class': 'd-arrivee', 'placeholder':"Date d'arrivée"}}) }}
                  	{{ form_errors(form.dateArrivee) }} 
					
					{{ form_widget(form.dateArriveeFlexible, {'attr': {'class': 'd-arrivee-flexible', 'placeholder':"Marge de Date d'arrivée"}}) }}
                  	{{ form_errors(form.dateArriveeFlexible) }}
					
					{{ form_widget(form.arriveIsFlexible, {'attr': {'class': 'minimal'}}) }}
			  		{{ form_label(form.arriveIsFlexible, "Date Arrivée Incertaine", {'label_attr': {'class': 'incertain'}}) }} 
					</p>
                  <p class="block-btn">
                    <input type="submit" class="btn_" value="Suivant">
                  </p>
                  {{ form_rest(form) }}
                  {{ form_end(form) }} </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content --> 
        
      </div>
      <!-- /.box-body --> 
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }} 
<script>
  
  function getCategorie(mode){
    $.ajax({
        url: "{{ path('hellofret_fret_find') }}",
        type: 'POST',
        data: {'mode': mode},
        dataType: 'json',
        success: function(json){ // quand la réponse de la requete arrive
          $('select#fret_categorie').html('');
          $.each(json, function(index, value) { // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
            $('#fret_categorie').append('<option value="'+ value.id +'">'+ value.titre +'</option>');
          });
          $('.hf-block .overlay').fadeOut();
        }
      });
  }
  var mode = $("select#fret_mode option:selected").attr("value");
  getCategorie(mode) ;
  $('#fret_mode').change(function () {
    $('.hf-block .overlay').fadeIn();
    var mode = $("select#fret_mode option:selected").attr("value");
    getCategorie(mode) ;
  });
    
     
  </script> 
{% javascripts 
    'js/datepicker/bootstrap-datetimepicker.min.js'
	'js/datepicker/bootstrap-datepicker.js'
	'js/datepicker/bootstrap-datetimepicker.fr.js'
	'js/datepicker/daterangepicker.js'
	 filter='cssrewrite' %}
<script src="{{ asset_url }}"></script> 
{% endjavascripts %} 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
<script type="text/javascript">
      
	  $('#fret_dateDepartFlexible, #fret_dateArriveeFlexible').hide();
	  
	  
	  var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
      var depart = document.getElementById('fret_villeDepart');
      var arrivee = document.getElementById('fret_villeArrivee');

      autocomplete1 = new google.maps.places.Autocomplete(depart, options);
      autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);

    ;(function($){
      $.fn.datepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
        months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
        monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Déc"],
        today: "Aujourd'hui",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
      };
    }(jQuery));
  
      $('.d-depart, .d-arrivee').datepicker({
		  language:"fr",
		  closeText: 'Fermer',
		  autoclose:"true",
		  pickerPosition:"bottom-left",
		  todayBtn:"true",
		  startDate: new Date()
		});
	
	 $('#fret_dateDepartFlexible, #fret_dateArriveeFlexible').daterangepicker({
		 "format": 'DD/MM/YYYY',
		 "timePicker":false,
		 "autoApply": true,
		 "opens": "left",
		 "locale":"fr",
		 "language":"fr"
	 });
	 $('#fret_dateDepartFlexible').on('apply.daterangepicker', function(ev, picker) {
		  $('#fret_dateDepart').val( picker.endDate.format('DD/MM/YYYY') );
	 });
	 $('#fret_dateArriveeFlexible').on('apply.daterangepicker', function(ev, picker) {
		  $('#fret_dateArrivee').val( picker.endDate.format('DD/MM/YYYY') );
	 });
    
    $( "form input[type='submit']" ).click(function() {
		
		var tabdeb = ($(".d-depart").val().split("/"));
		var tabfin = ($(".d-arrivee").val().split("/"));
		var Odeb = new Date(tabdeb[2],tabdeb[1],tabdeb[0]);
		var Ofin = new Date(tabfin[2],tabfin[1],tabfin[0]);
	
	
	   if( Odeb > Ofin ){
	   		alert("merci de renseigner une date arrivée supérieur au date de départ.");
			$(".d-arrivee").val("") ;
			return false;
	   }
	});
	
	
	$('#fret_departIsFlexible').click(function() {
		var $this = $(this);  
		if ($this.is(':checked')) {
			$("#fret_dateDepart").hide();
			$("#fret_dateDepartFlexible").show();
		} else {
			$("#fret_dateDepart").show();
			$("#fret_dateDepartFlexible").hide();
		}
	});
	
	$('#fret_arriveIsFlexible').click(function() {
		var $this = $(this);  
		if ($this.is(':checked')) {
			$("#fret_dateArrivee").hide();
			$("#fret_dateArriveeFlexible").show();
		} else {
			$("#fret_dateArrivee").show();
			$("#fret_dateArriveeFlexible").hide();
		}
	});



    </script> 
{% endblock %} 