{% extends "HellofretBackEndBundle::layoutFretAdd.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block fret_add_body %} 
<div class="alert alert-success alert-dismissable"> 
  <h4>  <i class="icon fa fa-check"></i> Félicitation!</h4>
  Votre annonce est en cours de validation par notre équipe éditoriale
</div>
{% endblock %}


