{% extends "HellofretBackEndBundle::layoutFretAdd.html.twig" %}

{% block title %}
  Ajouter une Fret Cereal Epice - {{ parent() }}
{% endblock %}

{% block fret_add_body %}

	<form  name="fret_cerealepice" action="{{ path('hellofret_chargeur_add_final', {'fret': 'FretCerealEpice'})  }}" method="post">
	
		<p class="col-md-12">
		  {{ form_widget(form.natureMarchandise, {'attr': {'class': 'form-nature', 'placeholder':'Nature de marchandise'}}) }}
		  {{ form_errors(form.natureMarchandise) }}
		</p>
		<div class="space-20"></div>
		<div class="block-incertain">
			<p class="col-md-6 col-sm-6">
			  {{ form_widget(form.poids, {'attr': {'class': 'Poids', 'placeholder':'Poids'}}) }}
			  {{ form_errors(form.poids) }}
			</p>
			<p class="col-md-6 col-sm-6">
			  {{ form_widget(form.poidsCertain, {'attr': {'class': 'minimal'}}) }}
			  {{ form_label(form.poidsCertain, "Incertain", {'label_attr': {'class': 'incertain'}}) }}
			</p>
		</div>
		
		<div class="space-20"></div>
		<p class="col-md-6 col-sm-6">
		  {{ form_widget(form.rueDepart, {'attr': {'class': 'depart', 'id':'fret_villeDepart', 'placeholder':'Rue de départ'}}) }}
		  {{ form_errors(form.rueDepart) }}
		</p>
		<p class="col-md-6 col-sm-6">
		  {{ form_widget(form.rueArrivee, {'attr': {'class': 'arrivee', 'id':'fret_villeArrivee', 'placeholder':"Rue d'arrivée"}}) }}
		  {{ form_errors(form.rueArrivee) }}
		</p>
		<div class="space-20"></div>
		<p class="col-md-12">
		   {{ form_widget(form.informationsComplementaires, {'attr': {'class': 'form-type', 'placeholder':'Informations complémentaires à propos de votre marchandise...'}}) }}
		   {{ form_errors(form.informationsComplementaires) }}
		</p>
		
		<p class="block-btn">
		  <input type="submit" class="btn_" value="Publier">
		</p>
	
		<div class="hidde-filed" style='display:none'>
			{{ form_rest(form) }}
		</div>
	</form>

{% endblock %}


