{% extends "HellofretBackEndBundle::layoutFretAdd.html.twig" %}

{% block title %}
  Ajouter une Fret Conteneur - {{ parent() }}
{% endblock %}

{% block fret_add_body %}

	<form  name="fret_conteneur" action="{{ path('hellofret_chargeur_add_final', {'fret': 'FretConteneur'})  }}" method="post">
	
		<p class="col-md-12">
		  {{ form_label(form.conteneurs, "Mes conteneurs :", {'label_attr': {'class': 'label-form'}}) }}
		  {{ form_widget(form.conteneurs, {'attr': {'class': 'filed-complex', 'placeholder':'Conteneur'}}) }}
		  {{ form_errors(form.conteneurs) }}
		</p>
		
		
		<div class="space-20"></div>
		<p class="col-md-6 col-sm-6">
		  {{ form_widget(form.rueDepart, {'attr': {'class': 'depart', 'id':'fret_villeDepart', 'placeholder':'Rue de départ'}}) }}
		  {{ form_errors(form.rueDepart) }}
		</p>
		<p class="col-md-6 col-sm-6">
		  {{ form_widget(form.rueArrivee, {'attr': {'class': 'arrivee', 'id':'fret_villeArrivee', 'placeholder':"Rue d'arrivée"}}) }}
		  {{ form_errors(form.rueArrivee) }}
		</p>
		<div class="space-20"></div>
		<p class="col-md-12">
		   {{ form_widget(form.informationsComplementaires, {'attr': {'class': 'form-type', 'placeholder':'Informations complémentaires à propos de votre marchandise...'}}) }}
		   {{ form_errors(form.informationsComplementaires) }}
		</p>
		
		<p class="block-btn">
		  <input type="submit" class="btn_" value="Publier">
		</p>
	
		<div class="hidde-filed" style='display:none'>
			{{ form_rest(form) }}
		</div>
	</form>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript">

	  
	
		// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
		var $container = $('div#fret_conteneur_conteneurs');
		// On ajoute un lien pour ajouter une nouvelle catégorie
	
		var $addLink = $('<a href="#" id="add_category" class="btn btn-default" title="Ajouter un conteneur">+</a>');
		$container.append($addLink);
		// On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
		$addLink.click(function(e) {
		  addCategory($container);
		  e.preventDefault(); // évite qu'un # apparaisse dans l'URl
		  return false;
		});
	
		// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
		var index = $container.find(':input').length;
		// On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
		if (index == 0) {
		   addCategory($container);
		} else {
	
		  // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
		  $container.children('div').each(function() {
			addDeleteLink($(this));
		  });
		}
	
	
		// La fonction qui ajoute un formulaire Categorie
		function addCategory($container) {
		  // Dans le contenu de l'attribut « data-prototype », on remplace :
		  // - le texte "__name__label__" qu'il contient par le label du champ
		  // - le texte "__name__" qu'il contient par le numéro du champ
		  var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Conteneur n°' + (index+1))
			  .replace(/__name__/g, index));
		  // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
		  addDeleteLink($prototype);
		  // On ajoute le prototype modifié à la fin de la balise <div>
		  $container.append($prototype);
		  // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
		  index++;
	
		}
		// La fonction qui ajoute un lien de suppression d'une catégorie
		function addDeleteLink($prototype) {
		  // Création du lien
		  $deleteLink = $('<a href="#" class="btn btn-danger" title="Supprimer ce conteneur">X</a>');
		  // Ajout du lien
		  $prototype.append($deleteLink);
		  // Ajout du listener sur le clic du lien
		  $deleteLink.click(function(e) {
			$prototype.remove();
			e.preventDefault(); // évite qu'un # apparaisse dans l'URL
			return false;
		  });
		}
	  
	
	</script>
	
{% endblock %}
