{% extends "HellofretBackEndBundle::layoutFretAdd.html.twig" %}

{% block title %}
  Ajouter une Fret Demenagement - {{ parent() }}
{% endblock %}

{% block fret_add_body %}

	<form  name="fret_demenagement" action="{{ path('hellofret_chargeur_add_final', {'fret': 'FretDemenagement'})  }}" method="post">
	
		<p class="col-md-12">
		  {{ form_widget(form.typeDemenagement, {'attr': {'class': 'form-type'}}) }}
		  {{ form_errors(form.typeDemenagement) }}
		</p>
		<p class="col-md-12">
		   {{ form_widget(form.detailsDemenagement, {'attr': {'class': 'form-type', 'placeholder':'Parler nous des objet de cette Fret...'}}) }}
		   {{ form_errors(form.detailsDemenagement) }}
		</p>
		<div class="space-20"></div>
		<p class="col-md-6 col-sm-6">
		  {{ form_widget(form.rueDepart, {'attr': {'class': 'depart', 'id':'fret_villeDepart', 'placeholder':'Rue de départ'}}) }}
		  {{ form_errors(form.rueDepart) }}
		</p>
		<p class="col-md-6 col-sm-6">
		  {{ form_widget(form.rueArrivee, {'attr': {'class': 'arrivee', 'id':'fret_villeArrivee', 'placeholder':"Rue d'arrivée"}}) }}
		  {{ form_errors(form.rueArrivee) }}
		</p>
		<div class="space-20"></div>
		<p class="col-md-12">
		   {{ form_widget(form.informationsComplementaires, {'attr': {'class': 'form-type', 'placeholder':'Informations complémentaires à propos de votre marchandise...'}}) }}
		   {{ form_errors(form.informationsComplementaires) }}
		</p>
		
		<p class="block-btn">
		  <input type="submit" class="btn_" value="Publier">
		</p>
	
		<div class="hidde-filed" style='display:none'>
			{{ form_rest(form) }}
		</div>
	</form>

{% endblock %}


