{% extends "HellofretBackEndBundle::layoutFretEdit.html.twig" %}

{% block title %}
  Modifier Mon Fret Conditionne - {{ parent() }}
{% endblock %}

{% block fret_add_body %}

	<form  name="fret_conditionne" action="" method="post">
	
		{{ include('HellofretBackEndBundle:Fret:headerEditFretAlimentation.html.twig') }} 

		<div class="form-group"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.natureMarchandise, "Nature de la marchadise", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-10"> 
		    {{ form_widget(form.natureMarchandise, {'attr': {'class': 'form-control', 'placeholder':""}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.natureMarchandise) }}
		  </div>
		</div>
		<div class="form-group block-incertain"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.poids, "Poids", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-4">  
		    {{ form_widget(form.poids, {'attr': {'class': 'poids form-control', 'placeholder':''}}) }} 
		  </div>
		  <div class="col-sm-6">   
		    {{ form_widget(form.poidsCertain, {'attr': {'class': 'minimal'}}) }}
			{{ form_label(form.poidsCertain, "Incertain", {'label_attr': {'class': 'incertain'}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.poids) }}
		  </div>
		</div> 

		<div class="form-group block-incertain"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.dimensions, "Dimensions", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-4">  
		    {{ form_widget(form.dimensions, {'attr': {'class': 'poids form-control', 'placeholder':''}}) }} 
		  </div>
		  <div class="col-sm-6">   
		    {{ form_widget(form.dimensionsCertain, {'attr': {'class': 'minimal'}}) }}
			{{ form_label(form.dimensionsCertain, "Incertain", {'label_attr': {'class': 'incertain'}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.dimensions) }}
		  </div>
		</div> 

		<div class="form-group block-incertain"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.quantite, "Quantité", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-4">  
		    {{ form_widget(form.quantite, {'attr': {'class': 'qte form-control', 'placeholder':''}}) }} 
		  </div>
		  <div class="col-sm-6">   
		    {{ form_widget(form.quantiteCertain, {'attr': {'class': 'minimal'}}) }}
			{{ form_label(form.quantiteCertain, "Incertain", {'label_attr': {'class': 'incertain'}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.quantite) }}
		  </div>
		</div>
		
		{{ include('HellofretBackEndBundle:Fret:footerEditFretAlimentation.html.twig') }}
		
	</form>

{% endblock %}


