{% extends "HellofretBackEndBundle::layoutFretEdit.html.twig" %}

{% block title %}
  Modifier Mon Fret Palettes - {{ parent() }}
{% endblock %}

{% block fret_add_body %}

	<form  name="fret_palettes" action="" method="post">
	
		
		{{ include('HellofretBackEndBundle:Fret:headerEditFretAlimentation.html.twig') }}
		 
		 
		<div class="form-group"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.palettes, "Mes Palettes :", {'label_attr': {'class': 'label-form'}}) }}
		  </div>
		  <div class="col-sm-10 complexe-palettes"> 
		    {{ form_widget(form.palettes, {'attr': {'class': 'filed-complex', 'placeholder':''}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.palettes) }}
		  </div>
		</div>
		
		{{ include('HellofretBackEndBundle:Fret:footerEditFretAlimentation.html.twig') }}
		
		
	</form>

{% endblock %}


{% block javascripts_perso %}
	{{ parent() }}
	
	<script type="text/javascript">

	  
	
		// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
		var $container = $('div#fret_palettes_palettes');
		// On ajoute un lien pour ajouter une nouvelle catégorie
	
		var $addLink = $('<a href="#" id="add_category" class="btn btn-warning" title="Ajouter une palette">+</a>');
		$container.prepend($addLink);
		// On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
		$addLink.click(function(e) {
		  addCategory($container);
		  e.preventDefault(); // évite qu'un # apparaisse dans l'URl
		  return false;
		});
	
		// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
		var index = $container.find(':input').length;
		// On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
		if (index == 0) {
		   addCategory($container);
		} else {
	
		  // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
		  $container.children('div').each(function() {
			addDeleteLink($(this));
		  });
		}
	
	
		// La fonction qui ajoute un formulaire Categorie
		function addCategory($container) {
		  // Dans le contenu de l'attribut « data-prototype », on remplace :
		  // - le texte "__name__label__" qu'il contient par le label du champ
		  // - le texte "__name__" qu'il contient par le numéro du champ
		  var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Conteneur n°' + (index+1))
			  .replace(/__name__/g, index));
		  // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
		  addDeleteLink($prototype);
		  // On ajoute le prototype modifié à la fin de la balise <div>
		  $container.append($prototype);
		  // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
		  index++;
	
		}
		// La fonction qui ajoute un lien de suppression d'une catégorie
		function addDeleteLink($prototype) {
		  // Création du lien
		  $deleteLink = $('<a href="#" class="btn btn-danger" title="supprimer">x</a>');
		  // Ajout du lien
		  $prototype.append($deleteLink);
		  // Ajout du listener sur le clic du lien
		  $deleteLink.click(function(e) {
			$prototype.remove();
			e.preventDefault(); // évite qu'un # apparaisse dans l'URL
			return false;
		  });
		}
	  
	
	</script>
	
{% endblock %}
