{% extends "HellofretBackEndBundle::layoutFretEdit.html.twig" %}

{% block title %}
  Modifier Mon Fret Demenagement - {{ parent() }}
{% endblock %}

{% block fret_add_body %}

	<form  name="fret_animaux" action="" method="post">
	
		{{ include('HellofretBackEndBundle:Fret:headerEditFretAlimentation.html.twig') }}
		
		<div class="form-group"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.genre, "Genre", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-10"> 
		    {{ form_widget(form.genre, {'attr': {'class': 'form-control', 'placeholder':""}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.genre) }}
		  </div>
		</div> 

		<div class="form-group block-incertain"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.quantite, "Quantité", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-4">  
		    {{ form_widget(form.quantite, {'attr': {'class': 'volume form-control', 'placeholder':''}}) }} 
		  </div> 
		  <div class="error-champ">
		  	{{ form_errors(form.quantite) }}
		  </div>
		</div> 
		
		{{ include('HellofretBackEndBundle:Fret:footerEditFretAlimentation.html.twig') }}
		
		
	</form>

{% endblock %}


