{% extends "HellofretBackEndBundle::layoutFretEdit.html.twig" %}

{% block title %}
  Modifier Mon Fret Equipement - {{ parent() }}
{% endblock %}

{% block fret_add_body %}

	<form  name="fret_equipement" action="" method="post">
	
		{{ include('HellofretBackEndBundle:Fret:headerEditFretAlimentation.html.twig') }}
		
		<div class="form-group"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.natureMarchandise, "Nature de la marchadise", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-10"> 
		    {{ form_widget(form.natureMarchandise, {'attr': {'class': 'form-control', 'placeholder':""}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.natureMarchandise) }}
		  </div>
		</div>
		
		{{ include('HellofretBackEndBundle:Fret:footerEditFretAlimentation.html.twig') }}
		
	</form>

{% endblock %}


