{% extends "HellofretBackEndBundle::layoutFretEdit.html.twig" %}

{% block title %}
  Modifier Mon Fret Demenagement - {{ parent() }}
{% endblock %}

{% block fret_add_body %}

	<form  name="fret_demenagement" action="" method="post">
	
		{{ include('HellofretBackEndBundle:Fret:headerEditFretAlimentation.html.twig') }}
		 
		<div class="form-group"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.typeDemenagement, "Type de démenagement", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-10"> 
		    {{ form_widget(form.typeDemenagement, {'attr': {'class': 'form-control', 'placeholder':""}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.typeDemenagement) }}
		  </div>
		</div>

		<div class="form-group"> 
		  <div class="col-sm-2">  
		 	 {{ form_label(form.detailsDemenagement, "details", {'label_attr': {'class': 'control-label'}}) }}
		  </div>
		  <div class="col-sm-10"> 
		    {{ form_widget(form.detailsDemenagement, {'attr': {'class': 'form-control', 'placeholder':"Parler nous des objet de cette Fret..."}}) }}
		  </div>
		  <div class="error-champ">
		  	{{ form_errors(form.detailsDemenagement) }}
		  </div>
		</div> 
		
		{{ include('HellofretBackEndBundle:Fret:footerEditFretAlimentation.html.twig') }}
		
		
	</form>

{% endblock %}


