 
  <div class="space-20"></div>
  <div class="form-group"> 
    <div class="col-sm-2"> 
     {{ form_label(form.rueDepart, "Rue de départ", {'label_attr': {'class': 'control-label'}}) }}
    </div>
    <div class="col-sm-10"> 
     {{ form_widget(form.rueDepart, {'attr': {'class': 'depart form-control','id':'fret_villeDepart', 'placeholder':""}}) }}
    </div>
    <div class="error-champ">
     {{ form_errors(form.rueDepart) }}
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-2"> 
     {{ form_label(form.rueArrivee, "Rue d'arrivée", {'label_attr': {'class': 'control-label'}}) }}
    </div>
    <div class="col-sm-10"> 
     {{ form_widget(form.rueArrivee, {'attr': {'class': 'arrivee form-control','id':'fret_villeArrivee', 'placeholder':""}}) }}
    </div>
    <div class="error-champ">
      {{ form_errors(form.rueArrivee) }}
    </div>
  </div>

  <div class="space-20"></div>
  <div class="form-group"> 
    <div class="col-sm-2"> 
    {{ form_label(form.informationsComplementaires, "Informations complémentaires ...", {'label_attr': {'class': 'control-label'}}) }}
    </div>
    <div class="col-sm-10"> 
     {{ form_widget(form.informationsComplementaires, {'attr': {'class': 'arrivee form-control','placeholder':""}}) }}
    </div>
    <div class="error-champ">
      {{ form_errors(form.informationsComplementaires) }}
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-2"></div>
    <div class="col-sm-10"> 
      <input type="submit" data-form="form" class="btn btn-danger confirmation" data-message="Vous voulez vraiment enregistrer les modifications ?" value="Enregistrer">
    </div> 
  </div> 

  </div>

  <div class="hidde-filed" style='display:none'>
  	{{ form_rest(form) }}
  </div>
</div>

  