<div class="row form-horizontal col-md-12">
			
	<div class="form-group"> 
	  <div class="col-sm-2"> 
	 	 {{ form_label(form.titre, "Titre de l'annonce", {'label_attr': {'class': 'control-label'}}) }}
	  </div>
	  <div class="col-sm-10"> 
	    {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder':""}}) }}
	  </div>
	  <div class="error-champ">
	  	{{ form_errors(form.titre) }}
	  </div>
	</div>

	<div class="form-group"> 
	  <div class="col-sm-2"> 
	 	 {{ form_label(form.villeDepart, "Ville de départ", {'label_attr': {'class': 'control-label'}}) }}
	  </div>
	  <div class="col-sm-6"> 
	    {{ form_widget(form.villeDepart, {'attr': {'class': 'depart form-control', 'id':'depart', 'placeholder':""}}) }}
	  </div>
	  <div class="col-sm-4"> 
	    {{ form_widget(form.dateDepart, {'attr': {'class': 'd-depart form-control', 'placeholder':""}}) }}
		{{ form_widget(form.dateDepartFlexible, {'attr': {'class': 'd-depart-flexible form-control', 'placeholder':'Marge de Date de départ'}}) }}
                    
		{{ form_widget(form.departIsFlexible, {'attr': {'class': 'fret_departIsFlexible'}}) }}
		{{ form_label(form.departIsFlexible, "Date Départ Incertain", {'label_attr': {'class': 'incertain'}}) }} 
	  </div>
	  <div class="error-champ">
	  	{{ form_errors(form.villeDepart) }} 
	  </div>
	  <div class="error-champ">
	  	{{ form_errors(form.dateDepart) }}
		{{ form_errors(form.dateDepartFlexible) }}
	  </div>
	</div> 

	<div class="form-group"> 
	  <div class="col-sm-2"> 
	 	 {{ form_label(form.villeArrivee, "Ville d'arrivée", {'label_attr': {'class': 'control-label'}}) }}
	  </div>
	  <div class="col-sm-6"> 
	    {{ form_widget(form.villeArrivee, {'attr': {'class': 'arrivee form-control', 'id':'arrivee', 'placeholder':""}}) }}
	  </div>
	  <div class="col-sm-4"> 
	    {{ form_widget(form.dateArrivee, {'attr': {'class': 'd-arrivee form-control', 'placeholder':""}}) }}
		{{ form_widget(form.dateArriveeFlexible, {'attr': {'class': 'd-arrivee-flexible form-control', 'placeholder':"Marge de Date d'arrivée"}}) }}
                  	
					
		{{ form_widget(form.arriveIsFlexible, {'attr': {'class': 'fret_arriveIsFlexible'}}) }}
		{{ form_label(form.arriveIsFlexible, "Date Arrivée Incertain", {'label_attr': {'class': 'incertain'}}) }}
	  </div>
	  <div class="error-champ">
	  	{{ form_errors(form.villeDepart) }} 
	  </div>
	  <div class="error-champ">
	  	{{ form_errors(form.dateArrivee) }}
		{{ form_errors(form.dateArriveeFlexible) }}
	  </div>
	</div>  
	<div class="space-20"></div>

 
