{% extends "HellofretBackEndBundle::layoutchargeur.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	Page affichage Fret

{% endblock %}