.clear::before, 
div.clear,
.clear::after {
    content: "";
    width: 100%;
    clear: both;
    float: none;
    display: block;
}
.deposer-une-annonce .content-header{
	background: url('../../images/content-header.jpg');
	height: 119px;
	line-height: 119px;
	font-size: 32px;
	text-transform: uppercase;
	padding: 0;
	padding-left: 20px;
	color: #fff;
	font-family: "Century Gothic";
	font-weight: bold;
	margin-top:0;
}
.content-wrapper, .right-side { 
    background-color: #fff!important; 
}
.hf-block {
    max-width: 622px;
    float: right;
}
.hf-block .hf-block-head {
    width: 90%;
    background: #152853;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
    margin-bottom: -39px;
    z-index: 1;
    border-radius: 3px;
    position: relative;
}
.hf-block .hf-block-head h2 {
    font-size: 23px;
    font-weight: bold;
    margin: 5px 0;
}
li.etat-novu{
    background: #f6a930;
    color: #fff;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li .pull-left { 
    height: 63%;
    position: absolute;
    top: 29%;
    left: 5px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li.etat-novu > a > p { 
    color: #FFF;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li.etat-novu:hover{
    background: #f5c983;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li.etat-novu:hover > a > p { 
    color: #FFF;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li.etat-novu:hover > a{ 
    background: none;
}
.navbar-nav > .messages-menu > .dropdown-menu > li > p^{
    padding: 0px 10px;
    color: rgb(251, 147, 147);
}
.navbar-nav > .messages-menu > .dropdown-menu > li > p {
    color: #f36f6f;
    padding: 0 11px;
    font-style: italic;
}

.hf-block-content { 
    padding: 100px 30px 60px;
}
.hf-block .hf-block-content {
    background: #fff;
    border: 1px solid #c5c5c5;
    padding: 12px;
    padding-top: 60px;
}
.hf-block-content > div { 
    padding-top: 30px;
    padding-bottom: 10px;  
    float: right;
    width: 100%;
}
.hf-block input[type="date"],
.hf-block input[type="text"],
.hf-block select,
.hf-block input[type="number"],
.hf-block textarea{
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    padding: 8px 2%;
    font-size: 12px;
    color: #222;
} 
.hf-block  .icheckbox_minimal-blue { 
    margin-right: 9px; 
}
.hf-block label{
	line-height: 32px;
}
.hf-block  span.error{
	color: red;
	font-size: 11px;
	display: block;width: 100%;
}
.hf-block textarea{
    height: 100px
}
.page-inscription-form form > p {
    margin-bottom: 20px;
}
.hf-block-content .block-btn {
    text-align: right;
    padding-right: 15px;
    padding-top: 11px;
    float: left;
    width: 100%;
}
.hf-block .block-btn .btn_ {
    background: #152853;
    padding: 6px 50px;
    font-weight: bold;
    border-radius: 4px;
    border: 0;
    color: #fff;
}
.btn_:hover{
	transform: scale(1.1);
	transition: all .2s;
}
.right{
	float: right;
}
.left{
	float: left;
}
.space-20{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	height: 20px;
}
input.depart {
    background: #fff url('../../images/depart.png') no-repeat 96% center;
    padding-right: 9% !important;
}
input.arrivee {
    background: #fff url('../../images/arrivee.png') no-repeat 96% center;
    padding-right: 9% !important;
}
input.d-depart, input.d-arrivee, input.d-depart-flexible, input.d-arrivee-flexible {
    background: #fff  url("../../images/icon-date.png") no-repeat 96% center;
}
.block-add-annonce {
    background: url('../../images/img-deposer-annonce.jpg') no-repeat 30px bottom;
    margin-top: 20px;
}
.add-annonce-fretalimentation
{
    background: url('../../images/img-deposer-annonce-1.jpg') no-repeat 30px center; 
}
.add-annonce-fretanimaux {
    background: url('../../images/img-deposer-annonce-2.jpg') no-repeat 30px center; 
}
.add-annonce-fretboissable{
    background: url('../../images/img-deposer-annonce-3.jpg') no-repeat 30px center; 
} 
.add-annonce-fretcerealepice{
    background: url('../../images/img-deposer-annonce-4.jpg') no-repeat 30px center; 
} 
.add-annonce-fretconteneur{
    background: url('../../images/img-deposer-annonce-5.jpg') no-repeat 30px center; 
} 
.add-annonce-fretdechet{
    background: url('../../images/img-deposer-annonce-6.jpg') no-repeat 30px center; 
} 
.add-annonce-fretequipement{
    background: url('../../images/img-deposer-annonce-7.jpg') no-repeat 30px center; 
} 
.add-annonce-frethydrocarbure{
    background: url('../../images/img-deposer-annonce-8.jpg') no-repeat 30px center; 
} 
.add-annonce-fretconditionne{
    background: url('../../images/img-deposer-annonce-9.jpg') no-repeat 30px center; 
} 
.add-annonce-fretmessagerie{
    background: url('../../images/img-deposer-annonce-10.jpg') no-repeat 30px center; 
} 
.add-annonce-fretpalettes{
    background: url('../../images/img-deposer-annonce-11.jpg') no-repeat 30px center; 
} 
.add-annonce-fretpharmacie{
    background: url('../../images/img-deposer-annonce-12.jpg') no-repeat 30px center; 
} 
.add-annonce-fretvehicule{
    background: url('../../images/img-deposer-annonce-13.jpg') no-repeat 30px center; 
} 
.add-annonce-fretdemenagement{
    background: url('../../images/img-deposer-annonce-14.jpg') no-repeat 30px center; 
} 

.hidde-filed{
	display:none;
}

.filed-complex > div > div > div{
	float:left;
	width:32%;
    width: 32%;
    margin-right: 1%;
}
.filed-complex > div > div > div input,
.filed-complex > div > div > div select{
   width: 100%; 
   border: 1px solid rgb(170, 170, 170);
    width: 100%;
    padding: 8px 2%;
    font-size: 12px;
    color: #222;
}
#fret_palettes_palettes.filed-complex > div > div > div {
    width: 23%;
    margin-right: 2%;
    margin-left: 0; 
}
#fret_palettes_palettes.filed-complex > div > div > div input[type="checkbox"]{
   display: inline;
   width: auto;
}
.block-add-annonce  #fret_pharmacie_temperateurDirigee {
    float: left;
    width: 100%;
    padding: 0 15px;
    margin-top: -23px;
}
.block-add-annonce #fret_pharmacie_temperateurDirigee input {
    margin-right: 6px;
}
.block-add-annonce #fret_pharmacie_temperateurDirigee input#fret_pharmacie_temperateurDirigee_1 {
    margin-left: 19px;
}
.block-add-annonce  #fret_messagerie_typeMessagerie input {
    width: 5%; 
    margin-left: -7px;
}
.block-add-annonce   #fret_messagerie_fragile input{
   margin-right: 5px;
}
.block-add-annonce  #fret_messagerie_fragile_1 {
    margin-left: 19px;
}
.block-add-annonce  #fret_messagerie_typeMessagerie label {
    width: 95%;
}
.block-add-annonce   #fret_messagerie_typeMessagerie {
    float: left;
    width: 100%;
    padding: 0 15px;
}
.filed-complex > div > div > div:first-child{
	margin-left:0;
}
.filed-complex label{
	display:none;
}
.filed-complex > div > div{
	float:left;
	width: 92%;
	margin-top:10px;
}
.filed-complex .btn-danger{
	margin-top:9px;
	float:left;
	width: 8%;
    padding: 7px;
}
.filed-complex > div > div > div:nth-child(4) label{
	display:inline;
}
.filed-complex{
padding: 15px;
width:100%: 
}
.page-profile{
    background-color: #ecf0f5; 
} 
.page-profile .alert h4 {
    margin-bottom: 0;
}
.page-profile .alert{ 
    margin-top: 20px;
}
.page-profile .inputfile input{
  height: auto;
}
.hf-block .alert {
    width: 94%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 60px;
}
.block-add-annonce {
    min-height: 470px;
}
.btn.btn-app {
    margin: 2px;
    width: 50px;
    min-width: 59px;
    padding: 6px 0 3px;
    height: auto;
}
.fret-en-cours table td:last-child {
    width: 277px;
}
.fret-en-cours table th:last-child {
   text-align: center;
}
table.table-even tr:nth-child(odd) {
    background: #fff;
}
table.table-even tr:nth-child(2n) {
    background: #eaeaea;
}
.btn-app > .badge { 
    top: -6px;
    right: -5px;
    font-size: 11px; 
}
.content-header { 
    padding: 16px;
}
.viewfret .titre-annonce span{
    display: block;
    float: right;
    font-size: 18px;
    font-weight: 400; 
}
.viewfret .widget-user .widget-user-username { 
    font-weight: 600; 
}
.viewfret .widget-user .widget-user-desc{
    font-weight: 400; 
}
.viewfret .widget-user .widget-user-header { 
    height: 96px; 
}
.main-chargeur,
.main-transporteur{
    background:rgb(242, 242, 242);
} 
.fret-disponible .btn.btn-app { 
    width: 69px; 
} 
.fret-disponible  table td:last-child {
    width: 242px;
}
.fret-disponible table th:last-child {
    text-align: center;
}
.wrapper-viewfret{
    margin: 0px auto;
    float: none;
    clear: both;
    width: 100%;
    max-width: 1000px;
}
.wrapper-viewfret .info-dapart-arrivee .box { 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.44);
}
.wrapper-viewfret .info-dapart-arrivee .box h3{ 
    font-weight: 600;
}
.wrapper-viewfret .block-bottom {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper-viewfret .btn.btn-app { 
    min-width: 59px;
    padding: 6px 16px 9px;
    height: auto;
    width: auto;
}
.wrapper-viewfret .btn.btn-app.supp-annonce {
    background: rgb(230, 49, 49) none repeat  0% 0%;
    color: rgb(255, 255, 255);
    border: none;
}
.wrapper-viewfret .btn.btn-app.save-annonce {
    background: rgb(13, 153, 234) none repeat  0% 0%;
    color: rgb(255, 255, 255);
    border: none;
}
.wrapper-viewfret .btn.btn-app.proposer-devis{
    background: rgb(0, 166, 90) none repeat  0% 0%;
color: rgb(255, 255, 255);
    border: none;
}
.wrapper-viewfret .btn.btn-app.edit-annonce { 
    background: rgb(255, 144, 0) none repeat  0% 0%;
    color: rgb(255, 255, 255);
    border: 0px none; 
}
.wrapper-viewfret .btn.btn-app:hover{
    opacity: 0.8;
}
.modal {
    background: rgba(0, 0, 0, 0.85);
}
.box-header {
    cursor: pointer;
}
.direct-chat-messages { 
    max-height: 400px; 
    height: auto; 
}
.modifier-une-annonce .block-incertain input[type="checkbox"] {
    margin-top: 11px;
    margin-right: 10px;
}
.modifier-une-annonce  .input-radios > div > div {
    display: inline-block;
    margin-left: 10px;
}
.modifier-une-annonce  .input-radios > div > div  input[type=radio]{
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.modifier-une-annonce  .filed-complex {
    padding: 15px 0; 
} 
.modifier-une-annonce  .complexe-palettes input[type=checkbox] {
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}
.modifier-une-annonce  .complexe-palettes label {
    position: relative;
    top: 6px;
}
.modifier-une-annonce .filed-complex .btn-danger { 
    width: 6%;
    padding: 6px;
    max-width: 36px;
}
.modifier-une-annonce .filed-complex > div > div { 
    width: 94%; 
}
.modifier-une-annonce .objet-fragile input[type=radio]{
     margin-right: 5px;
     top: 2px;
}
.modifier-une-annonce .objet-fragile label{
     margin-right: 10px;
     top: 2px;
}
.modifier-une-annonce .typeMessagerie > div  > div input[type=radio] {
    width: 5%;
    text-align: left;
}
.modifier-une-annonce .typeMessagerie > div > div  label {
    width: 95%; 
}
.modifier-une-annonce .typeMessagerie {  
    margin-top: 40px;
    margin-bottom: 40px;
}
.modifier-une-annonce .typeMessagerie > div > div{  
    margin-left: -2%;
}
.modifier-une-annonce .vehicule .filed-complex > div > div {
    width: 95%;
}
.modifier-une-annonce .form-horizontal .control-label { 
    display: block;
}
.viewdevis .box .box-header{
    background: rgb(0, 166, 90) none repeat  0% 0%;
    color: rgb(255, 255, 255);
}
.viewdevis .box { 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.viewdevis .btn-box-tool,
.viewdevis .btn-box-tool:hover {
    color: #fff;
}
.info-devis p {
    background: rgb(242, 242, 242) none repeat 0% 0%;
    padding: 10px;
    border: 1px solid rgb(230, 230, 230);
}
.info-chargeur p {
    padding: 15px;
    background: rgb(202, 255, 210) none repeat  0% 0%;
    font-size: 15px;
    border: 1px solid #a6e1af;
}
.form-horizontal .control-label { 
    display: block;
    width: 100%;
}
.add-devis {
    max-width: 800px;
}
.content-wrapper{
    background-color: #f2f2f2 !important;
}
div.error ul { 
    padding: 0px; 
}
div.error ul li {
    list-style: none;
    padding: 0px;
    color: red;
    font-size: 13px;
    font-style: italic;
}
.block-add-trajet{
    background: url('../../images/icon-road.png') no-repeat 13% center;
}

.block-add-trajet .trajet_type{
    float: left;
    width: 100%;
}
.block-add-trajet #trajet_type input{
    float: left;
    width: 8%;
    margin-top: 10px;
}
.block-add-trajet #trajet_type label{
    float: left;
    width: 92%;
}
.block-add-trajet #trajet_type:after,
.block-add-trajet #trajet_type:before{
    width: 100%;
    display: block;
    float: none;
    clear: both;
    content: "";
}
.table{ display: table; width: 100%; }
.table > div{ display: table-row; }
.table > div > div{ display: table-cell; text-align: center;}
.trajet-en-cours table th:last-child {
    width: 212px;
}
.viewtrajet .infotrajet .box { 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.29);
}
.block-add-vehicule .prix-mad{
	padding: 0;
	padding-top: 6px;
} 
.block-add-vehicule #voiture_location_photos > div {
    background: RGBA(243, 156, 18, 0.47);
    padding: 10px; 
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.block-add-vehicule #voiture_location_photos > div > div label {
    display: none;
}
.block-add-vehicule #voiture_location_photos > div > label {
    float: left;
    margin-right: 10px; 
    line-height: 100%;
    padding-top: 5px;
}
.block-add-vehicule #voiture_location_photos > div .btn-danger {
    height: 24px;
    padding: 0px;
    width: 26px;
    float: right;
} 
.block-add-vehicule #voiture_location_photos > div > div { 
    float: left; 
}
.block-add-vehicule #voiture_location_photos{
	padding-right: 15px;
	padding-left: 15px;
} 
.block-add-vehicule #voiture_location_photos .btn-warning {
   margin-bottom: 10px;
}
.block-add-vehicule .hf-block label {
    line-height: 100%;
    margin-bottom: 0;
    margin-top: 5px;
}
.block-add-vehicule {
    background: url('../../images/location-voiture.jpg') no-repeat -28% center;
}
.pac-logo::after{
	display: none!important;
}
.block-add-vehicule ul{ 
    position: relative;
    top: 0;
    padding-left: 16px;
    clear: both;
}
.block-add-vehicule ul li {
    list-style: outside none none;
    color: red;
    font-size: 12px;
    font-style: italic;
    position: relative;
    top: -9px;
}
.deposer-une-annonce-voiture .img-voiture {
    height: 200px;
    box-shadow: 1px 1px 2px #aaa;
    margin-right: 2px;
    width: 33%;

}
.deposer-une-annonce-voiture  .widget-user .widget-user-header { 
    height: 72px; 
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a{
    white-space: normal;
    border-bottom: 1px solid #dad7d7;
    position: relative;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu { 
    box-shadow: 0px 4px 6px #9c9c9c;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li.etat-novu > a > h4 {
      color: #FFF; 
      font-weight: bold;
}

body.transporteur .trajet-en-cours .table-even th:last-child {
    width: 278px;
}
body.chargeur .voiture-disponible .table-even th:last-child {
    width: 160px;
}
body.chargeur .voiture-disponible .btn.btn-app { 
    min-width: 50px;
    width: auto;
    padding: 6px 5px 3px; 
}
.content-wrapper { 
    margin-top: -22px;
}
body.chargeur.skin-blue .main-header .logo ,
body.chargeur.skin-blue .main-header .navbar,
body.chargeur.skin-blue .main-header li.user-header{
    background-color: #a4382b; 
}
body.chargeur.skin-blue .wrapper, 
body.chargeur.skin-blue .main-sidebar, 
body.chargeur.skin-blue .left-side {
   background-color: rgb(192, 78, 64);
}
body.chargeur.skin-blue .sidebar a {
    color: #000;
}
body.chargeur.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #ce5748;
}
body.chargeur.skin-blue .treeview-menu > li > a {
    color: #000;
}
body.chargeur.skin-blue .sidebar-menu > li:hover > a, 
body.chargeur.skin-blue .sidebar-menu > li.active > a { 
    background: #a4382b; 
    border-left-color: #5a1810;
}
body.chargeur.skin-blue .sidebar-menu > li.header {
    color: #fff;
    background: #a4382b;
}
#footer{
	display: none;
}
.col-md-12.page-index-admine > div {
    float: none;
    margin: 0 auto;
}
.col-md-12.page-index-admine .widget-user .widget-user-header { 
    height: 230px; 
}
.col-md-12.page-index-admine .widget-user .widget-user-image { 
    top: 186px;  
}
.col-md-12.page-index-admine .widget-user h1{
    padding: 0px 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase; 
    text-align: center;
}
.col-md-12.page-index-admine .widget-user h1 span{
     color: #2580aa;
}
.transporteur .fret-disponible table td:last-child {
    width: 322px;
}

@media (max-width: 1250px) { 
div .hf-block {
    width: 70%; 
}

}

@media (max-width: 990px) { 
 
div .hf-block {
    width: 80%;
    float: right;
    float: none;
    margin: 0 auto;
}
.hf-block-content > div { 
    float: none;
}
.block-add-annonce { 
    margin-top: 0px;
    padding-top: 260px;
    background-position: center top;
}
.block-add-trajet{ 
    background-size: 160px;
}
.deposer-une-annonce-voiture .img-voiture { 
    width: 48%;
    margin: 0;
}


}
@media (max-width: 900px) { 

table.table-even th,
table.table-even td{
    display: none;
}
table.table-even td:nth-child(1){
    display: block;
    width: 100%;
}
table.table-even td p{
   width: 50%;
   margin: 0;
   font-weight: normal;
}
table.table-even td p.btns_{
   width: 100%;
   text-align: right;
   margin-top: -60px;
}
table.table-even .mobile td { 
    padding-bottom: 17px;
    font-weight: bold;
}



}@media (max-width: 660px) { 
table.table-even td p.btns_ { 
    text-align: left;
    margin-top: 10px;
}
table.table-even td p { 
    width: 100%;
}

}@media (max-width: 600px) { 
div .hf-block {
    width: 100%; 
}
.deposer-une-annonce .content-header { 
    height: 69px;
    font-size: 23px;
    line-height: 69px;
    text-align: center;
	padding: 0;
}
.hf-block .hf-block-content { 
    padding: 0;
    padding-top: 30px;
}
.block-add-annonce { 
    padding-top: 180px; 
    background-size: 310px;
}
.direct-chat-messages { 
    max-height: 250px; 
    height: auto; 
}
.block-add-trajet{ 
    background-size: 110px;
}

.deposer-une-annonce-voiture .img-voiture { 
    width: 100%;
    margin: 0;
}


}

@media (max-width: 380px) { 

.table-even .btn.btn-app {
    width: 60px;
    font-size: 11px;
}


}











