{% extends "HellofretFrontBundle::layouttransporteur.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	Page Inscription de transporteur...

{% endblock %}