{% extends "HellofretBackEndBundle::layouttransporteur.html.twig" %}

{% block title %}
  Mes Frets - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}
	<section class="content-header">
	  <h1>
		Tous
		<small>Mes Frets</small>
	  </h1>
	  <ol class="breadcrumb">
		<li><a href="{{ path("hellofret_front_chargeur_index") }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
		<li class="active">Mes Frets</li>
	  </ol>
	</section>
	
	<section class="content">
		
<div class="row">
	<div class="col-xs-12">
		 <div class="box">
				<div class="box-header">
				  <h3 class="box-title">Mes frets</h3>
				</div>
				<div class="box-body table-responsive no-padding fret-disponible">
				  <table class="table table-hover table-even">
				  
					<tr>
					  <th>Titre</th>
					  <th>Départ</th>
					  <th>Arrivée</th>
					  <th>Date création</th>
					  <th>Date Expiration</th>
					  <th>Action</th>
					</tr>
					{% for fret in frets %}
						<tr>
						  <td>{{ fret.titre }}</td>
						  <td>{{ fret.villeDepart }}</td>
						  <td>{{ fret.villeArrivee }}</td>
						  <td>{{ fret.dateCreation|date('d/m/Y') }}</td>
						  <td>
						  	{% if fret.dateExperation != "" %}
						  		{{ fret.dateExperation|date('d/m/Y') }}
							{% else %}
								Non spécifié
							{% endif %}
						  </td>
						  <td>
						  	<a href="{{ path('hellofret_transporteur_fret_view', {'id': fret.id}) }}" class="btn btn-app">
								<i class="fa fa-search"></i> Aperçu
						  	</a>
							<a href="{{ path('hellofret_annonce_save', {'id': fret.id}) }}" class="btn btn-app">
								<i class="fa fa-save"></i> Sauvgarder
							</a>
							<a href="{{ path('hellofret_transporteur_fret_view', {'id': fret.id}) }}" class="btn btn-app nbr-notification" id="{{ fret.id }}">
								{% set count_message = get_count_notification("new_message",fret.id) %}
								<span class="badge bg-aqua">{{ count_message }}</span>
								<i class="fa fa-envelope"></i> Message
							</a>
							<a href="{{ path('hellofret_transporteur_fret_view', {'id': fret.id}) }}" class="btn btn-app nbr-notification" id="{{ fret.id }}">
								{% set count_devis = get_count_notification("notification_devis",fret.id) %}
								<span class="badge bg-green">{{ count_devis }}</span>
								<i class="fa  fa-file-text-o"></i> Mon devis
							</a>
						  </td>
						</tr>
					{% endfor %}
				  </table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>
</div>
		
		
		
	</section>
{% endblock %}



