{% extends "HellofretFrontBundle::layout.html.twig" %}

{% block title %}
  Conditions Générales d’utilisation- {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	<div class="calcul-height annonce-fret clear">

    <div class="wrapper boxed-block clear">

      <div class="title-page">

        <h1>Conditions Générales d’utilisation</h1>

      </div>


    </div>

  </div>

{% endblock %}

