{% extends "HellofretBackEndBundle::layouttransporteur.html.twig" %}

{% block title %}
  Modifier mon devis - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}
<section class="content-header">
  <h1> Modifier mon devis <small>Fret N° {{ fret.id }}</small> </h1>
  <ol class="breadcrumb">
    <li><a href="{{ path("hellofret_front_transporteur_index") }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active">Mon Compte</li>
  </ol>
</section>
{# On affiche tous les messages flash dont le nom est « info » #}
<section class="content  add-devis">
  <section class="content-messages">
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i> Attention !</h4>
        <p>Vous ne pouvez modifier votre devis qu'une seul fois !</p>
      </div>
      {% for message in app.session.flashbag.get('notice') %}
      <div class="col-md-12">
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4> <i class="icon fa fa-check"></i> {{ message }} </h4>
        </div>
      </div>
      {% endfor %} 
    </section>
  <div class="box box-info"> 
    <!-- form start --> 
    {{ form_start(form) }}
    <div class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <div class="col-sm-4">
            <label for="prix" class="control-label">Votre Prix</label>
          </div>
          <div class="col-sm-6 col-xs-8"> {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'placeholder':"Votre Prix"}}) }}
            <div class="error"> {{ form_errors(form.prix) }} </div>
          </div>
          <div class="col-sm-2 col-xs-4 no-padding"style="padding-top: 6px ! important;"> DH/TTC </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <label for="enlevementTime" class="control-label">Date d'enlèvement</label>
          </div>
          <div class="col-sm-6"> {{ form_widget(form.enlevementTime, {'attr': {'class': 'd-depart form-control','required':'required', 'placeholder':''}}) }}
            <div class="error"> {{ form_errors(form.enlevementTime) }} </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <label for="livraisonTime" class="control-label">Date de livraison</label>
          </div>
          <div class="col-sm-6"> {{ form_widget(form.livraisonTime, {'attr': {'class': 'd-arrivee form-control','placeholder':'Date livraison'}}) }}
            <div class="error"> {{ form_errors(form.livraisonTime) }} </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <label for="moreInfos" class="control-label">Information complémentaire...</label>
          </div>
          <div class="col-sm-6"> {{ form_widget(form.moreInfos, {'attr': {'class': 'form-control', 'placeholder':"Information complémentaire..."}}) }}
            <div class="error"> {{ form_errors(form.moreInfos) }} </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <label for="expirationDate" class="control-label">Date d'expération</label>
          </div>
          <div class="col-sm-6"> {{ form_widget(form.expirationDate, {'attr': {'class': 'form-control', 'placeholder':"Date expération"}}) }}
            <div class="error"> {{ form_errors(form.expirationDate) }} </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-default" onclick="history.back()">Annuler</button>
        <button type="submit" data-type="form" style="display:none" ></button>
        <button data-form="form" class="btn btn-info pull-right confirmation" data-message="Vous voullez vraiment modifier ce devis ?">Enregistrer</button>
      </div>
      <!-- /.box-footer --> 
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }} </div>
</section>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
       <p>Vous voullez vraiment faire cett action ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Non</button>
        <a href="">
          <button type="button" class="btn btn-danger">Oui</button>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }} 
  
{% javascripts 
    'js/datepicker/bootstrap-datetimepicker.min.js'
	'js/datepicker/bootstrap-datepicker.js'
	'js/datepicker/bootstrap-datetimepicker.fr.js'
	'js/datepicker/daterangepicker.js'
	 filter='cssrewrite' %}
<script src="{{ asset_url }}"></script> 
{% endjavascripts %}
  
  
  <script type="text/javascript"> 
    (function($){
      $.fn.datetimepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
        months: ["Janvier", "FÃ©vrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "AoÃ»t", "Septembre", "Octobre", "Novembre", "DÃ©cembre"],
        monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Dec"],
        today: "Aujourd'hui",
        suffix: [],
        meridiem: ["am", "pm"],
        weekStart: 1,
        format: "dd/mm/yyyy hh:ii"
      };
    }(jQuery));
    $('#devis_enlevementTime').datetimepicker({
        todayBtn:"true",
        format:"yyyy-mm-dd hh:ii:ss", 
        autoclose:"true",
        pickerPosition:"bottom-left", 
        minView:"hour",
        startDate: new Date(),
        language:"fr"
    });
     $('#devis_livraisonTime').datetimepicker({
        todayBtn:"true",
        format:"yyyy-mm-dd hh:ii:ss", 
        autoclose:"true",
        pickerPosition:"bottom-left", 
        minView:"hour",
        startDate: new Date(),
        language:"fr"
      });
     
      (function($){
        $.fn.datepicker.dates['fr'] = {
          days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
          daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
          daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
          months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
          monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Déc"],
          today: "Aujourd'hui",
          clear: "Effacer",
          weekStart: 1,
          format: "dd/mm/yyyy"
        };
      }(jQuery));
    
        $('#devis_expirationDate').datepicker({
        language:"fr",
        closeText: 'Fermer',
        autoclose:"true",
        pickerPosition:"bottom-left",
        todayBtn:"true",
        startDate: new Date()
      });


  </script>
{% endblock %}