<div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Devis sous le nom : {{ devi.profil.profile.nomCommercial }}</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" style="color:rgb(47, 39, 37); font-size:14px">Voir devis &nbsp;&nbsp;<i class="fa fa-plus" style="color:#fff; font-size:12px"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div style="display: none;" class="box-body">
             
             <div class="row">
                <div class="col-xs-12 info-devis">
                    <p>
                        Prix : {{ devi.prix }} DH
                    </p>
                    <p>
                        Date enlévement : {{ devi.enlevementTime|date('d/m/Y H:i:s') }}
                    </p>
                    <p>
                        Date livraison : {{ devi.livraisonTime|date('d/m/Y H:i:s') }}
                    </p>
                    <p>
                        Information suplimentaires: {{ devi.moreInfos }}
                    </p>
                    <p>
                        Devis expire le : {{ devi.expirationDate|date('d/m/Y') }}
                    </p>
                </div>
				<div class="col-xs-12">
					{% if is_granted("ROLE_CHARGEUR")  %}
						{% if fret.approbation is same as(false) %}
						
							{% if date(devi.expirationDate) > date() %}
							
								<a href="{{ path("hellofret_chargeur_devis_refuser", {'id': devi.id }) }}" class="btn btn-danger confirmation" data-message="Vous voulez vraiment refuser ce devis ?">
									<i class="fa fa-fw fa-close"></i>
									Refuser ce Devis</a>
								<a href="{{ path("hellofret_chargeur_devis_accepte", {'id': devi.id }) }}" class="btn btn-success confirmation" data-message="Vous voulez vraiment accepter ce devis ?">
									<i class="fa fa-fw fa-check"></i>
									Accepter ce Devis</a>
							{% else %}
								<div class="alert alert-warning alert-dismissable">
				                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				                    <h4 style="margin:0"><i class="icon fa fa-warning"></i> Ce devis n'est pas disponible à ce jour !  c'est expiré le : {{ devi.expirationDate|date('d/m/Y')  }}</h4> 
				                 </div> 
							{% endif %}
						
						{% else %}
							
							{% if fret.devisAccepte.id == devi.id %} 
								<div class="alert alert-info alert-dismissable">
				                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				                    <h4 style="margin:0"><i class="icon fa fa-info"></i> Vous avez accepté ce devis</h4> 
				                  </div>
							{% else %} 
								<div class="alert alert-danger alert-dismissable">
				                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				                    <h4 style="margin:0"><i class="icon fa fa-ban"></i>Vous avez pas accepté ce devis</h4>
				                  </div>
							{% endif %}
						{% endif %}
					{% elseif is_granted("ROLE_TRANSPORTEUR") %}
						
						{% if fret.approbation is same as(false) %}
						
							{% if devi.repetition == 0 %}
							
								{% if devi.approbation is null %}
									<p class="text-light-blue">Le chargeur n'a pas encore pris de décision sur votre devis ! </p>
								{% else %}	
									{% if devi.approbation == 0 %} 
										<div class="alert alert-danger alert-dismissable">
						                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						                    <h4 style="margin:0"><i class="icon fa fa-ban"></i>Le chargeur à refusé votre premier devis</h4>
						                  </div>
									{% endif %}
								{% endif %}
								
							
							<div class="alert alert-warning alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<h4 style="margin:0"><i class="icon fa fa-warning"></i>Vous ne pouvez modifier votre devis qu'une seul fois !</h4> 
							</div>
							
							<a href="{{ path("hellofret_transporteur_devis_edit", {'id': devi.id }) }}" class="btn btn-info">Modifier mon devi</a>
							{% elseif devi.repetition == 1 %}
								{% if devi.approbation is null %} 
									<div class="alert alert-info alert-dismissable">
					                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					                    <h4 style="margin:0"><i class="icon fa fa-info"></i>Le chargeur n'a pas encore pris de décision sur votre deusième devis ! </h4> 
					                  </div>
								{% else %}	
									{% if devi.approbation == 0 %} 
										<div class="alert alert-danger alert-dismissable">
						                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						                    <h4 style="margin:0"><i class="icon fa fa-ban"></i>Le chargeur à refusé votre deuxième et dernière devis !</h4>
						                  </div>
									{% endif %}
								{% endif %}
								
								<div class="alert alert-danger alert-dismissable">
									<h4 style="margin:0"><i class="icon fa fa-ban"></i> Vous avez déjà proposé deux fois votre devis !</h4> 
								</div>
							{% endif %}
						
						{% else %}
						
							{% if fret.devisAccepte.id == devi.id %} 
								<div class="alert alert-success alert-dismissable">
				                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				                    <h4 style="margin:0"><i class="icon fa fa-check"></i> Félicitation votre devis est accépté par le chargeur !</h4> 
				                  </div>
								<div class="devis-accepter-txt">
									<div class="info-devis">
										<p>Montant a recuperer : {{ devi.prix }} DH/TTC</p>
										<p>Veuillez prendre contact avec le chargeur pour definir des modalités d'enlevement, livraison de la marchandise et de paiement.</p> 
										<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#coordonnnee"><i class="fa fa-fw fa-search"></i> Voir les coordonnées du chargeur</button>
										
									</div>
									
									<div id="coordonnnee" class="modal fade" role="dialog">
									
									<div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											<h4 class="modal-title">Coordonnées du chargeur</h4>
										  </div>
										  <div class="modal-body info-chargeur">
											<p>
												Nom commercial : {{ devi.profil.profile.nomCommercial }}
											</p>
											<p>
												Raison Sociale : {{ devi.profil.profile.raisonSociale }}
											</p>
											<p>
												Adresse : {{ devi.profil.profile.adresse }}
											</p>
											<p>
												Telephone 1 : {{ devi.profil.profile.telephone }}
											</p>
											<p>
												Telephone 2 : {{ devi.profil.profile.telephone2 }}
											</p>  
										  </div> 
										</div><!-- /.modal-content -->
									</div>
									
									</div>
								
								</div>
							{% else %} 
								<div class="alert alert-danger alert-dismissable">
									<h4 style="margin:0"><i class="icon fa fa-ban"></i> Désolé, votre devis a été refusé par le chargeur</h4> 
								</div>
							{% endif %}
						
						{% endif %}
						
					{% endif %}
				</div>
            </div>
             
            </div><!-- /.box-body -->
            
</div>