{% extends 'FOSUserBundle::layout.html.twig' %}


{% block style %}
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	{{ parent() }}
	
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	
<div class="calcul-height login-wrapper">
	<div class="table">
	  <div>
	  	<div>
	  		<div class="login-box">
		      <div class="login-logo">
		        <a href="#0">CONNEXION</a>
		      </div>
			  {% if error %}
				<div class="erreur-form">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			  {% endif %}
		      <div class="login-box-body"> 
		        <form action="{{ path("fos_user_security_check") }}" method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
					{% if app.request.get('_route') != app.request.headers.get('referer') %}    
						<input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />    
					{% endif %}
		          <div class="form-group has-feedback">
					<input class="form-control" type="text" id="username" placeholder="Username ou Email" name="_username" value="{{ last_username }}" required="required" />
		            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		          </div>
		          <div class="form-group has-feedback">
					<input class="form-control" placeholder="Mot de passe" type="password" id="password" name="_password" required="required" />
		            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
		          </div> 
		          <div class="row valide-btn">
		            <div class="col-xs-8">
		              <div class="checkbox icheck">
		                <label>
		                  <input type="checkbox" id="remember_me" name="_remember_me" checked /> Garder ma connexion
		                </label>
		              </div>
		            </div><!-- /.col -->
		            <div class="col-xs-4">
		               <input type="submit" id="_submit" name="_submit" value="Valider" class="btn btn-primary btn-block btn-flat" />
		            </div><!-- /.col -->
		          </div>

		        </form>
		         <!-- <div class="social-auth-links text-center">
		          <p>- OU -</p>
		          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Connectez-vous via Facebook</a>
		          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Connectez-vous en utilisant Google+</a>
		        </div> --><!-- /.social-auth-links -->

		        <a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié <span style="font-family:arial">?</span></a><br>
		        <a href="{{ path("hellofret_front_inscription") }}" class="text-center">Inscrivez vous si vous n'avez pas un compte</a>
		 
		      </div>
		      <!-- /.login-box-body -->
		    </div>
	  	</div>
	  </div>
	  </div>
</div>




	
	
{% endblock fos_user_content %}


