{% extends "HellofretBackEndBundle::layouttransporteur.html.twig" %}

{% block title %}
  Proposer un devis - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	<section class="content-header">
          <h1>
            Proposer un devis 
            <small>Trajet N° {{ trajet.id }}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ path("hellofret_front_transporteur_index") }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Mon Compte</li>
          </ol>
   </section>
   <section class="content-messages">
	   {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice') %}
     <div class="col-md-12">
       <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>  <i class="icon fa fa-check"></i>
           
             {{ message }} 
            
          </h4> 
        </div>
      </div>
    {% endfor %}
	</section>


     <section class="content add-devis">
      <div class="box box-info"> 
                <!-- form start -->
                {{ form_start(form) }}
                <div class="form-horizontal">
                  <div class="box-body">
                    
                    <div class="form-group"> 
                      <div class="col-sm-4">
                         <label for="prix" class="control-label">Votre Prix</label>
                      </div>
                      <div class="col-sm-6 col-xs-8">
                        {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'placeholder':"Votre Prix"}}) }}
                        <div class="error">
                          {{ form_errors(form.prix) }}
                        </div>
                      </div> 
                      <div class="col-sm-2 col-xs-4 no-padding" style="padding-top: 6px ! important;">
                         DH/TTC
                      </div> 
                    </div>

                    <div class="form-group">
                      <div class="col-sm-4"> 
                        <label for="enlevementTime" class="control-label">Date d'enlèvement</label>
                      </div>
                      <div class="col-sm-6">
                        {{ form_widget(form.enlevementTime, {'attr': {'class': 'd-depart form-control','required':'required', 'placeholder':''}}) }}
                        <div class="error">
                          {{ form_errors(form.enlevementTime) }}
                        </div>
                      </div> 
                    </div>
                    <div class="form-group"> 
                      <div class="col-sm-4"> 
                         <label for="livraisonTime" class="control-label">Date de livraison</label>
                      </div>
                      <div class="col-sm-6">
                        {{ form_widget(form.livraisonTime, {'attr': {'class': 'd-arrivee form-control','placeholder':'Date livraison'}}) }}
                        <div class="error">
                          {{ form_errors(form.livraisonTime) }}
                        </div>
                      </div> 
                    </div>
                    <div class="form-group"> 
                      <div class="col-sm-4"> 
                          <label for="moreInfos" class="control-label">Information complémentaire...</label>
                      </div>
                      <div class="col-sm-6">
                        {{ form_widget(form.moreInfos, {'attr': {'class': 'form-control', 'placeholder':"Information complémentaire..."}}) }}
                        <div class="error">
                          {{ form_errors(form.moreInfos) }}
                        </div>
                      </div> 
                    </div>
                    <div class="form-group"> 
                      <div class="col-sm-4"> 
                          <label for="expirationDate" class="control-label">Date d'expération</label>
                      </div>
                      <div class="col-sm-6">
                        {{ form_widget(form.expirationDate, {'attr': {'class': 'form-control d-depart', 'placeholder':"Date expération"}}) }}
                        <div class="error">
                          {{ form_errors(form.expirationDate) }}
                        </div>
                      </div> 
                    </div>


                     
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button class="btn btn-default" onclick="history.back()">Annuler</button>
                    <button type="submit" data-type="form" style="display:none" ></button>
                    <button data-form="form" class="btn btn-info pull-right confirmation" data-message="Voulez vous vraiment proposer ce devis ?">Valider</button>
                  </div><!-- /.box-footer -->
                 </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
          </div> 
   </section>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
       <p>Voulez vous vraiment faire cett action ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Non</button>
        <a href="">
          <button type="button" class="btn btn-danger">Oui</button>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
   {# 
   <section class="content">
   		<div class="row">
		
			
			<div class="col-md-12">
				{{ form_start(form) }}
          
                    <p class="col-md-12">
                      {{ form_widget(form.prix, {'attr': {'class': 'form-titre', 'placeholder':"Votre Prix"}}) }} DH/TTC
                      {{ form_errors(form.prix) }}
					</p>
					<div class="space-20"></div>
                    <p class="col-md-6 col-sm-6">
						Important format ex :  : 2000-01-01 00:00:00
                      {{ form_widget(form.enlevementTime, {'attr': {'class': 'd-depart', 'required':'required', 'placeholder':'Date enlèvement'}}) }}
                      {{ form_errors(form.enlevementTime) }}
                    </p>
                    
                    <p class="col-md-6 col-sm-6">
					Important format ex :  : 2000-01-01 00:00:00
                      {{ form_widget(form.livraisonTime, {'attr': {'class': 'd-arrivee', 'placeholder':'Date livraison'}}) }}
                      {{ form_errors(form.livraisonTime) }}
                    </p>
					<div class="space-20"></div>
                    <p class="col-md-12">
                      {{ form_widget(form.moreInfos, {'attr': {'class': 'form-titre', 'placeholder':"Information complémentaire..."}}) }}
                      {{ form_errors(form.moreInfos) }}
					</p>
					<p class="col-md-12">
						Votre devis valable jusqu'à : 
                      {{ form_widget(form.expirationDate, {'attr': {'class': 'form-titre', 'placeholder':"Date expération"}}) }}
                      {{ form_errors(form.expirationDate) }}
					</p>
                    <p class="block-btn">
                      <input type="submit" class="btn_" value="Valider">
                    </p>
                    
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
			</div>
		
		</div>
   </section> #}
 

{% endblock %}



{% block javascripts %}
  {{ parent() }}
  
   
{% javascripts 
    'js/datepicker/bootstrap-datetimepicker.min.js'
	'js/datepicker/bootstrap-datepicker.js'
	'js/datepicker/bootstrap-datetimepicker.fr.js'
	'js/datepicker/daterangepicker.js'
	 filter='cssrewrite' %}
<script src="{{ asset_url }}"></script> 
{% endjavascripts %}
  
  
   
  <script type="text/javascript"> 
    (function($){
      $.fn.datetimepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
        months: ["Janvier", "FÃ©vrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "AoÃ»t", "Septembre", "Octobre", "Novembre", "DÃ©cembre"],
        monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Dec"],
        today: "Aujourd'hui",
        suffix: [],
        meridiem: ["am", "pm"],
        weekStart: 1,
        format: "dd/mm/yyyy hh:ii"
      };
    }(jQuery));
    $('#devis_demande_enlevementTime').datetimepicker({
        todayBtn:"true",
        format:"yyyy-mm-dd hh:ii:ss", 
        autoclose:"true",
        pickerPosition:"bottom-left", 
        minView:"hour",
        startDate: new Date(),
        language:"fr"
    });
     $('#devis_demande_livraisonTime').datetimepicker({
        todayBtn:"true",
        format:"yyyy-mm-dd hh:ii:ss", 
        autoclose:"true",
        pickerPosition:"bottom-left", 
        minView:"hour",
        startDate: new Date(),
        language:"fr"
      });
     
      (function($){
        $.fn.datepicker.dates['fr'] = {
          days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
          daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
          daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
          months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
          monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Déc"],
          today: "Aujourd'hui",
          clear: "Effacer",
          weekStart: 1,
          format: "dd/mm/yyyy"
        };
      }(jQuery));
    
        $('#devis_demande_expirationDate').datepicker({
        language:"fr",
        closeText: 'Fermer',
        autoclose:"true",
        pickerPosition:"bottom-left",
        todayBtn:"true",
        startDate: new Date()
      });


  </script>
{% endblock %}