<div class="box box-default collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Devis sous le nom : {{ demande.devisDemande.profil.profile.nomCommercial }}</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" style="color:rgb(47, 39, 37); font-size:14px">Voir devis &nbsp;&nbsp;<i class="fa fa-plus" style="color:#fff; font-size:12px"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div style="display: none;" class="box-body">
             
             <div class="row">
                <div class="col-xs-12">
                    <p>
                        Prix : {{ demande.devisDemande.prix }} DH
                    </p>
                    <p>
                        Date enlèvement : {{ demande.devisDemande.enlevementTime|date('d/m/Y H:i:s') }}
                    </p>
                    <p>
                        Date livraison : {{ demande.devisDemande.livraisonTime|date('d/m/Y H:i:s') }}
                    </p>
                    <p>
                        Information supplémentaires: {{ demande.devisDemande.moreInfos }}
                    </p>
                    <p>
                        Devis expire le : {{ demande.devisDemande.expirationDate|date('d/m/Y') }}
                    </p>
                </div>
				<div class="col-xs-12">
					{% if is_granted("ROLE_CHARGEUR")  %}
						{% if demande.devisDemande.approbation is null %}
						
							{% if date(demande.devisDemande.expirationDate) > date() %}
								{% if demande.devisDemande.repetition == 1 %}
								  <p class="text-yellow">Vous avez refusé son premier devis</p>
								  <p class="text-light-blue">Le transporteur a soumis son deuxième et dernier devis.</p>
								  
								{% endif %}
							
								<a href="{{ path("hellofret_chargeur_devisdemande_refuser", {'id': demande.devisDemande.id }) }}" class="btn btn-danger">Refuser ce Devis</a>
								<a href="{{ path("hellofret_chargeur_devisdemande_accepte", {'id': demande.devisDemande.id }) }}" class="btn btn-success">Accepter ce Devis</a>
							{% else %}
								<p class="text-red">Ce devis n'est pas disponible à ce jour ! <br> c'est expiré le : {{ demande.devisDemande.expirationDate|date('d/m/Y')  }}</p>
							{% endif %}
						
						{% elseif demande.devisDemande.approbation is same as(false) %}
						
							{% if demande.devisDemande.repetition == 0 %}
                              <p class="text-yellow">Vous avez refusé le premier devis</p>
                            {% else %}	
                              <p class="text-red">Vous avez refusé le deuxième est dernier devis</p>
                            {% endif %}
						
                        {% else %}
							<p class="text-green">Vous avez accepté ce devis</p>
						{% endif %}
					{% elseif is_granted("ROLE_TRANSPORTEUR") %}
                    
                    
                    	{% if demande.devisDemande.approbation is null %}
                    		{% if demande.devisDemande.repetition == 0 %}
                              <p class="text-light-blue">Le chargeur n'a pas encore pris de décision sur votre premier devis ! </p>
                            {% else %}	
                              <p class="text-light-blue">Le chargeur n'a pas encore pris de décision sur votre deusième devis ! </p>
                            {% endif %}
                            
                    	{% elseif demande.devisDemande.approbation is same as(false) %}
                    		{% if demande.devisDemande.repetition == 0 %}
                              	<p class="text-red">Le chargeur à refusé votre premier devis</p>
                                
                                <div class="alert alert-warning alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-warning"></i> Attention!</h4>
                                    <p>Vous ne pouvez modifier votre devis qu'une seul fois !</p>
                                </div>
							
								<a href="{{ path("hellofret_transporteur_devisdemande_edit", {'id': demande.devisDemande.id }) }}" class="btn btn-info">Modifier mon devi</a>
                            {% else %}	
                              	<p class="text-red">Le chargeur à refusé votre deuxième et dernière devis !</p>
                                <div class="alert alert-danger alert-dismissable">
									<h4><i class="icon fa fa-ban"></i> Désolé !</h4>
									<p>Vous avez déjà proposé deux fois votre devis !</p>
								</div>
                            {% endif %}
                    	{% else %}
                         	<p class="text-green">Félicitation votre devis est accépté par le chargeur !</p>
							<div class="devis-accepter-txt">
									<div>
										<p>Montant a recuperer : {{ demande.devisDemande.prix }} DH/TTC</p>
										<p>Veuillez prendre contact avec le chargeur pour definir des modalités d'enlevement, livraison de la marchandise et de paiement.</p>
										<p>
											<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#coordonnnee">Voir les coordonnées du chargeur</button>
										</p>
									</div>
									
									<div id="coordonnnee" class="modal fade" role="dialog">
									
									<div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											<h4 class="modal-title">Coordonnées du chargeur</h4>
										  </div>
										  <div class="modal-body">
											<p>
												Nom commercial : {{ demande.profil.profile.nomCommercial }}
											</p>
											<p>
												Raison Sociale : {{ demande.profil.profile.raisonSociale }}
											</p>
											<p>
												Adresse : {{ demande.profil.profile.adresse }}
											</p>
											<p>
												Telephone 1 : {{ demande.profil.profile.telephone }}
											</p>
											<p>
												Telephone 2 : {{ demande.profil.profile.telephone2 }}
											</p>
											
											
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
										  </div>
										</div><!-- /.modal-content -->
									</div>
									
									</div>
								
								</div>
                        {% endif %}
						
					{% endif %}
				</div>
            </div>
             
            </div><!-- /.box-body -->
            
</div>