{% extends "HellofretBackEndBundle::layouttransporteur.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block style %}

  {{ parent() }}
  {% stylesheets 'css/datepicker/*' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
  
{% endblock %}

{% block Hellofret_body %}
<div class="deposer-une-annonce">
  <h1 class="content-header">Deposer Une Annonce</h1>
  <div class="col-md-12">
    <div class="box box-primary"> 
      <!-- /.box-header -->
      <div class="box-body"> 
        
        <!-- Main content -->
        <section class="content">
          <div class="block-add-annonce block-add-trajet clear">
            <div class="hf-block overlay-wrapper col-md-6 col-sm-8 right">
              <div class="overlay" style="display:none"> <i class="fa fa-refresh fa-spin"></i> </div>
              <div class="hf-block-head">
                <h2>Déposez gratuitement votre annonce</h2>
              </div>
              <section class="content-messages"> {# On affiche tous les messages flash dont le nom est « info » #}
                {% for message in app.session.flashbag.get('notice') %}
                <div class="col-md-12">
                  <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4> <i class="icon fa fa-check"></i> {{ message }} </h4>
                  </div>
                </div>
                {% endfor %} </section>
              <div class="hf-block-content clear">
                <div class="trajet-add-annonce"> 
                  {{ form_start(form) }}
                  <p class="col-md-12"> {{ form_widget(form.titre, {'attr': {'class': 'form-titre', 'placeholder':"Titre de l'annonce"}}) }}
                    {{ form_errors(form.titre) }} 
                  </p>
                  <p class="col-md-12"> {{ form_widget(form.type, {'attr': {'class': 'form-type'}}) }}
                    {{ form_errors(form.type) }} </p>
                  <p class="col-md-12"> {{ form_widget(form.mode, {'attr': {'class': 'form-mode'}}) }}
                    {{ form_errors(form.mode) }} </p>
                  <div class="space-20"></div>
                  <p class="col-md-6 col-sm-6"> {{ form_widget(form.villeDepart, {'attr': {'class': 'depart', 'id':'depart', 'placeholder':'Ville de départ'}}) }}
                    {{ form_errors(form.villeDepart) }} </p>
                  <p class="col-md-6 col-sm-6 mode-form-1"> 
				  	{{ form_widget(form.dateDepart, {'attr': {'class': 'd-depart', 'placeholder':'Date de départ'}}) }}
                    {{ form_errors(form.dateDepart) }} 
					
					{{ form_widget(form.dateDepartFlexible, {'attr': {'class': 'd-depart-flexible', 'placeholder':'Marge de Date de départ'}}) }}
                    {{ form_errors(form.dateDepartFlexible) }}
					
					{{ form_widget(form.departIsFlexible, {'attr': {'class': 'minimal'}}) }}
			  		{{ form_label(form.departIsFlexible, "Date Départ Incertain", {'label_attr': {'class': 'incertain'}}) }}
					
					</p>
                  <p class="col-md-6 col-sm-6"> {{ form_widget(form.villeArrive, {'attr': {'class': 'arrivee', 'id':'arrivee', 'placeholder':"Ville d'arrivée"}}) }}
                    {{ form_errors(form.villeArrive) }} </p>
                  <p class="col-md-6 col-sm-6 mode-form-1"> 
				  	{{ form_widget(form.dateArrive, {'attr': {'class': 'd-arrivee', 'placeholder':"Date d'arrivée"}}) }}
                    {{ form_errors(form.dateArrive) }} 
					
					{{ form_widget(form.dateArriveeFlexible, {'attr': {'class': 'd-arrivee-flexible', 'placeholder':"Marge de Date d'arrivée"}}) }}
                  	{{ form_errors(form.dateArriveeFlexible) }}
					
					{{ form_widget(form.arriveIsFlexible, {'attr': {'class': 'minimal'}}) }}
			  		{{ form_label(form.arriveIsFlexible, "Date Arrivée Incertain", {'label_attr': {'class': 'incertain'}}) }} 
					
					</p>
                  <p class="col-md-6 col-sm-12"> 
				  {{ form_widget(form.escales, {'attr': {'class': 'esscales', 'placeholder':"Escales"}}) }}
                    {{ form_errors(form.escales) }} </p>
                  <div class="col-md-6 col-sm-6 mode-form-2">
                    <label>Fréquence de voyage</label>
                    <div class="table">
                      <div>
                        <div>{{ form_widget(form.nombrePeriode, {'attr': {'class': 'nombre-periode'}}) }}</div>
                        <div>&nbsp;/&nbsp;</div>
                        <div>{{ form_widget(form.typePeriode, {'attr': {'class': 'type-periode'}}) }}</div>
                      </div>
                    </div>
                    {{ form_errors(form.typePeriode) }}
                    {{ form_errors(form.nombrePeriode) }} 
                  </div>
                  <p class="col-md-6 col-sm-12"> {{ form_widget(form.dateExpiration, {'attr': {'class': 'date-expiration d-depart', 'placeholder':"Date Expiration"}}) }}
                    {{ form_errors(form.dateExpiration) }} </p>
                  <div class="space-20"></div>
                  <p class="col-md-12"> {{ form_widget(form.informationsComplementaires, {'attr': {'class': 'form-type', 'placeholder':'Informations complémentaires...'}}) }}
                    {{ form_errors(form.informationsComplementaires) }} </p>
                  <p class="block-btn">
                    <input type="submit" class="btn_" value="Valider">
                  </p>
                  {{ form_rest(form) }}
                  {{ form_end(form) }} </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content --> 
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  
{% javascripts 
    'js/datepicker/bootstrap-datetimepicker.min.js'
	'js/datepicker/bootstrap-datepicker.js'
	'js/datepicker/bootstrap-datetimepicker.fr.js'
	'js/datepicker/daterangepicker.js'
	 filter='cssrewrite' %}
<script src="{{ asset_url }}"></script> 
{% endjavascripts %} 

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
<script type="text/javascript">
      var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
      var depart = document.getElementById('trajet_villeDepart');
      var arrivee = document.getElementById('trajet_villeArrive');

      autocomplete1 = new google.maps.places.Autocomplete(depart, options);
      autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);

    ;(function($){
      $.fn.datepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
        months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
        monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Déc"],
        today: "Aujourd'hui",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
      };
    }(jQuery));
  
      $('.d-depart, .d-arrivee, .date-expiration').datepicker({
      language:"fr",
      closeText: 'Fermer',
      autoclose:"true",
      pickerPosition:"bottom-left",
      todayBtn:"true",
      startDate: new Date()
    });
    
    $( "form input[type='submit']" ).click(function() {
	
		var tabdeb = ($(".d-depart").val().split("/"));
		var tabfin = ($(".d-arrivee").val().split("/"));
		var tabfinex = ($(".date-expiration").val().split("/"));
		
		var Odeb = new Date(tabdeb[2],tabdeb[1],tabdeb[0]);
		var Ofin = new Date(tabfin[2],tabfin[1],tabfin[0]);
		var Ofinex = new Date(tabfinex[2],tabfinex[1],tabfinex[0]);
	
	   if ($("#trajet_type_0").is(":checked") || $("#trajet_type_1").is(":checked") ) {
	   
		   if( Odeb > Ofin ){
				alert("merci de renseigner une date arrivée supérieur au date de départ.");
				$(".d-arrivee").val("") ;
				return false;
		   }
		   if( Odeb < Ofinex ){
				alert("merci de renseigner une date expiration inférieur au date de départ.");
				$(".date-expiration").val("") ;
				return false;
		   }
	   }
	   
	});
  
  
  $('.mode-form-2').hide();
  
  $('#trajet_type').change(function () {
    
    if ($("#trajet_type_0").is(":checked") || $("#trajet_type_1").is(":checked") ) {
      $('.mode-form-2').hide();
      $('.mode-form-1').fadeIn();
    }else{
      $('.mode-form-1').hide();
      $('.mode-form-2').fadeIn();
    }
    
  });
  
  
  $('#trajet_dateDepartFlexible, #trajet_dateArriveeFlexible').hide();
  
  $('#trajet_dateDepartFlexible, #trajet_dateArriveeFlexible').daterangepicker({
	 "format": 'DD/MM/YYYY',
	 "timePicker":false,
	 "autoApply": true,
	 "opens": "left",
	 "locale":"fr",
	 "language":"fr"
 });
 
 $('#trajet_dateDepartFlexible').on('apply.daterangepicker', function(ev, picker) {
	  $('#trajet_dateDepart').val( picker.endDate.format('DD/MM/YYYY') );
 });
 $('#trajet_dateArriveeFlexible').on('apply.daterangepicker', function(ev, picker) {
	  $('#trajet_dateArrive').val( picker.endDate.format('DD/MM/YYYY') );
 });
 
 $('#trajet_departIsFlexible').click(function() {
		var $this = $(this);  
		if ($this.is(':checked')) {
			$("#trajet_dateDepart").hide();
			$("#trajet_dateDepartFlexible").show();
		} else {
			$("#trajet_dateDepart").show();
			$("#trajet_dateDepartFlexible").hide();
		}
	});
	
	$('#trajet_arriveIsFlexible').click(function() {
		var $this = $(this);  
		if ($this.is(':checked')) {
			$("#trajet_dateArrive").hide();
			$("#trajet_dateArriveeFlexible").show();
		} else {
			$("#trajet_dateArrive").show();
			$("#trajet_dateArriveeFlexible").hide();
		}
	});
 
 
  

    </script> 
{% endblock %} 