{% extends "HellofretBackEndBundle::layouttransporteur.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block style %}

  {{ parent() }}
  {% stylesheets 'css/datepicker/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  
{% endblock %}

{% block Hellofret_body %}
  <div class="deposer-une-annonce">
    <h1 class="content-header">Deposer Une Annonce</h1>
    
    
    <!-- Main content -->
    <section class="content"> 
    
    <div class="block-add-annonce clear">
            <div class="hf-block overlay-wrapper col-md-6 col-sm-8 right">
              <div class="overlay" style="display:none">
                  <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="hf-block-head">
                <h2>Déposez gratuitement votre annonce</h2> 
              </div>
			  <section class="content-messages">
				   {# On affiche tous les messages flash dont le nom est « info » #}
				{% for message in app.session.flashbag.get('notice') %}
				 <div class="col-md-12">
				   <div class="alert alert-success alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					  <h4>  <i class="icon fa fa-check"></i>
					   
						 {{ message }} 
						
					  </h4> 
					</div>
				  </div>
				{% endfor %}
			  </section>
            </div>
        </div>
    
    </section><!-- /.content -->
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  <script>
  
  function getCategorie(mode){
    $.ajax({
        url: "{{ path('hellofret_fret_find') }}",
        type: 'POST',
        data: {'mode': mode},
        dataType: 'json',
        success: function(json){ // quand la réponse de la requete arrive
          $('select#fret_categorie').html('');
          $.each(json, function(index, value) { // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
            $('#fret_categorie').append('<option value="'+ value.id +'">'+ value.titre +'</option>');
          });
          $('.hf-block .overlay').fadeOut();
        }
      });
  }
  var mode = $("select#fret_mode option:selected").attr("value");
  getCategorie(mode) ;
  $('#fret_mode').change(function () {
    $('.hf-block .overlay').fadeIn();
    var mode = $("select#fret_mode option:selected").attr("value");
    getCategorie(mode) ;
  });
    
     
  </script>
  {% javascripts 
    'js/datepicker/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  
  
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
    <script type="text/javascript">
      var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
      var depart = document.getElementById('trajet_villeDepart');
      var arrivee = document.getElementById('trajet_villeArrive');

      autocomplete1 = new google.maps.places.Autocomplete(depart, options);
      autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);

    ;(function($){
      $.fn.datepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
        daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
        months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
        monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Déc"],
        today: "Aujourd'hui",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
      };
    }(jQuery));
  
      $('.d-depart, .d-arrivee, .date-expiration').datepicker({
      language:"fr",
      closeText: 'Fermer',
      autoclose:"true",
      pickerPosition:"bottom-left",
      todayBtn:"true",
      startDate: new Date()
    });
    
    $('.mode-form-2').hide();
	
	$('#trajet_type').change(function () {
		
		if ($("#trajet_type_0").is(":checked") || $("#trajet_type_1").is(":checked") ) {
			$('.mode-form-2').hide();
			$('.mode-form-1').fadeIn();
		}else{
			$('.mode-form-1').hide();
			$('.mode-form-2').fadeIn();
		}
		
	});

    </script>
  
{% endblock %}



