
{% if is_granted("ROLE_ADMIN") %}
	{% set template = "HellofretBackEndBundle::layoutadmin.html.twig" %} 
{% elseif is_granted("ROLE_CHARGEUR")  %}
	{% set template = "HellofretBackEndBundle::layoutchargeur.html.twig" %}
{% elseif is_granted("ROLE_TRANSPORTEUR")   %}
 	{% set template = "HellofretBackEndBundle::layouttransporteur.html.twig" %}
{% else %}
	{% set template = "HellofretFrontBundle::layout.html.twig" %}
{% endif %}

{% extends  template  %}




{% block title %}
  Trajet N° {{ trajet.id }} - {{ parent() }}
{% endblock %}


{% block Hellofret_body %}


<section class="content-header">
  <h1>
	Aperçu de l'annonce
	<small>Trajet</small>
	De : <small>{{ trajet.profil.profile.nomCommercial }}</small>
  </h1>
  <ol class="breadcrumb">
	<li><a href="{{ path("hellofret_front_chargeur_index") }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
	<li class="active">Trajet N° {{ trajet.id }}</li>
  </ol>
</section>  
<section class="content">
<div class="wrapper-viewfret">
	<section class="content-messages">
	   {# On affiche tous les messages flash dont le nom est « info » #}
	    {% for message in app.session.flashbag.get('notice') %} 
	       <div class="alert alert-success alert-dismissable">
	          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	          <h4>  <i class="icon fa fa-check"></i>
	           
	             {{ message }} 
	            
	          </h4> 
	        </div> 
	    {% endfor %}

	    {% if trajet.disponible is same as(false) %}
			<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4><i class="icon fa fa-warning"></i> Note:</h4>
				Cette annonce n'est pas encore validé par l'équipe de hellofret.com
			</div>
		{% endif %}
	</section>
	<div class="col-md-12 no-padding viewtrajet">
		  <!-- Widget: user widget style 1 -->
		  <div class="box box-widget widget-user">
		    <!-- Add the bg color to the header using any of the bg-* classes -->
		    <div class="widget-user-header bg-aqua-active viewfret ">
		      <h3 class="widget-user-username titre-annonce">{{ trajet.titre }} <span> Annonce créée le {{ trajet.dateCreation|date('d/m/Y') }}</span></h3>
		      <h5 class="widget-user-desc">Expire le {{ trajet.dateExpiration|date('d/m/Y') }}</h5>
		    </div> 
		    <div class="box-footer">
		      <div class="row">
		        <div class="col-sm-6 border-right">
		          <div class="description-block">
		            <h5 class="description-header">Type de trajet :</h5>
		            <span class="description-text">{{ trajet.type }}</span>
		          </div><!-- /.description-block -->
		        </div><!-- /.col -->
		        <div class="col-sm-6">
		          <div class="description-block">
		            <h5 class="description-header">Mode de trajet :</h5>
		            <span class="description-text">{{ trajet.mode.titre }}</span>
		          </div><!-- /.description-block -->
		        </div><!-- /.col --> 
		      </div><!-- /.row -->
		      <div class="space-20"></div>

		      <div id="map_canvas" style="margin-bottom: 20px;width: 100%; height: 400px"></div>

		      <div class="space-20"></div>
		      <div class="row infotrajet">
				      <div class="col-md-6">  
			        	<div class="">
				          <div class="box box-primary">
				            <div class="box-header with-border">
				              <h3 class="box-title">Ville de départ</h3>
				              <div class="box-tools pull-right">
				                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				              </div><!-- /.box-tools -->
				            </div><!-- /.box-header -->
				            <div style="display: block;" class="box-body">
				              {{ trajet.villeDepart }}
				            </div><!-- /.box-body -->
				          </div><!-- /.box -->
				        </div>

				        <div class="">
				          <div class="box box-primary">
				            <div class="box-header with-border">
				              <h3 class="box-title">Ville d'arrivée</h3>
				              <div class="box-tools pull-right">
				                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				              </div><!-- /.box-tools -->
				            </div><!-- /.box-header -->
				            <div style="display: block;" class="box-body">
				              {{ trajet.villeArrive }}
				            </div><!-- /.box-body -->
				          </div><!-- /.box -->
				        </div> 
				      </div>
			        <div class="col-md-6">  
		                {% if (trajet.type == 'Fret supplémentaire' or trajet.type == 'Retour à vide' ) %}

							<div class="">
					          <div class="box box-primary">
					            <div class="box-header with-border">
					              <h3 class="box-title">Date Depart :</h3>
					              <div class="box-tools pull-right">
					                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					              </div><!-- /.box-tools -->
					            </div><!-- /.box-header -->
					            <div style="display: block;" class="box-body">
					             	{% if trajet.departIsFlexible == 1 %}
										Entre : {{ trajet.dateDepartFlexible }}
									{% else %}
										{{ trajet.dateDepart|date('d/m/Y') }}
									{% endif %}
					            </div><!-- /.box-body -->
					          </div><!-- /.box -->
					        </div>
					        <div class="">
					          <div class="box box-primary">
					            <div class="box-header with-border">
					              <h3 class="box-title">Date Arrivée :</h3>
					              <div class="box-tools pull-right">
					                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					              </div><!-- /.box-tools -->
					            </div><!-- /.box-header -->
					            <div style="display: block;" class="box-body">
					             {% if trajet.arriveIsFlexible == 1 %}
									Entre : {{ trajet.dateArriveeFlexible }}
								 {% else %}
									{{ trajet.dateArrive|date('d/m/Y') }}
								 {% endif %}
					            </div><!-- /.box-body -->
					          </div><!-- /.box -->
					        </div> 

		            	{% else %}
							<div class="">
					          <div class="box box-primary">
					            <div class="box-header with-border">
					              <h3 class="box-title">Fréquence de Voyage:</h3>
					              <div class="box-tools pull-right">
					                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					              </div><!-- /.box-tools -->
					            </div><!-- /.box-header -->
					            <div style="display: block;" class="box-body">
					             {{ trajet.nombrePeriode }} par {{ trajet.typePeriode }}
					            </div><!-- /.box-body -->
					          </div><!-- /.box -->
					        </div>  
						{% endif %} 
			      </div>
			    </div>{# .row #}
	 			<div class="row">
		      		<div class="col-md-12">
			          <div class="box box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title">Villes escales :</h3>
			              <div class="box-tools pull-right">
			                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			              </div><!-- /.box-tools -->
			            </div><!-- /.box-header -->
			            <div style="display: block;" class="box-body">
			            {{ trajet.escales }}
			            </div><!-- /.box-body -->
			          </div><!-- /.box -->
			        </div>
		      	</div>
			    <div class="row">
		      		<div class="col-md-12">
			          <div class="box box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title">Informations Complémentaires</h3>
			              <div class="box-tools pull-right">
			                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			              </div><!-- /.box-tools -->
			            </div><!-- /.box-header -->
			            <div style="display: block;" class="box-body">
			             {{ trajet.informationsComplementaires }}
			            </div><!-- /.box-body -->
			          </div><!-- /.box -->
			        </div>
		      	</div>{# .row #}
		      	<div class="row">
		      		{% if not is_granted("ROLE_ADMIN") and (is_granted("ROLE_TRANSPORTEUR") or is_granted("ROLE_CHARGEUR")) %} 
					{# ////////////////////////////////////////////////************ #}
					<div class="col-md-12">
						<div class="Messages-fret overlay-wrapper" id="messages">
							<div class="overlay" style="display:none">
								  <i class="fa fa-refresh fa-spin"></i>
							</div> 
							<div class="col-md-12 no-padding">
				              <!-- DIRECT CHAT SUCCESS -->
				              <div class="box box-success direct-chat direct-chat-primary">
				                <div class="box-header with-border">
				                  <h3 class="box-title">Messages</h3> <br>
						          <span class="">Pour toute question sur cette annonce...</span>
				                  <div class="box-tools pull-right"> 
				                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button> 
				                  </div>
				                </div><!-- /.box-header -->

				                <div style="display: block;" class="box-body">
				                  <!-- Conversations are loaded here -->
				                  <div class="direct-chat-messages" id="direct-chat-messages">
				                    <!-- Message. Default to the left -->
				                    {% if messages is empty %}
										<div class="alert alert-info alert-dismissable">
						                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						                    <h4 style="margin: 0px;"><i class="icon fa fa-ban"></i> Aucun message publié pour l'instant...</h4>
						                </div> 
									{% else %}
										{% for message in messages %}

											{% if message.profil.isGranted("ROLE_CHARGEUR") %}
												{% set class = "left" %}
												{% set class_ = "right" %}
											{% else %}
												{% set class = "right" %}
												{% set class_ = "left" %}
											{% endif %}

						                    <div class="direct-chat-msg  {{ class }} col-xs-12 no-padding">
						                      <div class="direct-chat-info clearfix">
						                        <span class="direct-chat-name pull-{{ class }}">{{ message.profil.profile.nomCommercial }}</span>
						                        <span class="direct-chat-timestamp pull-{{ class_ }}">{{ message.date|date('d/m/Y H:i:s') }}</span>
						                      </div><!-- /.direct-chat-info -->
						                      <img class="direct-chat-img" src="{{ asset(message.profil.profile.logo.webPath) }}" alt="message user image"><!-- /.direct-chat-img -->
						                      <div class="direct-chat-text">
						                         {{ message.content }}
						                      </div><!-- /.direct-chat-text -->
						                    </div><!-- /.direct-chat-msg --> 
				                    	{% endfor %} 
									{% endif %}
				                  </div><!--/.direct-chat-messages-->
		 
				                </div><!-- /.box-body -->

				                <div style="display: block;" class="box-footer">
				                  <form action="#" method="post">
				                    <div class="input-group">
				                      <input  id="message-send" onKeyUp="javascript:void(-1)" placeholder="Appuyez sur Entrée pour envoyer un message" type="text" class="form-control">
				                      <span class="input-group-btn">
				                        <button type="button" id="btn-message-send" class="btn btn-success btn-flat">Envoyer</button>
				                      </span>
				                    </div>
				                  </form>
				                </div><!-- /.box-footer-->
				              </div><!--/.direct-chat -->
				            </div> 
						</div>
					</div>
					{# ////////////////////////////////////////////////************ #}

					</div>{# .row #}
					<div class="row">
	                
	                {% if is_granted("ROLE_CHARGEUR") %}
					
						{% if trajet.approbation is same as(false) %}
						
	                    <div class="fret-transport-action  block-bottom">
	                        <div class="box-button"> 
	                            <a href="{{ path('hellofret_trajet_save', {'id': trajet.id}) }}" class="btn btn-app save-annonce confirmation" data-message="Voulez vous vraiment sauvegarder cette annonce ?">
				                    <i class="fa fa-save"></i>Sauvegarder l'annonce
				                </a>

								{% if demandes is empty %}
								<a href="{{ path('hellofret_transporteur_demande_add', {'id': trajet.id}) }}" class="btn btn-app proposer-devis confirmation" data-message="Voulez vous vraiment faire une demande à cette annonce ?">
				                    <i class="fa fa-thumbs-o-up"></i>Je suis intéressé
				                </a>	 
								{% endif %}
							</div>
	                    </div>
						{% endif %}
						
	                {% elseif is_granted("ROLE_TRANSPORTEUR")  %}
                    	
                        {% if app.user.id == trajet.profil.id %}
                        
	                    <div class="fret-transport-action  block-bottom"> 
							<div class="box-button">
	                        	<a href="{{ path('hellofret_transporteur_trajet_delete', {'id': trajet.id}) }}"  
	                        	   class="btn btn-app supp-annonce confirmation" 
	                        	   data-message="Voulez vous vraiment supprimer cette annonce ?">
				                    <i class="fa fa-remove"></i>Supprimer mon annonce
				                </a>
	                           {% if trajet.approbation is same as(false) %}
				                <a class="btn btn-app edit-annonce"  href="{{ path('hellofret_transporteur_trajet_edit', {'id': trajet.id}) }}" >
				                    <i class="fa fa-edit"></i>Modifier mon annonce
				                </a>
	                            {% endif %}
	                        </div>
	                    </div>
                        
                        {% endif %}
                        
                         
	                {% endif %}
					<div class="space-20"></div>
		     		<div class="space-20"></div>
                    
                        
                        <div class="viewdemande col-md-12" id="devis">
                            <div class="box-form-fret">
                                {% if demandes is empty %}
                                    {% if is_granted("ROLE_CHARGEUR") %}
                                     
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h4 style="margin: 0px;"><i class="icon fa fa-ban"></i> Vous n'avez pas encore ajouté votre demande</h4>
                                        </div> 
                                    
                                    {% elseif is_granted("ROLE_TRANSPORTEUR")  %} 
                                        <div class="alert alert-warning alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h4 style="margin: 0px;"><i class="icon fa fa-ban"></i> Aucun demande jusqu'à maintenant</h4>
                                        </div> 
                                    {% endif %}
                                
                                {% else %}
                                    {% if is_granted("ROLE_TRANSPORTEUR") %}
                                        <h3>Les demandes</h3>
                                    {% elseif is_granted("ROLE_CHARGEUR")  %}
                                        <h3>Ma demande</h3>
                                    {% endif %}
                                    
									{% if (app.user.id == trajet.profil.id and is_granted("ROLE_TRANSPORTEUR")) or ( is_granted("ROLE_CHARGEUR") ) %}
                                    
                                        {% for demande in demandes %}
                                                {{ include('HellofretBackEndBundle:Demande:ithem.html.twig') }}
                                        {% endfor %}
                                    
                                    {% endif %}
                                
                                {% endif %}
                                
                                
                            </div>
                        </div>
                        
	                
					{% endif %}
					
					{% if is_granted("ROLE_ADMIN") and trajet.disponible is same as(false) %}
					
					<div class="row">
						<div class="col-md-12">
							<a  href="{{ path('hellofret_admin_trajet_approuver', {'id': trajet.id}) }}"  class="btn btn-app save-annonce confirmation" data-message="Voulez vous vraiment Approuver cette annonce ?">
										<i class="fa fa-check"></i>Approuver
									</a>
						</div>
					</div>
					
					{% endif %}
                    {% if not is_granted("ROLE_ADMIN") and not is_granted("ROLE_TRANSPORTEUR") and not is_granted("ROLE_CHARGEUR") %}
			
                    <div class="row">
                        <div class="col-md-12 block-connect">
                            <a  href="{{ path("fos_user_security_login") }}"  class="btn btn-info">
                            	<i class="fa fa-user"></i> Connectez-vous</a> pour toute action sur cette annonce. 
                        </div>
                    </div>
                    
                    {% endif %} 
                   

		      	</div>{# .row #}
		      	 <br>
            	<button type="button" class="btn btn-warning"  onclick="history.back()"><i class="fa fa-backward"></i> Retour</button>
		    </div>
		  </div>
	</div> 
</div>		
		
		
</section>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
       <p>Vous voullez vraiment faire cett action ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Non</button>
        <a href="">
        	<button type="button" class="btn btn-danger">Oui</button>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

{% endblock %}


{% block javascripts %}
  {{ parent() }}
  
  {% if not is_granted("ROLE_ADMIN") and (is_granted("ROLE_TRANSPORTEUR") or is_granted("ROLE_CHARGEUR")) %}
  
  <script>
  	{% if is_granted("ROLE_TRANSPORTEUR")  %} 
		{% set class1 = "right" %}
		{% set class2 = "left" %}
	{% else %}
		{% set class1 = "left" %}
		{% set class2 = "right" %}
	{% endif %}
	var class1 = '{{ class1 }}';
	var class2 = '{{ class2 }}';

  	function addMessage(fret, content, profil){
		$.ajax({
			url: "{{ path('hellofret_message_trajet_add') }}",
			type: 'POST',
			data: {'fret': fret, 'content': content, 'profil': profil },
			dataType: 'json',
			error: function (request, error) {
				console.log(arguments);
				alert(" Can't do because: " + error);
			},
			success: function(json){
				
			 $.each(json, function(index, value) {  
					$( ".direct-chat-messages" ).append( '<div class="direct-chat-msg '+class1+' col-xs-12 no-padding"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-'+class1+'">{{ app.user.profile.nomCommercial }}</span><span class="direct-chat-timestamp pull-'+class2+'">'+value.date+'</span></div><img class="direct-chat-img" src="{{ asset(app.user.profile.logo.webPath) }}" alt="message user image"><div class="direct-chat-text">'+$('#message-send').val()+'</div></div>' );
			  });
			  
			  $('.overlay').fadeOut();
			    $('#message-send').val('');
			     $('.direct-chat-messages .alert').remove();
			  	var objDiv = document.getElementById("direct-chat-messages");
				objDiv.scrollTop = objDiv.scrollHeight;
			}
		  });
	  }
  	
	$(document).keypress(function(e) {
		if(e.which == 13) {
			e.preventDefault();
			if( $('#message-send').val() != ""){
				$('.overlay').fadeIn();
				var fret = {{ trajet.id }};
				var content = $('#message-send').val();
				var profil = {{ app.user.id}};
				addMessage(fret, content, profil) ;
			}
		}
	});

	$('#btn-message-send').click(function (e) {
		e.preventDefault();
		if( $('#message-send').val() != ""){
			$('.overlay').fadeIn();
			var fret = {{ trajet.id }};
			var content = $('#message-send').val();
			var profil = {{ app.user.id}};
			addMessage(fret, content, profil) ;
		}
	})

	var objDiv = document.getElementById("direct-chat-messages");
	objDiv.scrollTop = objDiv.scrollHeight;
	
	</script>
    
  {% endif %}
  </script>
{# //////////////////////******************* Map *********************///////////////////////// #}
<script src=" http://maps.google.com/?file=api&amp;v=2&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw"
      type="text/javascript"></script>
<script type="text/javascript">
 
    var map;
    var gdir;
    var geocoder = null;
    var addressMarker;

    function initialize() {
      if (GBrowserIsCompatible()) {      
        map = new GMap2(document.getElementById("map_canvas"));
        gdir = new GDirections(map, document.getElementById("directions"));
        GEvent.addListener(gdir, "addoverlay", onGDirectionsLoad);
        GEvent.addListener(gdir, "error", handleErrors);

        setDirections("{{ trajet.villeDepart }}", "{{ trajet.villeArrive }}", "fr");
      }
    }
    
    function setDirections(fromAddress, toAddress, locale) {
      gdir.load("from: " + fromAddress + " to: " + toAddress,
                { "locale": locale });
    }

    function handleErrors(){
   if (gdir.getStatus().code == G_GEO_UNKNOWN_ADDRESS)
     alert("No corresponding geographic location could be found for one of the specified addresses. This may be due to the fact that the address is relatively new, or it may be incorrect.\nError code: " + gdir.getStatus().code);
   else if (gdir.getStatus().code == G_GEO_SERVER_ERROR)
     alert("A geocoding or directions request could not be successfully processed, yet the exact reason for the failure is not known.\n Error code: " + gdir.getStatus().code);
   else if (gdir.getStatus().code == G_GEO_MISSING_QUERY)
     alert("The HTTP q parameter was either missing or had no value. For geocoder requests, this means that an empty address was specified as input. For directions requests, this means that no query was specified in the input.\n Error code: " + gdir.getStatus().code);
   else if (gdir.getStatus().code == G_GEO_BAD_KEY)
     alert("The given key is either invalid or does not match the domain for which it was given. \n Error code: " + gdir.getStatus().code);
   else if (gdir.getStatus().code == G_GEO_BAD_REQUEST)
     alert("A directions request could not be successfully parsed.\n Error code: " + gdir.getStatus().code);
   else alert("An unknown error occurred.");
    }

  function onGDirectionsLoad(){ 
   var poly = gdir.getPolyline();
   if (poly.getVertexCount() > 100) {
     alert("This route has too many vertices");
     return;
   }
   var baseUrl = "http://maps.google.com/staticmap?";

   var params = [];
   var markersArray = [];
   markersArray.push(poly.getVertex(0).toUrlValue(5) + ",greena");
   markersArray.push(poly.getVertex(poly.getVertexCount()-1).toUrlValue(5) + ",greenb");
   params.push("markers=" + markersArray.join("|"));

   var polyParams = "rgba:0x0000FF80,weight:5|";
   var polyLatLngs = [];
   for (var j = 0; j < poly.getVertexCount(); j++) {
     polyLatLngs.push(poly.getVertex(j).lat().toFixed(5) + "," + poly.getVertex(j).lng().toFixed(5));
   }
   params.push("path=" + polyParams + polyLatLngs.join("|"));
   params.push("size=300x300");
   params.push("key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw");

   baseUrl += params.join("&");

   var extraParams = [];
   extraParams.push("center=" + map.getCenter().lat().toFixed(6) + "," + map.getCenter().lng().toFixed(6));
   extraParams.push("zoom=" + map.getZoom());
   addImg(baseUrl + "&" + extraParams.join("&"), "staticMapOverviewIMG");

   var extraParams = [];
   extraParams.push("center=" + poly.getVertex(0).toUrlValue(5));
   extraParams.push("zoom=" + 15);
   addImg(baseUrl + "&" + extraParams.join("&"), "staticMapStartIMG");

   var extraParams = [];
   extraParams.push("center=" + poly.getVertex(poly.getVertexCount()-1).toUrlValue(5));
   extraParams.push("zoom=" + 15);
   addImg(baseUrl + "&" + extraParams.join("&"), "staticMapEndIMG");
}

function addImg(url, id) {
 var img = document.createElement("img");
 img.src = url;
 document.getElementById(id).innerHTML = "";
 document.getElementById(id).appendChild(img);
}
 
setTimeout(function() {
	  initialize(); 
},200);
{# //////////////////////******************* Map *********************///////////////////////// #}
</script>
{% endblock %}
