{% extends "HellofretBackEndBundle::layoutchargeur.html.twig" %}

{% block title %}
  Ajouter une demande - {{ parent() }}
{% endblock %}

{% block Hellofret_body %}

	<section class="content-header">
          <h1>
            Demande
            <small>Trajet N° {{ trajet.id }}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ path("hellofret_front_transporteur_index") }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Mon Compte</li>
          </ol>
   </section>
   <section class="content-messages">
	   {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice') %}
     <div class="col-md-12">
       <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>  <i class="icon fa fa-check"></i>
           
             {{ message }} 
            
          </h4> 
        </div>
      </div>
    {% endfor %}
	</section>
  <section class="content add-devis">
      <div class="box box-info"> 
                <!-- form start -->
                {{ form_start(form) }}
                <div class="form-horizontal">
                  <div class="box-body">
                      
                    <div class="form-group" style="display:none">
                      <div class="col-sm-4"> 
                        {{ form_label(form.categorie, "Catégorie", {'label_attr': {'class': 'form-label'}}) }}
                      </div>
                      <div class="col-sm-8">
                         {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                        <div class="error">
                          {{ form_errors(form.categorie) }}
                        </div>
                      </div> 
                    </div>

                     <div class="form-group">
                      <div class="col-sm-4"> 
                        {{ form_label(form.villeDepart, "Ville Départ", {'label_attr': {'class': 'form-label'}}) }}
                      </div>
                      <div class="col-sm-8">
                         {{ form_widget(form.villeDepart, {'attr': {'class': 'form-control'}}) }}
                        <div class="error">
                          {{ form_errors(form.villeDepart) }}
                        </div>
                      </div> 
                    </div>

                    <div class="form-group">
                      <div class="col-sm-4"> 
                       {{ form_label(form.villeArrivee, "Ville Arrivée", {'label_attr': {'class': 'form-label'}}) }}
                      </div>
                      <div class="col-sm-8">
                         {{ form_widget(form.villeArrivee, {'attr': {'class': 'form-control'}}) }}
                        <div class="error">
                          {{ form_errors(form.villeArrivee) }}
                        </div>
                      </div> 
                    </div>

                    <div class="form-group">
                      <div class="col-sm-4"> 
                        {{ form_label(form.informationComplementaires, "Détails de votre marchandise", {'label_attr': {'class': 'form-label'}}) }}
                      </div>
                      <div class="col-sm-8">
                         {{ form_widget(form.informationComplementaires, {'attr': {'class': 'form-control'}}) }}
                        <div class="error">
                          {{ form_errors(form.informationComplementaires) }}
                        </div>
                      </div> 
                    </div>  
                     
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button class="btn btn-default" onclick="history.back()">Annuler</button>
                    <button type="submit" data-type="form" style="display:none" ></button>
                    <button data-form="form" class="btn btn-info pull-right confirmation" data-message="Vous voullez vraiment faire cette demande ?">Valider</button>
                  </div><!-- /.box-footer -->
                 </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
          </div> 
   </section>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
       <p>Vous voullez vraiment faire cett action ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Non</button>
        <a href="">
          <button type="button" class="btn btn-danger">Oui</button>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  <script>
  
  function getCategorie(mode){
    $.ajax({
        url: "{{ path('hellofret_fret_find') }}",
        type: 'POST',
        data: {'mode': mode},
        dataType: 'json',
        success: function(json){ // quand la réponse de la requete arrive
          $('select#demande_categorie').html('');
          $.each(json, function(index, value) { // et  boucle sur la réponse contenu dans la variable passé à la function du success "json"
            $('#demande_categorie').append('<option value="'+ value.id +'">'+ value.titre +'</option>');
          });
          $('.hf-block .overlay').fadeOut();
        }
      });
  }
  var mode = {{ trajet.mode.id }};
  getCategorie(mode) ;
  
    
     
  </script>
{% javascripts 
    'js/datepicker/bootstrap-datetimepicker.min.js'
	'js/datepicker/bootstrap-datepicker.js'
	'js/datepicker/bootstrap-datetimepicker.fr.js'
	'js/datepicker/daterangepicker.js'
	 filter='cssrewrite' %}
<script src="{{ asset_url }}"></script> 
{% endjavascripts %}
  
  
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
    <script type="text/javascript">
      var options = {
         types: ['(cities)']
         ///componentRestrictions: {country: 'ma'}
      };
      var depart = document.getElementById('demande_villeDepart');
      var arrivee = document.getElementById('demande_villeArrivee');

      autocomplete1 = new google.maps.places.Autocomplete(depart, options);
      autocomplete2 = new google.maps.places.Autocomplete(arrivee, options);

    
    
    

    </script>
  
{% endblock %}