<div class="box box-success collapsed-box viewdevis"> 
  <div class="box-header with-border">
    <h3 class="box-title">Demande sous le nom : {{ demande.profil.profile.nomCommercial }}</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse" style="color:rgb(47, 39, 37); font-size:14px">Voir demande &nbsp;&nbsp;<i class="fa fa-plus"style="font-size:12px"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div style="display: none;" class="box-body">
    <div class="row">
      <div class="col-xs-12 info-devis">
        <p> Mode : {{ trajet.mode.titre }} </p>
        <p> Catégorie : {{ demande.categorie.titre  }} </p>
        <p> Ville départ : {{ demande.villeDepart }} </p>
        <p> Ville arrivée : {{ demande.villeArrivee }} </p>
        <p> Information supplémentaires: {{ demande.informationComplementaires }} </p>
      </div>
      <div class="col-xs-12"> {% if is_granted("ROLE_CHARGEUR")  %}
        
        {% if demande.approbation is null %} 
        <!--<p class="text-yellow">Le transporteur n'a pas encore pris de decision</p>--> 
        {% elseif demande.approbation == 0  %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4 style="margin: 0px;"><i class="icon fa fa-ban"></i> Le transporteur a refusé votre demande</h4>
        </div>
        {% endif %} <a class="btn btn-app edit-annonce" href="{{ path("hellofret_transporteur_demande_edit", {'id': demande.id }) }}"> <i class="fa fa-edit"></i>Modifier ma demande </a>
        <div class="space-20"></div>
        {% elseif is_granted("ROLE_TRANSPORTEUR") %}
        {% if demande.devisDemande is null %} <a href="{{ path("hellofret_transporteur_devisdemande_add", {'id': demande.id }) }}" class="btn btn-app proposer-devis"> <i class="fa  fa-file-text-o"></i>Proposer un devis </a> {% endif %}
        
        {% if demande.approbation is null %} <a href="{{ path("hellofret_transporteur_demande_refuser", {'id': demande.id }) }}" class="btn btn-app supp-annonce confirmation" data-message="Vous voulez vraiment supprimer cette demande ?"> <i class="fa fa-remove"></i>Refuser cette demande </a> {% elseif demande.approbation == 0  %}
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4 style="margin: 0px;"><i class="icon fa fa-ban"></i>Vous avez déjà refuser cette demande</h4>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4 style="margin: 0px;"><i class="icon fa fa-ban"></i>Vous avez accepté cette demande</h4>
        </div>
        {% endif %}
        
        {% endif %} </div>
      <div class="space-20"></div>
      <div class="col-xs-12"> {% if demande.devisDemande is null %}
        {% if is_granted("ROLE_CHARGEUR")  %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4 style="margin: 0px;"><i class="icon fa fa-ban"></i>Le transporteur n'a pas encore proposé son devis</h4>
        </div>
        {% else %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4 style="margin: 0px;"><i class="icon fa fa-ban"></i>Vous avez pas encore proposer votre devis</h4>
        </div>
        {% endif %}
        {% else %}
        
        {% if is_granted("ROLE_CHARGEUR")  %}
        <h3>Devis de transporteur</h3>
        {% else %}
        <h3>Mon devis</h3>
        {% endif %}
        
        
        {{ include('HellofretBackEndBundle:DevisDemande:ithem.html.twig') }}
        
        {% endif %} </div>
    </div>
  </div>
  <!-- /.box-body --> 
  
</div>
